﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    var KullaniciBilgi = Haveak_Pro.Models.AktifKullanici.Aktif;
    var mesajKisi = (List<Haveak_Pro.Controllers.ProjectMessage>)ViewBag.MesajBaslik;
    var mesajIcerik = (List<Mesajlar>)ViewBag.MesajIcerik;
    var adminUSer = (List<Kullanici>)ViewBag.AdminDetay;
    var duyurular = (List<Duyurular>)ViewBag.Duyurular;
    Dictionary dicList = new Dictionary();
    var oncelikDurum = dicList.DuyuruOncelik();
    var sinavlar = (List<Personel_Sinavlar>)ViewBag.Sinavlar;
    var sinavAciklama = (List<Personel_Sinavlar>)ViewBag.SinavAciklama;
    var mesajKisiler = (List<KullaniciPersonel>)ViewBag.MesajKisiler;
    //var adminler = (List<Kullanici>)ViewBag.Adminler;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;
@using Haveak_Pro.Controllers;

<!-- PAGE CONTENT -->
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>


<ul class="breadcrumb">
    <li></li>
</ul>

<div class="page-content-wrap">

    <!-- START WIDGETS -->
    <div class="row">
        @if (UserRoleName.EGITIM_OgrenciGirisi.InRole())
        {
            <div class="col-md-3">
                <div class="widget widget-success widget-item-icon" onclick="location.href='@Url.Action("Index", "Home", new { area = "EGITIM" })';">
                    <div class="widget-item-left">
                        <a href="@Url.Action("Index", "Home", new { area = "EGITIM" })"><span class="fa fa-book"></span></a>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">EĞİTİM</div>
                        <div class="widget-title">HİZMETLERİ</div>
                        <div class="widget-subtitle">Kurslar</div>
                    </div>
                </div>

            </div>
        }
        @if (UserRoleName.GUVENLIK_OgrenciGirisi.InRole())
        {
            <div class="col-md-3">

                <!-- START WIDGET CLOCK -->
                <div class="widget widget-danger widget-padding-sm">
                    @* <div class="widget-big-int plugin-clock">00:00</div> *@
                    @*   <div class="widget-subtitle plugin-date">Loading...</div>*@
                    <div class="widget-big-int">SİMULATÖR</div>
                    @*  <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>  *@
                    <div class="widget-buttons widget-c5">
                        <div class="col">
                            <a href="@Url.Action("MADDEINCELEME", "MaddeInceleme", new { area = "SIMULATOR" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>MAD</a>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("HEIMANN", "BagajInceleme", new { area = "SIMULATOR" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>HIE</a>
                        </div>

                        <div class="col">
                            <a href="@Url.Action("NUCTECH", "BagajInceleme", new { area = "SIMULATOR" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>NUC2</a>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("NUCTECH_ONE", "BagajInceleme", new { area = "SIMULATOR" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>NUC</a>
                        </div>
                        @* @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {  *@
                        <div class="col">
                            <a href="@Url.Action("RAPISCAN", "BagajInceleme", new { area = "SIMULATOR" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>RPS</a>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("Index", "TipSinav", new { area = "SINAV" })" style="font-size: small; color: white"><span class="fa fa-briefcase"></span>GİS</a>
                        </div>
                        @* }*@
                    </div>
                </div>
                <!-- END WIDGET CLOCK -->

            </div>
        }
        @if (UserRoleName.SINAVLAR_OgrenciGirisi.InRole())
        {
            <div class="col-md-3">

                <!-- START WIDGET MESSAGES -->
                <div class="widget widget-warning widget-item-icon" onclick="location.href='@Url.Action("Index", "Home", new { area = "SINAV" })';">
                    <div class="widget-item-left">
                        <a href="@Url.Action("Index", "Home", new { area = "SINAV" })"><span class="fa fa-pencil-square-o"></span></a>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">SINAV</div>
                        <div class="widget-title">Hizmetleri</div>
                        <div class="widget-subtitle">Teorik - Uygulama</div>
                    </div>
                    @* <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>*@
                </div>
                <!-- END WIDGET MESSAGES -->

            </div>
        }
        @if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_BagajTehlikelimadde.InRole() || UserRoleName.ADMIN_Egitim.InRole() || UserRoleName.ADMIN_PersonelKullanici.InRole() || UserRoleName.ADMIN_Sinav.InRole())
        {
            <div class="col-md-3">
                <div class="widget widget-primary widget-item-icon" onclick="location.href='@Url.Action("Index", "Home", new { area = "PANEL" })';">
                    <div class="widget-item-left">
                        <a href="@Url.Action("Index", "Home", new { area = "PANEL" })"><span class="fa fa-gears"></span></a>
                    </div>
                    <div class="widget-data">
                        <div class="widget-int num-count">PANEL</div>
                        <div class="widget-title">Yönetim Konsolu</div>
                        <div class="widget-subtitle">İşlemler</div>
                    </div>
                    @* <div class="widget-controls">
                            <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                        </div>*@
                </div>


            </div>
        }
    </div>
    <!-- END WIDGETS -->

    <div class="row">
        <div class="col-md-4">

            <!-- START SALES & EVENTS BLOCK -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-bullhorn"></span>	&nbsp;&nbsp;DUYURULAR</h3>
                </div>
                <div class="panel-body scroll" style="height: 452px">

                    @foreach (var item in duyurular.OrderByDescending(r => r.ID))
                    {
                        var oncelikSira = oncelikDurum.Where(r => r.Key == item.Oncelik).Select(e => e.Key).First();
                        string duyuruTipi = "";
                        string durumu = "";
                        string metin = "";
                        switch (item.Oncelik)
                        {
                            case 1:
                                durumu = "default";
                                metin = "Normal";
                                break;
                            case 2:
                                durumu = "warning";
                                metin = "Önemli";
                                break;
                            default:
                                durumu = "danger";
                                metin = "Acil";
                                break;
                        }
                        if (item.Tipi == 2)
                        {
                            duyuruTipi = "(ÖNEMLİ:SINAV DUYURUSU)";
                        }
                        <h6>
                            <span class="label label-@durumu">@metin</span> &nbsp;&nbsp;&nbsp; @item.Baslik <span class='label label-danger'>@duyuruTipi</span>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <label style="float:right; margin-right:17px;">@(item.Firmalar==null ? "Admin" : System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Firmalar.FirmaAdi.ToLower()))</label>
                            }
                        </h6>
                        <br />
                        <p style="text-align:justify">
                            @item.Duyuru<br />
                            <span class="text-muted"><i class="fa fa-clock-o"></i>@item.DuyuruTarihi.ToString("dd-MM-yyyy")</span>
                        </p>
                        <hr />
                    }
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-pencil"></span>	&nbsp;&nbsp;SINAVLAR</h3>
                    @* <ul class="panel-controls">
                            <li><a href="#" class="control-primary"><span class="fa fa-plus"></span></a></li>
                        </ul>*@
                </div>
                <div class="panel-body scroll" style="height: 452px">
                    @if (sinavlar.Count > 0)
                    {
                        foreach (var item in sinavlar.OrderByDescending(r => r.ID))
                        {
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-online"></div>
                                <span class="contacts-title"><b>@item.Sinavlar.SinavNo</b>@item.SinavTarihi.Value.ToLongDateString() @item.BaslamaSaati</span>
                                <p style="text-align:justify">@item.Sinavlar.Aciklama</p>
                            </a>
                        }
                    }
                    else
                    {
                        <br />
                        <div class="alert alert-info" role="alert">
                            <strong>UYARI</strong> Hesabına atanmış sınav bulunmamaktadır.
                        </div>
                    }

                    @if (sinavAciklama.Count > 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            @foreach (var item in sinavAciklama.OrderByDescending(r => r.ID))
                            {

                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title"><b>@item.Sinavlar.SinavNo</b> @item.SinavTarihi.Value.ToLongDateString() @item.BaslamaSaati</span>
                                    <p>Sınav Sonucu Açıklanmıştır</p>
                                </a>

                            }
                        </div>
                    }
                    else
                    {
                        <br />
                        <div class="alert alert-info" role="alert">
                            <strong>UYARI</strong> Açıklanan sınav sonucu bulunmamaktadır. (BUGÜN)
                        </div>
                    }


                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span>	&nbsp;&nbsp;MESAJLAR</h3>
                    <div class="pull-right">
                        <select id="AliciRef" class="select" data-live-search="true" onchange="MesajDataGetir();">
                            @if (!UserRoleName.ADMIN_Egitim.InRole() || !UserRoleName.ADMIN_Egitim.InRole())
                            {
                                <option value="0">Yönetici Seçin</option>
                            }
                            else
                            {
                                <option value="0">Kullanıcı Seçin</option>

                            }
                            @foreach (var item in mesajKisiler)
                            {
                                <option value="@item.ID">@item.Adi @item.Soyadi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="panel-body scroll" style="height: 400px">
                    <div id="MesajDetay" class="messages messages-img">
                        <div class="widget widget-default widget-carousel">
                            <div class="owl-carousel" id="owl-example">
                                <div>
                                    <div class="widget-title">Soru ve önerileriniz için</div>
                                    <div class="widget-subtitle">Bize yazınız</div>
                                    <div class="widget-int">1</div>
                                </div>
                                <div>
                                    <div class="widget-title">Telefon irtibatımızlada ulaşabilirsiniz</div>
                                    <div class="widget-subtitle">Bizi arayın</div>
                                    <div class="widget-int">2</div>
                                </div>
                                <div>
                                    <div class="widget-title">Görüş ve önerileriniz için</div>
                                    <div class="widget-subtitle">Bizi bilgilendirin.</div>
                                    <div class="widget-int">HAVEAK</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" id="Mesaj" class="form-control" placeholder="Mesaj Yazın..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="MesajGonder();">Gönder</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row scRow">
    <div class="col-md-12 scCol ui-sortable">

        <div class="panel panel-success" id="grid_block_5">
            <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                <h3 class="panel-title"><span class="fa fa-flag"></span>	&nbsp;&nbsp;REFERANSLAR</h3>
            </div>
            <div class="panel-body" style="text-align:center">
                <img src="~/img/shgm_logo.png" height="65" style="margin-right: 55px" />
                <img src="~/img/emniyetlogo.png" height="65" style="margin-right: 55px" />
                <img src="~/img/igalogo.jpg" height="65" style="margin-right: 55px" />
                <img src="~/img/heas.png" height="65" style="margin-right: 55px" />
                <img src="~/img/slojistik.png" height="65" style="margin-right: 55px" width="220" />
                <img src="~/img/gozensecurity.png" height="65" style="margin-right: 55px" />
                <img src="~/img/duha.jpg" height="65" style="margin-right: 55px" width="220" />
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

   @* function MesajDataGetir() {
        var gid = $('#AliciRef').val();
        if (gid =="0") {
            return;
        }
        $.get('@Url.Action("_MesajIcerikVt", "Home", new { area = "" })', { aliciRef: gid }, function (data) {
            $('#MesajDetay').html(data);
        });
    }  *@

    function MesajGonder() {
        var aliciRef = $('#AliciRef').val();
        var mesaj = $('#Mesaj').val();
        $.ajax({
            url: "/Home/MesajGonder",
            data: { 'aliciRef': aliciRef, 'mesaj': mesaj },
            success: (function (kaydet) {
                if (kaydet) {
                    MesajDataGetir();
                    $('#Mesaj').val('');
                }
            }),
            error: function (hata) {
                $('#hata').click();
            }
        });

    }

    function SinavaBasla(id) {
        window.location.href = '/SINAV/Home/SinavaBasla/' + id;
    }
</script>

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

