﻿@model List<Sinav_Sorular>
@{    
    int Personel_SinavRef = (int)ViewBag.Personel_Sinav_Ref;
    HaveakTurEntities Entity = (HaveakTurEntities)ViewBag.Entity;
}
@using Haveak_Pro.Models;

@if (Model.Where(r => r.SinavTipi_Ref == (int)Haveak_Pro.Areas.PANEL.Models.Enumlar.SoruTipleri.UYGULAMA).Count() > 0)
            {
    <div class="col-md-6">

        <h4 style="font-weight: bold">SORULAR (UYGULAMA)</h4>
        @{
            int indeks = 0;
            foreach (var item in Model.Where(r => r.SinavTipi_Ref == (int)Haveak_Pro.Areas.PANEL.Models.Enumlar.SoruTipleri.UYGULAMA).Select((r, x) => new { Index = x, Data = r }))
            {
                indeks++;
                var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == item.Data.ID && t.Personel_Sinavlar_Ref == Personel_SinavRef).Select(r => r.ID).Count() == 0 ? "btn btn-default" : "btn btn-danger";

                <a onclick="GetSinavSoruDetay(@item.Data.ID, @(item.Index + 1), '@Personel_SinavRef')" class="@soruDurum">@(item.Index + 1)</a>
                if (indeks == 14)
                {
                    <br />
                                    <br />
                    indeks = 0;
                }
            }
        }

    </div>
            }
@if (Model.Where(r => r.SinavTipi_Ref == (int)Haveak_Pro.Areas.PANEL.Models.Enumlar.SoruTipleri.TEORIK).Count() > 0)
{
    <div class="col-md-6">
        <h4 style="font-weight: bold">SORULAR (TEORİK)</h4>
        @{
            int indeks2 = 0;
            foreach (var itemc in Model.Where(r => r.SinavTipi_Ref == (int)Haveak_Pro.Areas.PANEL.Models.Enumlar.SoruTipleri.TEORIK).Select((r, x) => new { Index = x, Data = r }))
            {
                indeks2++;
                var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == itemc.Data.ID && t.Personel_Sinavlar_Ref == Personel_SinavRef).Select(r => r.ID).Count() == 0 ? "btn btn-default" : "btn btn-danger";
                <a onclick="GetSinavSoruDetay(@itemc.Data.ID, @(itemc.Index + 1),'@Personel_SinavRef')" class="@soruDurum">@(itemc.Index + 1)</a>
                if (indeks2 == 14)
                {
                    <br />
                                    <br />
                    indeks2 = 0;
                }
            }
        }
    </div>
            }