﻿@model List<Personel_Sinavlar>
@using Haveak_Pro.Models;
@{
    int index = 0;
}

@if (Model.Count > 0)
{
    <table class="table table-bordered text-center" id="duyurular">
        <thead>
            <tr>
                <th class="text-center">Sıra</th>
                <th class="text-center">Sınav No/Tarih</th>
                <th class="text-center">Baş/Bitiş Saat</th>
                <th class="text-center">Soru/Açıklama</th>
                <th class="text-center">S.Notu Teo.</th>
                <th class="text-center">S.Notu Uyg.</th>
                <th class="text-center">D.Sayısı Teo.</th>
                <th class="text-center">Y.Sayısı Teo.</th>
                <th class="text-center">Teo. Boş</th>
                <th class="text-center">D.Sayısı Uyg.</th>
                <th class="text-center">Y.Sayısı Uyg.</th>
                <th class="text-center">Uyg. Boş</th>
                <th class="text-center">Sonuç</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                index++;
                if (item.SinavAciklama == true)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.Sinavlar.SinavNo / @item.SinavTarihi.Value.ToShortDateString()</td>
                        <td>@(item.BaslamaSaati.HasValue ? item.BaslamaSaati.Value.ToString() : "-") / @(item.BitisSaati.HasValue ? item.BitisSaati.Value.ToString() : "-")</td>
                        <td>@item.Sinavlar.SoruSayisi / @item.Sinavlar.Aciklama</td>
                        <td><span class="badge badge-info"><b>@item.SinavNotuTeorik</b></span></td>
                        <td><span class="badge badge-info"><b>@item.SinavNotuUygulama</b></span></td>
                        <td><span class="badge badge-success">@item.DogruSayisiTeorik</span></td>
                        <td><span class="badge badge-important">@item.YanlisSayisiTeorik</span></td>
                        <td><span class="badge badge-inverse">@item.TeorikBos</span></td>
                        <td><span class="badge badge-success">@item.DogruSayisiUygulama</span></td>
                        <td><span class="badge badge-important">@item.YanlisSayisiUgulama</span></td>
                        <td><span class="badge badge-inverse">@item.UygulamaBos</span></td>
                        <td>
                            @{
                string durumu = "";
                if (item.Durum == "KALDI")
                {
                    durumu = "danger";
                }
                else if (item.Durum == "AÇIKLANMADI")
                {
                    durumu = "primary";
                }
                else
                {
                    durumu = "success";
                }
                if (durumu == "primary")
                {
                    <span class="label label-@durumu"><b>@item.Durum</b></span>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("SinavCevaplarPersonel","Home", new { area = "SINAV", id= item.ID})"><span class="label label-@durumu"><b>@item.Durum</b></span></a>                    
                }
                            }
                        </td>
                    </tr>
                                }
                                else
                                {
                                    DateTime tarih = DateTime.Now.Date;
                                    string sinavsonuc = string.Empty;
                                    if (item.Basladi == 1 && item.Bitti == 0 && item.SinavAciklama == false && item.SinavTarihi == tarih)
                                    {
                                        sinavsonuc = "SINAV DEVAM EDİYOR";
                                    }
                                    else if (item.Basladi == 1 && (item.Bitti == 1 || item.Bitti == 0) && item.SinavAciklama == false && item.SinavTarihi <= tarih)
                                    {
                                        sinavsonuc = "SINAV BİTTİ DEĞERLEME BEKLENİYOR";
                                    }
                                    else if (item.Basladi == 0 && item.Bitti == 1)
                                    {
                                        sinavsonuc = "GİRMEDİNİZ";
                                    }
                                    else
                                    {
                                        sinavsonuc = "SINAVA GİRMENİZ BEKLENİYOR";
                                    }
                    <tr>
                         <td>@index</td>
                         <td>@item.Sinavlar.SinavNo / @item.SinavTarihi.Value.ToShortDateString()</td>
                         <td>@(item.BaslamaSaati.HasValue ? item.BaslamaSaati.Value.ToString() : "-") / @(item.BitisSaati.HasValue ? item.BitisSaati.Value.ToString() : "-")</td>
                         <td>@item.Sinavlar.SoruSayisi / @item.Sinavlar.Aciklama</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td>0</td>
                         <td><span class="label label-@(sinavsonuc == "SINAV DEVAM EDİYOR" ? "warning" :"info")">@sinavsonuc</span> </td>
                     </tr>
                }
            }
        </tbody>


    </table>
                                }
                                @*<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h4>
                                                </div>
                                                <div class="modal-body" id="Cevaplar">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                @if (Model.Count == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Açıklanan Herhangi bir Sonucunuz yoktur!
                                    </div>
                                }

                                @*<script>
                                        function SonucDetay(idx) {
                                            var yukleniyor = '<div class="progress">' +
                                                                            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                                                                        '</div>';
                                            $("#Cevaplar").html(yukleniyor);
                                            $.get('@Url.Action("_SinavCevaplar", "Home")', { id: idx }, function (data) {
                                                $("#Cevaplar").html(data);
                                            });
                                        }
                                    </script>*@

                                <script>
                                    $('#duyurular').dataTable();
                                </script>