﻿@model List<Sinavlar>
@{
    int KalanDakika = 0;
    int KalanSaat = 0;
    int index = 0;
    var psinavlar = (List<Personel_Sinavlar>)ViewBag.psinavlar;
}
@using Haveak_Pro.Models;

@if (Model.Count != 0 || psinavlar != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sıra</th>
                <th>Sınav No</th>
                <th>Sınav Tarihi</th>
                <th>Başlama Saati</th>
                <th>Bitiş Saati</th>
                <th>Soru Adet</th>
                <th>Açıklama</th>
                <th>Toplam Süre</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @if (psinavlar != null)
            {
                foreach (var psinav in psinavlar)
                {

                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@(psinav.Sinavlar.SinavNo)</td>
                        <td>@psinav.SinavTarihi.Value.ToLongDateString()</td>
                        <td>@psinav.BaslamaSaati.Value.Hours:@(psinav.BaslamaSaati.Value.Minutes.ToString() == "0" ? "00" : psinav.BaslamaSaati.Value.Minutes.ToString())</td>
                        <td>@psinav.BitisSaati.Value.Hours:@(psinav.BitisSaati.Value.Minutes.ToString() == "0" ? "00" : psinav.BitisSaati.Value.Minutes.ToString())</td>
                        <td>@psinav.Sinavlar.SoruSayisi</td>
                        <td>@psinav.Sinavlar.Aciklama</td>
                        <td>@psinav.SinavSuresi Dakika</td>
                        <td>
                            @{
                            DateTime sinavTarihi = psinav.SinavTarihi.Value;
                            TimeSpan baslamaSaati = psinav.BaslamaSaati.Value;
                            TimeSpan bitisSaati = psinav.BitisSaati.Value;
                            DateTime bugun = DateTime.Now.Date;
                            string saat = DateTime.Now.ToString("H:mm:ss");
                            TimeSpan mevcutZaman = TimeSpan.Parse(saat);

                            string uyari = "";
                            string sinavButonUyari = "";
                            if (sinavTarihi == bugun)
                            {
                                if (mevcutZaman >= baslamaSaati && mevcutZaman < bitisSaati && psinav.Bitti == 0)
                                {
                                    TimeSpan kalanZaman = bitisSaati - mevcutZaman;

                                    if ((kalanZaman.Hours < 1 && kalanZaman.Minutes <= 15) && psinav.Basladi == 0)
                                    {
                                        uyari = "Sınava başlama süreniz 15 dakikanı altında kalmıştır giremezsiniz!!!";
                        <label>@uyari</label>
                                    }
                                    else
                                    {
                                        string lamba = "";
                                        if (psinav.Basladi == 1)
                                        {
                                            KalanDakika = kalanZaman.Minutes;
                                            KalanSaat = kalanZaman.Hours;
                                            lamba = "success";
                                            if (KalanSaat == 0)
                                            {
                                                sinavButonUyari = "Devam Et (Kalan Süre: " + KalanDakika + " Dakika)" + ")";
                                            }
                                            else
                                            {
                                                sinavButonUyari = "Devam Et (Kalan Süre: " + KalanSaat + " Saat " + KalanDakika + " Dakika)" + ")";
                                            }
                                        }
                                        else
                                        {
                                            KalanSaat = kalanZaman.Hours;
                                            KalanDakika = kalanZaman.Minutes;
                                            lamba = "danger";
                                            if (KalanSaat == 0)
                                            {
                                                sinavButonUyari = "Sınava Başla (Kalan Süre: " + KalanDakika + " Dakika)";

                                            }
                                            else
                                            {
                                                sinavButonUyari = "Sınava Başla (Kalan Süre: " + KalanSaat + " Saat " + KalanDakika + " Dakika)";
                                            }

                                        }
                        <input id="Button1" type="button" class="btn btn-@lamba btn-rounded engelle" value="@sinavButonUyari" onclick="SinavaBasla('@psinav.ID', '');" />
                                    }
                                }
                                else if (mevcutZaman < baslamaSaati && psinav.Bitti == 0)
                                {
                                    TimeSpan zaman = baslamaSaati - mevcutZaman;
                                    int saatx = zaman.Hours;
                                    int dakikax = zaman.Minutes;
                                    if (saatx > 0)
                                    {
                                        uyari = "Sınava " + saatx + " Saat " + dakikax + " Dakika Kaldı!";
                        <label>@uyari</label>
                                    }
                                    else
                                    {
                                        uyari = "Sınava " + dakikax + " Dakika Kaldı!";
                        <label>@uyari</label>
                                    }
                                }
                                else if (mevcutZaman > baslamaSaati)
                                {
                                    string durum = "";
                                    string statu = "";
                                    if (psinav.GirisSaati == null)
                                    {
                                        durum = "Katılmadınız!";
                                        statu = "important";
                                    }
                                    else
                                    {
                                        durum = "Katıldınız";
                                        statu = "success";
                                    }
                        <label>Sınav Süresi Bitti Durum: <span class="label label-@statu">@durum</span></label>
                                }
                            }

                            if (sinavTarihi < bugun)
                            {
                                string durumunuz = psinav.Basladi == 0 ? "Katılmadınız!!!" : "Katıldınız";
                                uyari = "Sınav Bitti " + durumunuz;
                        <label>@uyari</label>
                            }


                            if (sinavTarihi > bugun)
                            {
                                int gunKalan = sinavTarihi.Day - bugun.Day;
                                int saat2 = baslamaSaati.Hours - mevcutZaman.Hours;

                                uyari = "Sınava " + gunKalan + " Gün, " + saat2 + " Saat Kaldı!";

                        <label>@uyari</label>

                            }
                            }
                        </td>
                    </tr> 
                }
            }
            @foreach (var item in Model.OrderByDescending(t => t.ID))
            {
                index++;
                int ssure = item.SoruSayisi == 30 ? 20 : item.SoruSayisi == 50 ? 30 : 40;                
                string aktifpasif = string.Empty;

                if (psinavlar != null)
                {
                    foreach (var psinav in psinavlar)
                    {
                        DateTime bugun = DateTime.Now;
                        DateTime tarih = bugun.Date;
                        TimeSpan saat = bugun.TimeOfDay;

                        DateTime tarihkontrol = psinav.SinavTarihi.Value;
                        TimeSpan baslangic = psinav.BaslamaSaati.Value;
                        TimeSpan bitis = psinav.BitisSaati.Value;

                        if (tarih == tarihkontrol && baslangic <= saat && bitis >= saat)
                        {
                            aktifpasif = "disabled";
                        }
                    }
                }
                <tr>
                    <td>@index</td>
                    <td>@item.SinavNo</td>
                    <td>Atama Yapılmadı</td>
                    <td>Atama Yapılmadı</td>
                    <td>Atama Yapılmadı</td>
                    <td>@item.SoruSayisi</td>
                    <td>@item.Aciklama</td>
                    <td>@ssure Dakika</td>
                    <td>
                        <input id="Button1" type="button" class="btn btn-success btn-rounded engelle" value="Sınava Başla" onclick="SinavaBasla('','@item.ID');" @(aktifpasif) />
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <div class="date">
                        <span class="label label-primary"> Toplam Atanmamış Sınav : @Model.Count Adet</span>
                    </div>
                </td>
            </tr>

        </tfoot>
    </table>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Herhangi bir sınav işleminiz yoktur!
                                    </div>
                                }

<script>
    
    function SinavaBasla(psid, sid) {        
        $('.engelle').prop('disabled', true);       
        window.location.href = '/SINAV/Home/SinavaBasla?id=' + psid + '&sinavId=' + sid;
    }
</script>
