﻿@model List<Sinav_Sorular>
@{     
    SinavTipi SinavTipi = (SinavTipi)ViewBag.SinavTipi;
    int Personel_SinavRef = (int)ViewBag.Personel_Sinav_Ref;
    var girilenCevaplar = (List<SinavCevaplar>)ViewBag.GirilenCevaplar;
    var soruSiklari = (List<SoruSiklari>)ViewBag.SoruSiklari;    
}

@using Haveak_Pro.Models;


<div id="uygulamateorikSorular">
    <h4 style="font-weight: bold">@SinavTipi.Baslik</h4>
    <table id="UgulamaTablo" class="table table-bordered">
        <thead>
            <tr>
                <th>Soru</th>
                <th>Cevap</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OrderBy(t => t.ID).Where(t => t.SinavTipi_Ref == SinavTipi.ID).Select((i, x) => new { Index = x, Data = i }))
            {
                <tr>
                    <td><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                    <td id="Cevap_@item.Data.ID">
                        @{
                            string cevapSikki = string.Empty;
                            string cevapAltSikki = string.Empty;
                            int userRef = AktifKullanici.Aktif.User_Ref;
                            var cevapID = girilenCevaplar.Where(m => m.Sınav_Sorular_Ref == item.Data.ID && m.Personel_Sinavlar_Ref == Personel_SinavRef).Select(t => new { t.GirilenCevap, t.Sınav_Sorular_Ref, t.AltCevap, t.Sinav_Sorular.UniteSorular.SoruSiklaris }).FirstOrDefault();
                            if (cevapID != null)
                            {
                                cevapSikki = cevapID.SoruSiklaris.Where(r=>r.ID== cevapID.GirilenCevap).OrderBy(t => t.ID).Select(e => e.SoruSikki).FirstOrDefault();
                                if (cevapID.AltCevap != 0)
                                {
                                    HaveakTurEntities Entity = (HaveakTurEntities)ViewBag.Entity;
                                    cevapAltSikki = Entity.AltSiklars.OrderBy(t => t.ID).Where(t => t.ID == cevapID.AltCevap).Select(e => e.AltSoruSikki).FirstOrDefault();
                                }
                            }
                            string kontrol1 = cevapID == null ? "danger" : "success";
                        }
                        <span class="label label-@kontrol1" style="font-size:12px">@cevapSikki @cevapAltSikki</span>
                    </td>
                </tr>
                            }

        </tbody>
    </table>
</div>
