﻿@model Test_Sorular
@{    
    //HaveakTurEntities Entity = new HaveakTurEntities();
    //int personel = AktifKullanici.Aktif.User_Ref;    
    string check = "";
    string altCheck = "";
    int personel = AktifKullanici.Aktif.User_Ref;
    var personelTest = (Personel_Testler)ViewBag.PersonelTest;
    //string soruTipi = Model.SinavTipi.Baslik;
    //ViewBag.SoruTipi = soruTipi;
    int sorunumara = (int)ViewBag.Soruno;

    //double olcek = Convert.ToDouble(Model.UniteSorular.TMOlcek == null ? 0 : Model.UniteSorular.TMOlcek.Value);
    //double payda = 8.50;
    //double sonuc = olcek / payda;
    int tstRef = (int)ViewBag.TestRef;
    //string opaGelen = (Convert.ToDouble(Model.UniteSorular.TMSaydamlik == null ? 0 : Model.UniteSorular.TMSaydamlik.Value) / 100).ToString();

}

@using Haveak_Pro.Models;

<div class="row">

   
    <div class="col-md-9")">
        <div class="panel panel-success">
           
            <div class="panel-body">
                - @Model.Testler.TestNo, Soru : <span class="badge badge-inverse"><b>@sorunumara</b></span><br />
                -
                <label style="font-weight: bold; font-size: 14px">@Model.UniteSorular.Soru</label><br />

                <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                    @foreach (var itemx in Model.UniteSorular.SoruSiklaris.Where(r => r.IsActive == true))
                    {
                        int countAlt = Model.UniteSorular.AltSiklars.Count();                             
                        <tr>
                            <td style="width: 4%">
                                @if (itemx.SoruSikki == "b)" && countAlt > 0)
                                {
                                    if (itemx.ID == personelTest.TestCevaplars.Where(m => m.Personel_Testler.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.GirilenCevap).FirstOrDefault())
                                    {
                                        check = "checked = checked";
                                    }
                                    else
                                    {
                                        check = "";
                                    }                                                                                    
                                    <input id="cvp_@itemx.ID" type="checkbox" @check onclick="AltsikGoster('@itemx.UniteSorular_Ref','@itemx.ID')" /> 
                                    <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                }
                                else
                                {
                                    if (itemx.ID == personelTest.TestCevaplars.Where(m => m.Personel_Testler.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.GirilenCevap).FirstOrDefault())
                                    {
                                        check = "checked = checked";
                                    }
                                    else
                                    {
                                        check = "";
                                    }       
                                    <input id="cvp_@itemx.ID" type="checkbox" @check onclick="CheckboxControlAlt('@itemx.ID')" class="icheckbox" /> 
                                    <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                }
                            </td>
                            <td>@itemx.SoruSikki @itemx.CevapIcerik
                                <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                            </td>
                        </tr> 
                    }
                </table>
                <table class="table table-bordered" id="alsiktablo">
                    <tbody>
                        @{
                            int cvp = personelTest.TestCevaplars.Where(t => t.Test_Sorular_Ref == Model.ID).Count();                            
                            if (cvp > 0)
                            {
                                foreach (var item in Model.UniteSorular.AltSiklars.Where(t => t.IsActive == true).Select((x, i) => new { Index = i, Data = x }))
                                {
                            <tr>
                                @if (item.Data.ID == personelTest.TestCevaplars.Where(m => m.AltCevap == item.Data.ID).Select(t => t.AltCevap).FirstOrDefault())
                                {
                                    altCheck = "checked = checked";
                                }
                                else
                                {
                                    altCheck = "";
                                }
                                <td style="width: 4%">
                                    <input id="altcvp_@(item.Data.ID)" type="checkbox" @altCheck onclick="CheckboxControlAlt2('@item.Data.ID')"></td>
                                <td>@item.Data.AltSoruSikki  @item.Data.AltCevapIcerik
                                    <input type="Hidden" id="AltSik_@item.Data.ID" value="@item.Data.ID" />
                                    <input type="Hidden" id="AltSoruSik_@(item.Data.ID)" value="@(item.Data.AltSoruSikki)" /></td>
                            </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <input type="button" value="Sorular" class="btn btn-danger" onclick="GeriDon();" />
                @{
                    var soruDurum = personelTest.TestCevaplars.Where(t => t.Test_Sorular_Ref == Model.ID && t.Personel_Testler.Sinif_Ogrenci.Personel_Ref == personel).Select(r => r.ID).Count() == 0 ? "Onayla" : "Güncelle"; 
                }
                <input type="button" class="btn btn-primary pull-right" onclick="CevapKaydet();" value="@soruDurum" />
            </div>
        </div>

    </div>


    <!-- BEGIN SAMPLE TABLE PORTLET-->
</div>


<script>
    $(function () {
        $('#seciliSoruIcerik').css('display', 'block');               
             
    });

    function GeriDon()
    {
        $('#SoruSiklar').css('display', 'block');
        $('#SoruIcerik').css('display', 'none');
        $('#seciliSoruIcerik').css('display', 'none');       
    }

    function AltsikGoster(id,checkx) 
    {         
        CheckboxControlAlt(checkx);
        var isChecked = $('#cvp_'+checkx).is(":checked");
        if (isChecked) {             
            $.ajax({ 
                url: "/SINAV/Home/AltSiklarGetirTest",         
                data: { 'id': id },
                success: function (data) 
                {
                    $('#alsiktablo').attr('style', 'display:block');
                    $('#alsiktablo tbody').find('tr').remove();
                    for (var i = 0; i < data.length; i++) 
                    {    
                        var newRow =
             '<tr><td style="width: 4%"><input id="altcvp_'+data[i].ID+'" type="checkbox" onclick="CheckboxControlAlt2('+data[i].ID+')"></td>' +
             '<td>' + data[i].AltSoruSikki + ' ' + data[i].AltCevapIcerik + '<input type="Hidden" id="AltSik_'+data[i].ID+'" value="'+data[i].ID+'" /><input type="Hidden" id="AltSoruSik_'+data[i].ID+'" value="'+data[i].AltSoruSikki+'" /></td></tr>';
                                    
                        $('#alsiktablo tbody').append(newRow); 
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            }); 
        }
    }
    


    function CheckboxControlAlt(id) {     
        $('#alsiktablo tbody tr').remove();
        var selectCheck = $('#cvp_' + id).is(':checked') ? "checked" : "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {          
            $(trx).find("td").eq(0).find("input").removeAttr('checked');         
        });
        $('#cvp_' + id).prop('checked', true);  
        var ccont = $('#SoruSik_'+id).val();
        if (ccont == "a)") {
            ImageActive();     
        }
    }

    function CheckboxControlAlt2(id) {    
        
        var selectCheck = $('#altcvp_' + id).is(':checked') ? "checked" : "";
        $('#alsiktablo').find('tr').each(function (ix, trx) {          
            $(trx).find("td").eq(0).find("input").removeAttr('checked');         
        });
        $('#altcvp_' + id).prop('checked', true);       
    }
    


    function CevapKaydet()
    {           
        var Personel_TestRef = '@personelTest.ID'
        var Test_SoruRef = '@Model.ID';     
        var Girilen_Cevap = "";
        var AltCevap = 0;
        var soruSikki= 0;
        var cevapSikki ="";
        var durum = jQuery('#DurumK').val();
        if (typeof durum == "undefined") {
            durum =null;
        }
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) { 
            soruSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruSikki) {
                Girilen_Cevap = $(trx).find("td").eq(1).find("input[type=hidden]").val();
                cevapSikki = $(trx).find("td").eq(0).find("input[type=hidden]").val();
            }
        });
        if (cevapSikki == "") {
            $('#uyari').click();
            return;
        }
        if (cevapSikki != "a)" && durum =="" ) {
            $('#uyari3').click();
            return;
        }

        $('#alsiktablo tbody').find('tr').each(function (ix, trx) {
            var soruAltSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruAltSikki) {
                AltCevap = $(trx).find("td").eq(1).find("input").val();
            }
        }); 
        if (AltCevap == 0 && cevapSikki != "a)") {
            if ($('#alsiktablo tbody').find('tr').length > 0) {
                $('#uyari2').click();
                return;
            }           
        }

        var soruS = $('#SoruSik_'+ Girilen_Cevap).val();
        var altSoruS =$('#AltSoruSik_' + AltCevap).val();
        if (typeof altSoruS == "undefined") {
            altSoruS ="";
        }
        if (durum == "" && soruS != "a)") {
            $('#uyari4').click();
            return;
        }        
        $.ajax({
            url: "/SINAV/Home/TestCevap",
            data: { 'Personel_TestRef': Personel_TestRef, 'TestSoruRef': Test_SoruRef, 'Cevap': Girilen_Cevap, 'AltCevap': AltCevap },
            success: function (data) 
            {        
                if (data) {
                    $('#Cevap_'+Test_SoruRef).text("<span class='label label-danger'>[ "+soruS+altSoruS+ " ]</span>");  
                    window.location.href='/SINAV/Home/TesteBasla?id=@tstRef';                    
                }   
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }    
   
   

</script>




