﻿@{
    var KullaniciBilgi = Haveak_Pro.Models.AktifKullanici.Aktif;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    //var duyurular = (List<Duyurular>)ViewBag.Duyurular;
    var sonuc = (List<Personel_Sinavlar>)ViewBag.SinavSonucu;
    Dictionary dicList = new Dictionary();
    var oncelikDurum = dicList.DuyuruOncelik();
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
        <li class="active">SINAVLAR</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- START CONTENT FRAME -->
    <div class="content-frame">
        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span>SINAV HİZMETLERİ</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
            </div>
        </div>    
            <div class="panel panel-default">
                <div class="panel-body">                  
                         <div class="col-md-12">   
                            <div class="panel panel-default tabs">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#tab1" data-toggle="tab">SINAVLAR</a></li>
                                    <li><a href="#tab2" data-toggle="tab">SINAV SONUÇLAR</a></li>                                   
                                </ul>
                                <div class="panel-body tab-content">
                                    <div class="tab-pane active" style="overflow-y: scroll;" id="tab1">
                                      
                                    </div>
                                    <div class="tab-pane scroll" style="overflow-y: scroll;" id="tab2">
                                       
                                    </div>                                                        
                                </div>
                            </div>                                         
                            <!-- END JUSTIFIED TABS -->
                        </div>
                    
                       @* <div class="alert alert-danger" role="alert">
                            <strong>Üzügünüz!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                        </div>*@
                    
                </div>
            </div>
   
    </div>
 



@section scripts{ 
<script type="text/javascript">    
    $(document).ready(function (e) {
        if (window.history && window.history.pushState)
        {
            $(window).on('popstate', function () {
                window.location.href = '/SINAV/Home/Index';
            });
        }

        $.get('@Url.Action("_SinavKontrolBir", "Home")', function (data) {
            $("#tab1").html(data);
        });

        $.get('@Url.Action("_SinavDuyuruBir", "Home")', function (data) {
            $("#tab2").html(data);
        });

        setInterval(function () {
            $.get('@Url.Action("_SinavKontrolBir", "Home")', function (data) {
                $("#tab1").html(data);
             });
             $.get('@Url.Action("_SinavDuyuruBir", "Home")', function (data) {
                 $("#tab2").html(data);
             });
         }, 60000);
    });

    //function forcefullscreen() {
    //    if ((document.fullScreenElement && document.fullScreenElement !== null) ||
    //          (!document.mozFullScreen && !document.webkitIsFullScreen)) {
    //        if (document.documentElement.requestFullScreen) {
    //            document.documentElement.requestFullScreen();
    //        } else if (document.documentElement.mozRequestFullScreen) {
    //            document.documentElement.mozRequestFullScreen();
    //        } else if (document.documentElement.webkitRequestFullScreen) {
    //            document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
    //        }
    //    } else {
    //        if (document.cancelFullScreen) {
    //            document.cancelFullScreen();
    //        } else if (document.mozCancelFullScreen) {
    //            document.mozCancelFullScreen();
    //        } else if (document.webkitCancelFullScreen) {
    //            document.webkitCancelFullScreen();
    //        }
    //    }
    //}

    var sayi = 0;
    @*  $(document).ready(function (e) {
        if (sayi == 0)
        {
            setInterval(function () {
                $.get('@Url.Action("_SinavKontrolBir", "Home")', function (data) {
                    $("#tab_1_2").html(data);
                });

                $.get('@Url.Action("_SinavDuyuruBir", "Home")', function (data) {
                    $("#tab_1_3").html(data);
                });
            });
            sayi++;
        }
        else {
            setInterval(function () {
                $.get('@Url.Action("_SinavKontrolBir", "Home")', function (data) {
                    $("#tab_1_2").html(data);
                });
                $.get('@Url.Action("_SinavDuyuruBir", "Home")', function (data) {
                    $("#tab_1_3").html(data);
                });
                }, 60000);           
        }
    });*@
</script>
     }
