﻿@model List<Sinav_Sorular>
@{
    ViewBag.Title = "SinavaBasla";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    //var soruTipi = (string)ViewBag.SoruTipi;

    int personel = AktifKullanici.Aktif.User_Ref;
    HaveakTurEntities Entity = new HaveakTurEntities();

    //DateTime baslamaTarihi;
    //TimeSpan baslamZamani;
    TimeSpan bitisSaati;
    int basladi = 0;
    int bitti = 0;
    //int aktifSinav = (int)ViewBag.AktifSinav;
    int Personel_SinavRef = (int)ViewBag.PerSinavID;

    var zamanlar = Entity.Personel_Sinavlar.Where(t => t.Sinif_Ogrenci.Personel_Ref == personel && t.ID == Personel_SinavRef).FirstOrDefault();
    bitisSaati = zamanlar.BitisSaati.Value;
    if (zamanlar.Basladi == 1)
    {
        //baslamaTarihi = zamanlar.SinavTarihi.Value;
        //baslamZamani = zamanlar.BaslamaSaati.Value;

        basladi = zamanlar.Basladi;
        bitti = zamanlar.Bitti;
    }

    string sinavNo = zamanlar.Sinavlar.SinavNo.Split(' ')[0] + zamanlar.Sinavlar.SinavNo.Split(' ')[1] + zamanlar.Sinavlar.SinavNo.Split(' ')[2] + zamanlar.Sinavlar.SinavNo.Split(' ')[3];
    string soruKontrol = basladi == 1 ? "block" : "none";
    int sinavlar_Ref = Model.Select(t => t.Sinavlar_Ref).FirstOrDefault();
    //int per_sinav = Entity.Personel_Sinavlar.Where(r => r.Sinif_Ogrenci.Personel_Ref == personel && r.Sinavlar_Ref == sinavlar_Ref).Select(t => t.ID).FirstOrDefault();
}
@using Haveak_Pro.Models;

<div class="content-frame">
    <div style="text-align: center;">
        <button type="button" id="sbitir" class="btn btn-danger btn-large mb-control" style="width:300px;margin: 4px 0 4px 0" data-box="#message-box-sound-2">SINAVI BİTİR</button>
    </div>

    <div class="row">
        @* <div class="col-md-12" style="text-align: center;">
                <br />

            </div>*@
        <div id="SoruSiklar" class="col-md-12" style="text-align: center; display: block">
            <div id="sinavbaslasoru" style="display:@soruKontrol">

            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-10 col-sm-12" style="display:inline-block">
                @if (basladi != 1)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">DİKKAT!!!</h3>

                        </div>
                        <div class="panel-body">
                            Sol Tarafta "Mavi" İçerikli Kutucuklar Cevaplanmayı bekleyen Sorular, "Kırmızı" içerikli kutucuklar Cevaplanan Kutucuklardır.
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-success pull-right" onclick="SinavaBaslaxx();">Sınava Başla</button>
                        </div>
                    </div>
                }
                else
                {
                    <div id="seciliSoruIcerik" style="height: 430px;">
                    </div>
                }

            </div>
            <div id="SoruIcerik" class="col-md-2 col-sm-6" style="text-align: center; display: none">

                <div class="panel-body scroll" style="height: 600px;">
                    <div class="col-md-12 col-sm-6" style="display:inline-block">

                        <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div>
                        <div id="cevaplanansorular">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="uyari3" class="btn btn-warning mb-control" data-box="#message-box-warning3" style="visibility: hidden"></button>
<button type="button" id="uyari4" class="btn btn-warning mb-control" data-box="#message-box-warning4" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Alt Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Resimde Alan belirtiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning4">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Yasaklı Bölgeyi gösteriniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Sınavı Bitirmek İstediğinizden Eminmisiniz? Not:Tekrar giriş Yapamazsınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="SinavBitirManuel();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Sınava Devam</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">
    window.history.pushState('forward', null, './#SinavSorular-@sinavNo.Trim()');

    $('#kontrolEkran').attr('style', 'visibility:hidden');

        function KategoriMaddeler()
        {
        $('#kontrolEkran').attr('style', 'visibility:hidden');
        var idx = $('#Kategori').val();
        if (idx == "0") {
            $('#kontrolEkran').attr('style', 'visibility:hidden');
            $('#Resim1').attr('src', '/img/RYokBagaj.jpg');
            $('#maddeIcerik').html();
            return;
        }
        $('#maddeIcerik').html('');
        $.ajax({
            type: "POST",
            url: "@Url.Action("KategoriMaddeler", "MaddeInceleme", new { area = "SIMULATOR" })",
            data: { 'id': idx },
            async: false,
            success: function (data) {
                if (data != "") {
                    var olx = "<ol>";
                    for (var i = 0; i < data.length; i++) {
                        olx += "<li><a class='btn btn-info btn-xs' href='#' onclick='ResimAta(" + data[i].ID + ");'>" + data[i].ResimAd + "</a>" +
                            "<input type='hidden' id='rsm_" + data[i].ID + "' value='" + data[i].Resim + "' />" +
                            "</li>";
                    }
                    olx += "</ol>";
                    $('#maddeIcerik').html(olx);
                    //$('#kontrolEkran').attr('style', 'visibility:visible; text-align:center');
                }
            },
            error: function (ex) {
                alert(ex.error);
            }
        });
    }

    function ResimAta(id) {
        var rsm = $('#rsm_' + id).val();
        $('#Resim1').attr('src', '/' + rsm);
    }

    function showImage(typeId) {
        switch (typeId) {
            case 'P1':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1); height: 650px; width: 100%;');
                break;
            case 'P2':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1); height: 650px; width:100%;');
                break;
            case 'P3':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg); height: 650px; width:100%;');
                break;
            case 'HI':
                $('#rsmx').attr('style', 'filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%); height: 650px; width:100%;');
                break;
            case 'NEG':
                $('#rsmx').attr('style', '-webkit-filter: invert(100%); filter: invert(100%); height: 650px; width:100%;');
                break;
            case 'SB':
                $('#rsmx').attr('style', '-webkit-filter: grayscale(100%); filter: grayscale(100%); height: 650px; width:100%;');
                break;
            case 'BW':
                $('#rsmx').attr('style', '-webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%); height: 650px; width:100%;');
                break;
            case 'SEN':
                $('#rsmx').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1); height: 650px; width:100%;');
                break;
            default:
                break;
        }
    }

    function defaultImage() {
        $('#rsmx').attr('style', 'height: 650px; width:100%;');
    }


    //////////////////////////////////////////////////////////////



    </script>

    <script type="text/javascript">

     function GetSinavSoruDetay(id, soruno, persinref) {

         $.post('@Url.Action("_SSoruDetay", "Home")', { idx: id, SoruNo: soruno, Personel_Sinav_Ref: persinref }, function (data) {
               $.get('@Url.Action("_SSoruDurum", "Home")', { Sinavlar_Ref: '@sinavlar_Ref', Personel_Sinav_Ref: persinref }, function (data) {
                $("#sinavbaslasoru").html(data);
               });
               $.get('@Url.Action("_SCevapDurum", "Home")', { Sinavlar_Ref: '@sinavlar_Ref', Personel_Sinav_Ref: persinref }, function (data) {
                $("#cevaplanansorular").html(data);
               });
            $("#seciliSoruIcerik").html(data);
            $('#SoruSiklar').css('display', 'none');
            $('#SoruIcerik').css('display', 'block');

        });
    }

    function SinavaBaslaxx() {
        $.ajax({
            url: "/SINAV/Home/SinavStart",
            data: { 'id': '@Personel_SinavRef' },
            success: function () {
                $('#sinavbaslasoru').css('display', 'block');
                window.location.href = '@Url.Action("SinavaBasla", "Home", new { area = "SINAV", id=  Personel_SinavRef })';
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }
        $(document).ready(function (e) {
            $.post('@Url.Action("_SSoruDurum", "Home")', { Sinavlar_Ref: '@sinavlar_Ref', Personel_Sinav_Ref: '@Personel_SinavRef' }, function (data) {
                $("#sinavbaslasoru").html(data);
              });
        var surec = setInterval(function () {
            var a = "@bitisSaati.ToString()";
            var b = displayTime();
            var difference = Math.abs(toSeconds(a) - toSeconds(b));
            if (Math.abs(toSeconds(a) >= toSeconds(b))) {
                var result = [
                    Math.floor(difference / 3600),
                    Math.floor((difference % 3600) / 60),
                    difference % 60
                ];
                result = result.map(function (v) {
                    return v < 10 ? '0' + v : v;
                }).join(':');
                $('#pulsate-regular').html(result);
                if (result == "00:00:00") {
                    clearInterval(surec);
                    SinavBitirManuel();                   
                }
            }
            else {
                clearInterval(surec);
            }
        }, 1000);
    });

        function SinavBitirManuel() {
            $('#SoruSiklar').css('display', 'none');
            $('#SoruIcerik').css('display', 'none');
            $('#sbitir').attr('disabled', true);
            $('#sbitir').html('İŞLEM SÜRÜYOR BEKLEYİN...');
       
            $.ajax({
                url: "/SINAV/Home/SinavBitir",
                data: { 'aktifSinavID': '@Personel_SinavRef' },
                success: function (data) {
                    if (data) {
                        window.location.href = '/SINAV/Home/Index';
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });       
    }

    function displayTime() {
        var str = "";

        var currentTime = new Date()
        var hours = currentTime.getHours()
        var minutes = currentTime.getMinutes()
        var seconds = currentTime.getSeconds()

        if (minutes < 10) {
            minutes = "0" + minutes
        }
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        str += hours + ":" + minutes + ":" + seconds + " ";
        return str;
    }

    function toSeconds(time_str) {
        var parts = time_str.split(':');
        return parts[0] * 3600 +
        parts[1] * 60 +
        +
        parts[2];
    }

    </script>
}