﻿@model int
@{
    ViewBag.Title = "SinavCevaplarPersonel";
    Layout = "~/Views/Shared/_LMenu.cshtml";    
}

<div class="panel">
    <div class="panel-heading">      
        <h2 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h2>
    </div>
    <div class="panel-body" id="Cevaplar">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:goBack();" class="btn btn-primary" style="float:left">Geri Dön</a>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

    SonucDetay('@Model');
    function SonucDetay(idx) {
        var yukleniyor = '<div class="progress">' +
                                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                                    '</div>';
        $("#Cevaplar").html(yukleniyor);
        $.get('@Url.Action("_SinavCevaplar", "Home")', { id: idx }, function (data) {
            $("#Cevaplar").html(data);
        });
    }
</script>

    }