﻿@model List<Test_Sorular>
@{
    ViewBag.Title = "TesteBasla";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    int personel = AktifKullanici.Aktif.User_Ref;
    HaveakTurEntities Entity = new HaveakTurEntities();
    //TimeSpan bitisSaati;
    int basladi = 0;
    int bitti = 0;
    int Personel_TestlerRef = (int)ViewBag.PerTestID;
    var zamanlar = Entity.Personel_Testler.Where(t => t.ID == Personel_TestlerRef).FirstOrDefault();
    DateTime zaman = DateTime.Now.Date;

    var SOgrenciRef = Entity.Sinif_Ogrenci.Where(t => t.Bitti == false && t.Personel_Ref == personel).Select(e => e.ID).FirstOrDefault();
    if (zamanlar != null)
    {
        //bitisSaati = zamanlar.CikisSaati.Value;
        if (zamanlar.Basladi == 1)
        {
            basladi = zamanlar.Basladi;
            bitti = zamanlar.Bitti;
        }
    }
    string soruKontrol = basladi == 1 ? "block" : "none";
    var testler = Model.Select(t => new { t.Testler_Ref, t.Testler.Sure }).FirstOrDefault();
    var per_test = Entity.Personel_Testler.Where(r => r.Sinif_Ogrenci.Personel_Ref == personel && r.Testler_Ref == testler.Testler_Ref).Select(t => new { t.ID, t.GirisSaati, t.TestSuresi }).FirstOrDefault();

    TimeSpan baslamaSaati = per_test == null ? DateTime.Now.TimeOfDay : per_test.GirisSaati.Value;
    TimeSpan span = TimeSpan.FromMinutes(Convert.ToDouble(testler.Sure));
    TimeSpan testtoplamSuresi = baslamaSaati.Add(span);
    
   
}
@using Haveak_Pro.Models;


<div class="content-frame">
    <ul class="breadcrumb">
        <li></li>
    </ul>

    <div class="row">

        <div id="SoruSiklar" class="col-md-12" style="text-align: center; display: block">
            <div id="testbaslasoru" style="display:@soruKontrol;">
                <div class="col-md-12">
                    <h4 style="font-weight: bold">SORULAR (TEST)</h4>
                    @{
                        int indeks = 0;
                        foreach (var itemc in Model)
                        {
                            indeks++;
                            var soruDurum = Entity.TestCevaplars.Where(t => t.Test_Sorular_Ref == itemc.ID && t.Personel_Testler.Sinif_Ogrenci.Personel_Ref == personel).Select(r => r.ID).Count() == 0 ? "btn btn-success" : "btn btn-danger"; 
                        <a onclick="GetTestSoruDetay(@itemc.Testler_Ref, @itemc.ID, @indeks)" class="@soruDurum">@(indeks)</a>
                            if (indeks == 14)
                            {
                        <br />
                        <br />
                                indeks = 0;
                            }
                        }  
                    }
                </div>
                <br />
                <br />
                <br />
                <br />
                <input id="Button1" type="button" class="btn btn-danger btn-large" value="TESTİ BİTİR" onclick="TestBitirManuel();" />
            </div>
        </div>
        <div class="col-md-10">
            @if (basladi != 1)
            {     
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title">DİKKAT!!!</h3>

                    </div>
                    <div class="panel-body">
                        Sol Tarafta "Mavi" İçerikli Kutucuklar Cevaplanmayı bekleyen Sorular, "Kırmızı" içerikli kutucuklar Cevaplanan Kutucuklardır.
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success pull-right" onclick="TesteBaslaxx();">Teste Başla</button>
                    </div>
                </div>           
            }
            else
            {                 
                <div id="seciliSoruIcerik" style="height: 430px;">
                </div>             
            }
        </div>
        <div class="col-md-2" style="text-align: center;">

            <div id="SoruIcerik" class="panel-body scroll" style="height: 600px; display: none">
                <div class="col-md-12">
                    <div id="teorikSorular">
                        <h4 style="font-weight: bold">TEST</h4>
                        <table class="table">
                            <tr style="text-align: left">
                                <td>
                                    <h3>Kalan Süre :</h3>
                                </td>
                                <td>
                                    <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div>
                                </td>
                            </tr>
                        </table>
                        <table id="TeorikTablo" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Soru</th>
                                    <th>Cevap</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderBy(t => t.ID).Select((i, x) => new { Index = x, Data = i }))
                                {                           
                                    <tr>
                                        <td><span class="label label-primary" style="font-size: 12px">@(item.Index + 1)</span></td>
                                        <td id="Cevap_@item.Data.ID">
                                            @{
                                    string cevapSikki = "";
                                    int perID = per_test == null ? 0 : per_test.ID;
                                    var cevapID = item.Data.TestCevaplars.Where(r => r.Test_Sorular_Ref == item.Data.ID && r.Personel_Testler_Ref == perID).Select(t => new { t.GirilenCevap, t.Test_Sorular_Ref }).FirstOrDefault();
                                    if (cevapID != null)
                                    {
                                        cevapSikki = Entity.SoruSiklaris.OrderBy(t => t.ID).Where(t => t.ID == cevapID.GirilenCevap).Select(e => e.SoruSikki).FirstOrDefault();
                                    }
                                    string kontrol2 = cevapID == null ? "danger" : "success";
                                            }

                                            <span class="label label-@kontrol2" style="font-size:12px">@cevapSikki</span>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Alt Cevap Şıkkı Seçiniz!!!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>


<script>
    function GetTestSoruDetay(Test_Ref, id, soruno) {
        
        $('#SoruSiklar').css('display', 'none');
        $('#SoruIcerik').css('display', 'block');
        $.get('@Url.Action("_TSoruDetay", "Home", new { area = "SINAV" })', { Test_Ref: Test_Ref, idx: id, SoruNo: soruno }, function (data) {
            debugger
            $("#seciliSoruIcerik").html(data);
        });
    }

    function TesteBaslaxx() {
        
        var tstID = 0;
        var queries = {};
        $.each(document.location.search.substr(1).split('&'), function (c, q) {
            var i = q.split('=');
            queries[i[0].toString()] = i[1].toString();
        });
        tstID = queries['id'];

        $.ajax({
            url: "/SINAV/Home/TestStart",
            data: { 'id': tstID, 'sinif_Ogrenci_ref': '@SOgrenciRef' },
            success: function () {
                //$('#alertbox').css('display', 'none');
                $('#testbaslasoru').css('display', 'block');
                window.location.href = '@Url.Action("TesteBasla", "Home", new { area = "SINAV" })?id=' + tstID;
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }


    function TestBitirManuel() {
        var durum = confirm("Testi Bitirmek İstediğinizden Eminmisiniz? Not:Tekrar giriş Yapamazsınız!");
        if (durum == true) {
            $.ajax({
                url: "/SINAV/Home/TestBitir",
                data: { 'aktifTestID': '@Personel_TestlerRef' },
                success: function (data) {
                    if (data == "tamam") {
                        window.location.href = '/EGITIM/Home/Index';
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        }
    }

    $(document).ready(function (e) {
        var surec = setInterval(function () {
            var a = "@testtoplamSuresi.ToString()";
            var b = displayTime();
            var difference = Math.abs(toSeconds(a) - toSeconds(b));
            if (Math.abs(toSeconds(a) >= toSeconds(b))) {
                
                var result = [
                    Math.floor(difference / 3600),
                    Math.floor((difference % 3600) / 60),
                    difference % 60
                ];
                result = result.map(function (v) {
                    return v < 10 ? '0' + v : v;
                }).join(':');
                $('#pulsate-regular').html(result);
                if (result == "00:00:00") {
                    clearInterval(surec);
                    
                    $.ajax({
                        url: "/SINAV/Home/TestBitir",
                        data: { 'aktifTestID': '@Personel_TestlerRef' },
                        success: function (data) {
                            if (data == "tamam") {
                                window.location.href = '/EGITIM/Home/Index';
                            }
                        },
                        error: function (hata) {
                            alert(hata.responseText);
                        }
                    });
                    clearInterval(surec);
                    window.location.href = '/EGITIM/Home/Index';
                }
            }
            else {
                clearInterval(surec);
            }
        }, 1000);
    });

    function displayTime() {
        var str = "";

        var currentTime = new Date()
        var hours = currentTime.getHours()
        var minutes = currentTime.getMinutes()
        var seconds = currentTime.getSeconds()

        if (minutes < 10) {
            minutes = "0" + minutes
        }
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        str += hours + ":" + minutes + ":" + seconds + " ";
        return str;
    }

    function toSeconds(time_str) {
        var parts = time_str.split(':');
        return parts[0] * 3600 +
        parts[1] * 60 +
        +
        parts[2];
    }



</script>
