﻿@model List<TipEgitimSinavlar>
@{
    ViewBag.Title = "Tip Eğitim Testler";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;    
}

@using Haveak_Pro.Models;



<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TIP EĞİTİM TESTLER</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("TipEgitimKaydet", "TipEgitimIslemler", new { area = "PANEL" })" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>TIP EĞİTİM TEST TANIMLAMA İŞLEMLERİ </strong>TIP Eğitim Test Ekleme Kaldırma Güncelleme</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>TIP Eğitim testlerin tanımlandığı düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">GİS No :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="TipEgitimNo" name="TipEgitimNo" type="text" class="form-control" style="width: 100px">
                                        <input type="hidden" id="ID" value="" />
                                    </div>
                                    <span class="help-block">Gis test no girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Soru Sayısı :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="SoruSayisi" name="SoruSayisi" type="text" class="form-control" style="width: 70px" maxlength="2" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                    </div>
                                    <span class="help-block">Soru sayısı girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">TIP Eğitim Test Süresi (Dakika) :</label>
                                <div class="col-md-3 col-xs-12">
                                    <div class="input-group">
                                        <input id="Sure" name="Sure" type="text" class="form-control" style="width: 70px" maxlength="3" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                    </div>
                                    <span class="help-block">Tip eğitim test süresi dakika olarak belirtilmelidir</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Açıklama :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <textarea id="Aciklama" name="Aciklama" class="form-control" cols="60" rows="5"></textarea>
                                    </div>
                                    <span class="help-block">Açıklama girişi</span>
                                </div>
                            </div>
                             <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label text-left">Yayında</label>
                                            <div class="col-md-3">
                                                <label class="switch">
                                                    <input type="checkbox" id="Yayinda" name="Yayin" class="switch" />
                                                    <span></span>
                                                </label>
                                            </div>
                                                                                
                                        </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">TIP Eğitim Testler</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>Tip Eğitim No</th>
                                                <th>Soru Sayi</th>
                                                <th>Test Süresi</th>
                                                <th>Açıklama</th>
                                                <th>Atanan Soru Sayısı</th>
                                                <th>Yayında</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.OrderBy(r => r.TipEgitimNo))
                                            {
                                                index++; 
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@item.TipEgitimNo</td>
                                                    <td>@item.SoruSayisi</td>
                                                    <td>@item.Sure Dakika</td>
                                                    <td>@item.Aciklama</td>
                                                    <td>@item.TipEgitim_Sorular.Where(r=>r.IsDelete==false && r.IsActive==true).Count()</td>
                                                    <td>@if (item.Yayinda)
                                                        {
                                                        <input type="checkbox" value="1" checked />
                                                        }
                                                        else
                                                        {
                                                        <input type="checkbox" value="1" />  
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiEgitimGuncelle('@item.ID','@item.TipEgitimNo','@item.SoruSayisi', '@item.Aciklama', '@item.Sure', '@item.Yayinda');" title="Güncelle"><span class="fa fa-pencil"></span></a>
                                                        <a class="btn btn-warning btn-rounded btn-sm" onclick="TipEgitimSorular('@item.ID');" title="Sorular"><span class="fa fa-gears"></span></a>
                                                        <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');" title="Sil"><span class="fa fa-times"></span></a>
                                                    </td>
                                                </tr>
                                                
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="btn btn-default" value="Temizle" onclick="Refresh();" />
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="uyari3" class="btn btn-warning mb-control" data-box="#message-box-warning3" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Eksik alan bırakmayınız!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili TIP Eğitim Testi Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Bu kayıtta aynı ekli TIP Eğitim test bulunmaktadır! Güncelleme için eğitim testi adını değişiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Bu eğitim testine ait sistemde tanımlı soru(lar) bulunmaktadır Önce soruları silin !</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    function BilgiEgitimGuncelle(id, tno, sayi, acik, sure, yayin) {       
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#TipEgitimNo").val(tno);
        $("#SoruSayisi").val(sayi);
        $("#Sure").val(sure);
        $("#Aciklama").val(acik);
        $("#TipEgitimNo").focus();
        if (yayin) {
            $('#Yayinda').prop('checked', true);
        }
        else {
            $('#Yayinda').removeAttr('checked');
        }
       
        $("#ID").val(id);
    }

    function Ekle() { 
        var sno = $("#TipEgitimNo").val();
        var sayi = $("#SoruSayisi").val();
        var sure = $("#Sure").val();
        var acik = $("#Aciklama").val();
        var isChecked = $('#Yayinda').prop("checked");
        if (isChecked) {
            yayinda = true;
        }
        if (sno == "" || sayi == "" || acik == "" || sure == "") {
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }

    function Guncelle() {
        var sno = $("#TipEgitimNo").val();
        var sayi = $("#SoruSayisi").val();
        var acik = $("#Aciklama").val();
        var sure = $('#Sure').val();
        var id = $("#ID").val();
        
        var yayinda = false;
        var isChecked = $('#Yayinda').prop("checked");
        if (isChecked) {
            yayinda = true;
        }        
        $.get('@Url.Action("TipEgitimGuncelle", "TipEgitimIslemler", new { area = "PANEL" })', { id: id, TipEgitimNo: sno, SoruSayisi: sayi, Sure: sure, Aciklama: acik, Yayin: yayinda }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari2').click();
            }
        });
    }
    function TipEgitimSorular(id) {
        window.location.href = '/PANEL/TipEgitimIslemler/TipEgitimSorular?id=' + id;
    }

    function Remove(id) {
        $("#ID").val(id);
        $('#silme').click();
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("TipEgitimSilme", "TipEgitimIslemler", new { area = "PANEL" })', { id: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
            else {
                $('#uyari3').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("Index", "TipEgitimIslemler", new { area = "PANEL" })';
    }



</script>

