﻿@model List<Sinif_Ogrenci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";

    var sinifOgrenci = (Sinif_Ogrenci)ViewBag.SinifOgrData;

    EgitimGirisSayfasi icerik = (EgitimGirisSayfasi)ViewBag.Aciklama;
    HaveakTurEntities entity = new HaveakTurEntities();
    string yetki = "False";
    if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
    {
        yetki = "True";
    }
    int abRef = 0;
    try
    {
        abRef = Model != null ? sinifOgrenci.AtananBolumlers.Select(e => e.ID).FirstOrDefault() : 0;
    }
    catch
    {
        abRef = 0;
    }

}
@using Haveak_Pro.Models;

<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li class="active">EĞİTİM</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>EĞİTİM KURSLARI</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <!-- END CONTENT FRAME TOP -->
    <!-- START CONTENT FRAME LEFT -->
    <div class="content-frame-right">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="push-up-0">Kurs Eğitim Bölümleri</h3>
                <div id="bolumIcerik">
                    <div class="alert alert-info" role="alert">
                        <strong>Lütfen</strong> Kurs içerisinden MODÜL seçiniz
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME LEFT -->
    <!-- START CONTENT FRAME BODY -->
    <div class="content-frame-body content-frame-body-left">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
                {
                    if (Model != null)
                    {
                        foreach (var itemSiniflar in Model)
                        {
                            int modulSayi = 0;
                            foreach (var itemUnitList in itemSiniflar.AtananBolumlers.Select(q => q.Bolum).Where(r => r.IsActive == true && r.IsDelete == false))
                            {
                                int sinif_ogr_ref = itemSiniflar.ID;
                                modulSayi++;
                                <div class="col-md-6">
                                    <div class="panel panel-default push-up-20">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">@itemUnitList.BolumAdi (@itemSiniflar.Sinif.SinifAdi / @itemSiniflar.BaslamaTarihi.ToShortDateString() - @itemSiniflar.BitisTarihi.ToShortDateString())</h3>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-tags">
                                                @foreach (var itemModul in itemUnitList.KursModullers.Where(q => q.UniteModul.IsDelete == false && q.UniteModul.IsActive == true).Select((x, y) => new { Index = y, Data = x }))
                                                {
                                                    <li>
                                                        <a href="#" onclick="BolumBasliklar('@itemModul.Data.UniteModule_Ref', '@itemUnitList.AtananBolumlers.Where(t=>t.Sinif_Ogrenci_Ref==sinif_ogr_ref).Select(w=>w.ID).FirstOrDefault()');"><span class="fa fa-tag"></span>@itemModul.Data.UniteModul.Modul</a>
                                                        @*  @(int idx = itemModul.Index)*@
                                                        <input type="hidden" value="" />
                                                    </li>

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Üzügünüz!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                        </div>
                    }
                }
                else
                {
                    if (sinifOgrenci != null && abRef != 0)
                    {
                        foreach (var itemUnitList in sinifOgrenci.AtananBolumlers.Where(r => r.Bolum.IsActive == true && r.Bolum.IsDelete == false))
                        {
                            <div class="col-md-6">
                                <div class="panel panel-default push-up-20">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">@itemUnitList.Bolum.BolumAdi</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-tags">
                                            @foreach (var itemModul in itemUnitList.Bolum.KursModullers.Where(q => q.UniteModul.IsDelete == false && q.UniteModul.IsActive == true).Select((x, y) => new { Index = y, Data = x }))
                                            {
                                                <li>
                                                    <a href="#" onclick="BolumBasliklar('@itemModul.Data.UniteModule_Ref');"><span class="fa fa-tag"></span>@itemModul.Data.UniteModul.Modul</a>
                                                    <input type="hidden" value="" />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="col-md-6">
                            <br /><br />
                            <p style="margin-left:100px; font-size:20px; color:red; position :fixed" > Eğitime başlamak için tıklayınız</p><br />
                            <p style="margin-left:100px; font-size:25px; color:red; position: absolute"> ---------------------------></p>
                        </div>*@
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Dikkat!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
</div>
<!-- END CONTENT FRAME -->
<script>
    function dilsec()
    {
        window.location.href = '@Url.Action("", "")'
    }


    function OkunduGonder(idx) {
        var kontrol = '@yetki';
        if (kontrol == "False") {
            var abRef = '@abRef';
            $.ajax({
                url: '/EGITIM/Home/OkunduBilgisi',
                data: { 'atananBolum_Ref': abRef, 'unite_Ref': idx },
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("Konu", "Icerik", new { area = "EGITIM" })?id=' + idx + '&atananblm=' + '@(Model != null ? sinifOgrenci.AtananBolumlers.Select(e => e.ID).FirstOrDefault() : 0)';
                    }
                }
            });
        }
        else {
            window.location.href = '/EGITIM/Icerik/Konu?id=' + idx;
        }
    }

    @*function OkunduGonder(idx) {
        var kontrol = '@yetki';
        if (kontrol == "False") {
            var abRef = '@(Model != null ? Model.Select(t=>t.AtananBolumlers.Select(e => e.ID).FirstOrDefault()).FirstOrDefault() : 0)';
            $.ajax({
                url: '/EGITIM/Home/OkunduBilgisi',
                data: { 'atananBolum_Ref': abRef, 'unite_Ref': idx },
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("Konu", "Icerik", new { area = "EGITIM" })?id=' + idx + '&atananblm=' + '@(Model != null ? Model.AtananBolumlers.Select(e => e.ID).FirstOrDefault() : 0)';
                    }
                }
            });
        }
        else {
            window.location.href = '/EGITIM/Icerik/Konu?id=' + idx;
        }
    }*@

</script>


