﻿@model List<PersonelGenelRapor>


@using Haveak_Pro.Areas.PANEL.Models;


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PERSONEL LİSTE</h3>
                <a id="excelaktarim" class="btn btn-info" style="float:right;" href="javascript:ExportToExcel()"> Excel Aktarım</a>
            </div>
            <div class="panel-body" id="sinifListe">
                <div id="personeller" class="panel-body">
                    <p id="kayitadet" style="font-weight:bold">@Model.Count Adet Kayıt</p><p style="font-weight:bold; color:maroon">  Toplam Eğitime Katılamayan Personel Sayısı : @Model.Where(e => e.KonularCalismaDurum.Count == 0).Count()</p>
                    <table id="datatable" class="table table-bordered" style="width: 100%; font-size: 8.5px">
                        <thead>
                            <tr class="tr">
                                <th style="font-size: 8.5px !important">TC</th>
                                <th style="font-size: 8.5px !important">Ad Soyad</th>
                                <th style="font-size: 8.5px !important">Sinif Adı</th>
                                <th style="font-size: 8.5px !important">Eğitim Süreci</th>
                                <th style="font-size: 8.5px !important">Gis Ortalama</th>
                                <th style="font-size: 8.5px !important">Haz. Sınav Ortalama (Uyg)</th>
                                <th style="font-size: 8.5px !important">Haz. Sınav Ortalama (Teo)</th>
                                <th style="font-size: 8.5px !important">Ser. Sınav Ortalama (Uyg)</th>
                                <th style="font-size: 8.5px !important">Ser. Sınav Ortalama (Teo)</th>
                                <th style="font-size: 8.5px !important">Delici Mad. Oran</th>
                                <th style="font-size: 8.5px !important">Silah Mad. Oran</th>
                                <th style="font-size: 8.5px !important">Düzenek Mad. Oran</th>
                                <th style="font-size: 8.5px !important">Kargo Mad. Oran</th>
                                <th style="font-size: 8.5px !important">Diğer Mad. Oran</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <td colspan="17" style="text-align: center; font-weight: bold;">Personel Bilgi Bulunmamaktadır</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="font-size: 8.5px !important">@item.TcNo</td>
                                        <td style="font-size: 8.5px !important">@item.Ad @item.Soyad</td>
                                        <td style="font-size: 8.5px !important">@item.Sinif</td>
                                        <td style="font-size: 8.5px !important">
                                            @if (item.KonularCalismaDurum.Count() > 0)
                                            {
                                                int index = 0;
                                                foreach (var itemKonu in item.Konular)
                                                {
                                                    index++;
                                                    if (index == 1)
                                                    {
                                                        <label>Bölüm      : @itemKonu.BolumAdi</label><hr />
                                                    }
                                                    <label>Konu       :@itemKonu.Kurs</label><br />
                                                        <label>Ünite Sayı :@itemKonu.ToplamUniteSayi</label><br />
                                                        if (item.KonularCalismaDurum != null && item.KonularCalismaDurum.Count() > 0)
                                                        {
                                                            <label>Okunan : @item.KonularCalismaDurum.Where(r => r.ID == itemKonu.KursID).Select(w => w.OkunanUniteSayi).FirstOrDefault()</label><br />
                                                            <label>Kalan :@item.KonularCalismaDurum.Where(r => r.ID == itemKonu.KursID).Select(w => w.KalanUnite).FirstOrDefault()</label><hr />
                                                        }
                                                        else
                                                        {
                                                            <label>Kalan : Eğitime başlanmadı</label><br />
                                                            <label>-</label>
                                                        }

                                                }
                                            }
                                            else
                                            {
                                                <label>Eğitime başlanmadı!</label>
                                            }
                                        </td>
                                        <td style="font-size: 8.5px !important">@item.GisOrtalama</td>
                                        <td style="font-size: 8.5px !important">@item.H_SinavUygOrtalama</td>
                                        <td style="font-size: 8.5px !important">@item.H_SinavTeoOrtalama</td>
                                        <td style="font-size: 8.5px !important">@item.S_SinavUygOrtalama</td>
                                        <td style="font-size: 8.5px !important">@item.S_SinavTeoOrtalama</td>
                                        <td style="font-size: 8.5px !important">@item.deliciYuzde</td>
                                        <td style="font-size: 8.5px !important">@item.silahYuzde</td>
                                        <td style="font-size: 8.5px !important">@item.duzenekYuzde</td>
                                        <td style="font-size: 8.5px !important">@item.kargoYuzde</td>
                                        <td style="font-size: 8.5px !important">@item.digerleriYuzde</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


<script>
     function ExportToExcel() {
            var reportName = "SinifDatayliRapor_";
            var day = @DateTime.Now.Day;
            var month = @DateTime.Now.Month;
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#datatable").table2excel({
                filename: rname
            });
        }
</script>