﻿@model List<Sinif_Ogrenci>

@using Haveak_Pro.Models;


@if (Model.Count > 0)
{
    <table id="SinavPersoneller" class="table table-bordered datatable">
        <thead>
            <tr>
                <th>Sıra</th>
                <th class="hidden-phone">Sınav No</th>
                <th class="hidden-phone">Tc No</th>
                <th class="hidden-phone">Personel</th>
                <th class="hidden-phone">Katıldığı Tüm Sınıflar</th>
                <th class="hidden-phone">Genel Notlar</th>
                <th class="hidden-phone">Netice</th>
                <th class="hidden-phone">Sınava</th>
                <th class="hidden-phone">Personel Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
            {
                Personel_Sinavlar per_sinav = item.Data.Personel_Sinavlar.FirstOrDefault();
                if (per_sinav != null)
                {
                    Sinif sinif = item.Data.Sinif;
                    Personel prs = item.Data.Personel;
                    Sinavlar sinav = item.Data.Personel_Sinavlar.Select(r => r.Sinavlar).FirstOrDefault();
                    //Personel prs = null;
                    //List<string> siniflar = null;
                    //using (HaveakTurEntities db = new HaveakTurEntities())
                    //{
                    //    //prs = db.Personels.Where(e => e.ID == item.Data.Sinif_Ogrenci.Personel_Ref).FirstOrDefault();
                    //    siniflar = db.Sinif_Ogrenci.Where(e => e.Personel_Ref == item.Data.Sinif_Ogrenci.Personel_Ref).Select(q => q.Sinif.SinifAdi).ToList();
                    //}
                    <tr>
                        <td>
                            @(item.Index + 1)
                            <input type="hidden" id="PSinav_@item.Data.ID" value="@item.Data.ID" />
                        </td>
                        <td>@(sinav.SinavNo ?? "")</td>
                        <td>@item.Data.Personel.TCNo</td>
                        <td>
                            @item.Data.Personel.Adi  @item.Data.Personel.Soyadi
                        </td>
                        <td>
                            @*@foreach (var snf in siniflar)
                                {*@
                            <label>@sinif.SinifAdi</label><br />
                            @*}*@

                        </td>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <td>S.Notu Uygulama</td>
                                    <td>S.Notu Teorik</td>
                                </tr>
                                <tr style="font-weight: bold">
                                    <td>@(per_sinav.SinavNotuUygulama.ToString() ?? "")</td>
                                    <td>@(per_sinav.SinavNotuTeorik.ToString() ?? "")</td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            @if (per_sinav.Durum == "KALDI")
                        {
                                <span class="label label-danger">@(per_sinav.Durum ?? "") </span>
                            }
                            else if (per_sinav.Durum == "GEÇTİ")
                            {
                                <span class="label label-success">@(per_sinav.Durum ?? "") </span>
                            }
                            else
                            {
                                <span class="label label-info">@(per_sinav.Durum ?? "") </span>
                            }
                        </td>
                        <td>
                            @{
                                string Durumu = "KATILMADI!";
                                string isaret = "-default";
                                if (per_sinav.Basladi == 1)
                                {
                                    Durumu = "KATILDI";
                                    isaret = "-primary";
                                }
                            }
                            <span class="label label@(isaret)">@Durumu </span>

                        </td>
                        <td>
                            @{
                                string durumu = "";
                                if (per_sinav.Durum == "KALDI")
                                {
                                    durumu = "danger";
                                }
                                else if (per_sinav.Durum == "AÇIKLANMADI")
                                {
                                    durumu = "primary";
                                }
                                else
                                {
                                    durumu = "success";
                                }
                                if (durumu == "primary")
                                {
                                    <span class="label label-@durumu"><b>@per_sinav.Durum</b></span>
                                }
                                else
                                {
                                    <a class="btn btn-default" href="~/PRapor.html?idz=@item.Data.Personel_Ref" title="Detaylı Döküm Al" target="_blank"><span class="label label-@durumu"><b>@per_sinav.Durum (PERSONEL DETAY)</b></span></a>
                                }
                            }
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
    <br />
    @*<a href="~/PSinifRapor.html?idz=" title="Detaylı Döküm Al" class="profile-control-left" target="_blank">SINIF PERSONEL RAPOR</a>*@
                                }
                                else
                                {
                                    <div id="personeller" class="panel-body">
                                        <div class="alert alert-warning" role="alert">
                                            <strong>SINIF BİLGİSİ SEÇİNİZ</strong> Atanmış personelleri görmek için yukarıdan seçim yapınız.
                                        </div>
                                    </div>
                                }
<br />
<br />
