﻿@model List<UniteSorular>
@{
    ViewBag.Title = "GenelDagilimlarDetay";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int IndexData = 0;
    KursKategoriler ktg = new KursKategoriler();
}
@using Haveak_Pro.Areas.PANEL.Controllers;
@using Haveak_Pro.Models;

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">GENEL SORU RAPORLARI DETAY</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>GENEL SORU RAPORLARI </strong>Sinav soruları ve yasaklı madde</h3>
                    </div>                 

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">SORU LİSTE</h3>
                            <a id="excelaktarim" class="btn btn-info" style="float:right" href="javascript:ExportToExcel()"> Excel Aktarım</a>
                        </div>
                        <div class="panel-body" id="sinifListe">
                            <div id="personeller" class="panel-body">
                                <p id="kayitadet" style="font-weight:bold">@Model.Count Adet Kayıt</p>
                                <table id="datatable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Sıra No</th>
                                            <th>Görüntü / Dosya Adı</th>
                                            <th>Görüntü Kategorisi</th>
                                            <th>Görüntü Açıklaması</th>
                                            <th>Kurs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            string kategori = string.Empty;
                                            switch (item.SBagajlar.SBagajKategori.Isim)
                                            {
                                                case "TERMİNAL BAGAJLARI":
                                                    kategori = "KURS3 - KURS4";
                                                    break;
                                                case "KARGO BAGAJLAR":
                                                    kategori = "KURS11";
                                                    break;
                                                case "TEDARİK BAGAJLAR":
                                                    kategori = "KURS17";
                                                    break;
                                                default:
                                                    kategori = "KURS3 - KURS4";
                                                    break;
                                            }
                                            IndexData++;
                                            <tr>
                                                <td>@IndexData</td>
                                                <td>
                                                    @(item.SBagajlar.Resim.Substring(19))
                                                </td>
                                                <td>@item.Unite.UniteAdi </td>
                                                <td>
                                                    @item.SBMaddeResimler.Resim.Substring(55) (@item.SBMaddeResimler.SBTehlikeliMKategori.Isim)
                                                </td>                                                                                               
                                                <td>
                                                    @kategori
                                                </td>
                                            </tr>										                    }
                                    </tbody>
                                </table>

                                @*<div class="alert alert-warning" role="alert">
                                        <strong>ARAMA KRİTERLERİNİ SEÇİNİZ</strong> Personel bilgilerini görmek için yukarıdan seçim yapınız.
                                    </div>*@
                            </div>

                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

</div>

@section scripts{
    <script>        

        function ExportToExcel() {
            var reportName = "GenelSoruRapor2_";
            var day = @DateTime.Now.Day;
            var month = @DateTime.Now.Month;
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#datatable").table2excel({
                filename: rname
            });
        }


    </script>
}


