﻿@{
    ViewBag.Title = "GenelRaporlar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
   
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">GENEL PERSONEL RAPORLARI</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>GENEL PERSONEL SINIF RAPORLARI </strong>Sınıf sınav ve diğer sonuçlar</h3>
                    </div>
                    <div class="panel-body">
                        <p>Kayıtlı personellerin sınav sonuç ve çıktıları.</p>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Personel :</label>
                            <div class="col-md-2">
                                <select id="kullananlar" class="form-control select">
                                    <option value="1">Aktif Kullananlar</option>
                                    <option value="2">Hiç Kullanmayanlar</option>
                                </select>
                            </div>                         
                            <div class="col-md-2">
                                <input type="button" id="getirListe" value="Listele" class="btn btn-danger" />
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">PERSONEL LİSTE</h3>
                                <a id="excelaktarim" class="btn btn-info" style="float:right; display:none" href="javascript:ExportToExcel()"> Excel Aktarım</a>
                            </div>
                            <div class="panel-body" id="sinifListe">
                                <div id="personeller" class="panel-body">
                                    <p id="kayitadet" style="font-weight:bold">0 Adet Kayıt</p> 
                                    <table id="datatable" class="table table-bordered" style="width: 100%; font-size: 8.5px">
                                        <thead>
                                            <tr class="tr">
                                                <th style="font-size: 8.5px !important">TC</th>
                                                <th style="font-size: 8.5px !important">Ad Soyad</th>
                                                <th style="font-size: 8.5px !important">Sinif Adet</th>
                                                <th style="font-size: 8.5px !important">Gis Sınav Sayısı</th>
                                                <th style="font-size: 8.5px !important">Haz. Sınav Sayısı</th>
                                                <th style="font-size: 8.5px !important">Ser. Sınav Sayısı</th>
                                                <th style="font-size: 8.5px !important">Gis Ortalama</th>
                                                <th style="font-size: 8.5px !important">Haz. Sınav Ortalama (Uyg)</th>
                                                <th style="font-size: 8.5px !important">Haz. Sınav Ortalama (Teo)</th>
                                                <th style="font-size: 8.5px !important">Ser. Sınav Ortalama (Uyg)</th>
                                                <th style="font-size: 8.5px !important">Ser. Sınav Ortalama (Teo)</th>
                                                <th style="font-size: 8.5px !important">Delici Mad. Oran</th>
                                                <th style="font-size: 8.5px !important">Silah Mad. Oran</th>
                                                <th style="font-size: 8.5px !important">Düzenek Mad. Oran</th>
                                                <!--<th style="font-size: 8.5px !important">Kargo Mad. Oran</th>-->
                                                <th style="font-size: 8.5px !important">Diğer Mad. Oran</th>
                                            </tr>
                                        </thead>
                                        <tbody id="raporsonuc">
                                            <tr>
                                                <td colspan="16" style="text-align: center; font-weight: bold;">Personel Bilgi Bulunmamaktadır</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

@section scripts{
    <script>
        $('#getirListe').on('click', function (e) {
            e.preventDefault();
            $('#kayitadet').html("0 Adet Kayıt");
            $('#excelaktarim').css('display', 'none');

            var kullanlar = $('#kullananlar').val();
          

            var yukleniyor = '<tr><td colspan="15"><div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                '</div></td><7tr>';
            $("#raporsonuc").html(yukleniyor);

            $.ajax({
                url: '@(Url.Action("GenelToplamRaporlar", "Raporlama", new { area ="PANEL"}))',
                data: { 'ktipi': kullanlar },
                success: function (r) {

                    var listtp = '';
                    var raporsinifAd = '';
                    $('#kayitadet').html(r.length + " Adet Kayıt");
                    if (r.length > 0) {
                        $('#excelaktarim').css('display', 'block');
                    }
                    $.each(r, function (i, data) {
                        var sinavlartp = '<tr>' +
                            '<td>' + data.TcNo + '</td>' +
                            '<td>' + data.Ad + " " + data.Soyad + '</td>' +
                            '<td>' + data.SinifAdet + '</td>' +
                            '<td>' + data.GisSinavAdet + '</td>' +
                            '<td>' + data.H_SinavAdet + '</td>' +
                            '<td>' + data.S_SinavAdet + '</td>' +
                            '<td>' + data.GisOrtalama + '</td>' +
                            '<td>' + data.H_SinavUygOrtalama + '</td>' +
                            '<td>' + data.H_SinavTeoOrtalama + '</td>' +
                            '<td>' + data.S_SinavUygOrtalama + '</td>' +
                            '<td>' + data.S_SinavTeoOrtalama + '</td>' +
                            '<td> %' + (data.deliciYuzde == null ? 0 : data.deliciYuzde) + '</td>' +
                            '<td> %' + (data.silahYuzde == null ? 0 : data.silahYuzde) + '</td>' +
                            '<td> %' + (data.duzenekYuzde == null ? 0 : data.duzenekYuzde) + '</td>' +
                            //'<td> %' + (data.kargoYuzde == null ? 0 : data.kargoYuzde) + '</td>' +
                            '<td> %' + (data.digerleriYuzde == null ? 0 : data.digerleriYuzde) + '</td>' +
                            '</tr>';
                        listtp = listtp + sinavlartp;
                    });
                    $('#raporsonuc').html(listtp);
                    //$('#excelConvert').css('display', 'block');
                }
            });
        })

        function ExportToExcel() {
            var reportName = "GenelPersonelRapor_";
            var day = @DateTime.Now.Day;
            var month = @DateTime.Now.Month;
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#datatable").table2excel({
                filename: rname
            });
        }


    </script>
}
