﻿@model List<KategoriDagilimlar>
@{
    ViewBag.Title = "GenelDagilimlarToplam";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var sbagajsayilari = Model.Where(e => e.Baslik == "Toplam Görüntü Sayısı").FirstOrDefault();

    var maddeGenel = (List<Maddeler>)ViewBag.Madde;
    var tmaddeGenel = (List<SBMaddeResimler>)ViewBag.TMaddeler;
    var tmKategoris = (List<TehlikeliMaddeKategori>)ViewBag.TMKategori;

    List<TMKategoriler> tmkategoriler = new List<TMKategoriler>();
    foreach (var item in tmKategoris)
    {
        TMKategoriler md = new TMKategoriler();
        md.Adet = maddeGenel.Where(e => e.AltResimRef == 0 && e.TehlikeliMadde_Ref == item.ID).Count();
        md.Kategori = item.Baslik;
        tmkategoriler.Add(md);
    }


    List<TMKategoriler> tmkategorilerAlt = new List<TMKategoriler>();
    foreach (var item in tmKategoris)
    {
        TMKategoriler mda = new TMKategoriler();
        mda.Adet = maddeGenel.Where(e => e.AltResimRef > 0 && e.AltResimRef != null && e.TehlikeliMadde_Ref == item.ID).Count();
        mda.Kategori = item.Baslik;
        tmkategorilerAlt.Add(mda);
    }


    //int maddeTop = maddeGenel.Where(e => e.AltResimRef == 0).Count();
    //int maddeAlt = maddeGenel.Where(e => e.AltResimRef > 0 && e.AltResimRef != null).Count();

    var stmKategoris = (List<SBTehlikeliMKategori>)ViewBag.STMKategori;

    List<TMKategoriler> stmkategoriler = new List<TMKategoriler>();
    foreach (var item in stmKategoris)
    {
        TMKategoriler md = new TMKategoriler();
        md.Adet = tmaddeGenel.Where(e => e.AltResimRef == 0 && e.SBTM_Ref == item.ID).Count();
        md.Kategori = item.Isim;
        stmkategoriler.Add(md);
    }

    var smaddeTopGnl = tmaddeGenel.Where(e => e.AltResimRef == 0).Select(e => new { e.ID, e.SBTM_Ref }).ToList();
    int smaddeTop = smaddeTopGnl.Count;

    var smaddeAltGnl = tmaddeGenel.Where(e => smaddeTopGnl.Select(r => r.ID).Contains(e.AltResimRef == null ? 0 : e.AltResimRef.Value)).Select(e => new { e.ID, e.SBTM_Ref }).ToList();
    int smaddeAlt = smaddeAltGnl.Count;

    int[] kurslar3 = { 1, 2, 3, 7 }; //KURS3
    int kurs3AdetAlt = smaddeAltGnl.Where(i => kurslar3.Contains(i.SBTM_Ref)).Count();
    int kurs3AdetUst = smaddeTopGnl.Where(i => kurslar3.Contains(i.SBTM_Ref)).Count();
    int kurs3Adet = kurs3AdetAlt + kurs3AdetUst;

    int[] kurslar4_11 = { 3, 6, 7 }; // KURS 4 - 11
    int kurs4_11AdetAlt = smaddeAltGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();
    int kurs4_11AdetUst = smaddeTopGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();
    int kurs4_11Adet = kurs4_11AdetAlt + kurs4_11AdetUst;
    //int kurs4_11Adet = smaddeAltGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();
    int bosbagajlar = (int)ViewBag.BosBagajSorlar;

    List<TMKategoriler> stmkategorilerAlt = new List<TMKategoriler>();
    foreach (var item in stmKategoris)
    {
        TMKategoriler mda = new TMKategoriler();
        mda.Adet = smaddeAltGnl.Where(q => q.SBTM_Ref == item.ID).Count();
        mda.Kategori = item.Isim;
        stmkategorilerAlt.Add(mda);
    }

}
@using Haveak_Pro.Areas.PANEL.Controllers
@using Haveak_Pro.Models
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">GENEL PERSONEL RAPORLARI</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>GENEL BAGAJ MADDE SAYI RAPORLARI </strong>Kategorilere göre dağılımlar</h3>
                        <a id="excelaktarim" class="btn btn-info" style="float:right;" href="javascript:ExportToExcel()"> Excel Aktarım</a>
                    </div>
                    <div id="personeller" class="panel-body">
                        @*<p id="kayitadet" style="font-weight:bold">0 Adet Kayıt</p>*@
                        <table id="datatable" class="table table-bordered" style="width: 100%; font-size: 8.5px">
                            <thead>
                                <tr class="tr">
                                    <th> </th>
                                    <th>KURS 3</th>
                                    <th>KURS 4</th>
                                    <th>KURS 11</th>
                                    <th>KURS 17</th>
                                </tr>
                            </thead>
                            <tbody id="raporsonuc">
                                <tr>
                                    <th>Toplam Görüntü Sayısı</th>
                                    <td>@sbagajsayilari.Detaylar.Kurs3</td>
                                    <td>@sbagajsayilari.Detaylar.Kurs4</td>
                                    <td>@sbagajsayilari.Detaylar.Kurs11</td>
                                    <td>@sbagajsayilari.Detaylar.Kurs17</td>
                                </tr>
                                <tr>
                                    <th>Toplam Farklı Tehdit Nesnesi Sayısı</th>
                                    <td>@kurs3Adet</td>
                                    <td>@kurs4_11Adet</td>
                                    <td>@kurs4_11Adet</td>
                                    <td>@kurs4_11Adet</td>
                                </tr>
                                <tr>
                                    <th>El Yapımı Patlayıcı Görüntü Sayısı</th>
                                    <td>@(stmkategorilerAlt.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault())</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Düzenek").Select(e => e.Adet).FirstOrDefault())*@</td>
                                </tr>
                                <tr>
                                    <th>Ateşli Silah Görüntü Sayısı </th>
                                    <td>@(stmkategorilerAlt.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault())</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Silah").Select(e => e.Adet).FirstOrDefault())*@</td>
                                </tr>
                                <tr>
                                    <th>Kesici-Delici Görüntü Sayısı</th>
                                    <td>@(stmkategorilerAlt.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault())</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Kesici-Delici").Select(e => e.Adet).FirstOrDefault())*@</td>
                                </tr>
                                <tr>
                                    <th>Diğer Yasaklı Madde görüntü Sayısı</th>
                                    <td>@(stmkategorilerAlt.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault())</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault())*@</td>
                                    <td>@*@(stmkategorilerAlt.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault() + stmkategoriler.Where(r => r.Kategori == "Diğerleri").Select(e => e.Adet).FirstOrDefault())*@</td>
                                </tr>
                                <tr>
                                    <th>Boş Bagaj Görüntü Sayısı</th>
                                    <td>@bosbagajlar</td>
                                    <td>@*@bosbagajlar*@</td>
                                    <td>@*@bosbagajlar*@</td>
                                    <td>@*@bosbagajlar*@</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </form>

        </div>
    </div>

</div>

@section scripts{
    <script>
        @* $('#getirListe').on('click', function (e) {
            e.preventDefault();
            $('#kayitadet').html("0 Adet Kayıt");
            $('#excelaktarim').css('display', 'none');

            var adi = $('#adi').val();
            var soyadi = $('#soyadi').val();
            var baslangic = $('#tarih').val();
            var bitis = $('#tarih2').val();

            var yukleniyor = '<tr><td colspan="15"><div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                '</div></td><7tr>';
            $("#raporsonuc").html(yukleniyor);

            $.ajax({
                url: '@(Url.Action("GenelToplamRaporlar", "Raporlama", new { area ="PANEL"}))',
                data: { 'ad': adi, 'soyad': soyadi, 'tarih': baslangic, 'tarih2': bitis },
                success: function (r) {

                    var listtp = '';
                    var raporsinifAd = '';
                    $('#kayitadet').html(r.length + " Adet Kayıt");
                    if (r.length > 0) {
                        $('#excelaktarim').css('display', 'block');
                    }
                    $.each(r, function (i, data) {
                        var sinavlartp = '<tr>' +
                            '<td>' + data.TcNo + '</td>' +
                            '<td>' + data.Ad + " " + data.Soyad + '</td>' +
                            '<td>' + data.SinifAdet + '</td>' +
                            '<td>' + data.GisSinavAdet + '</td>' +
                            '<td>' + data.H_SinavAdet + '</td>' +
                            '<td>' + data.S_SinavAdet + '</td>' +
                            '<td>' + data.GisOrtalama + '</td>' +
                            '<td>' + data.H_SinavUygOrtalama + '</td>' +
                            '<td>' + data.H_SinavTeoOrtalama + '</td>' +
                            '<td>' + data.S_SinavUygOrtalama + '</td>' +
                            '<td>' + data.S_SinavTeoOrtalama + '</td>' +
                            '<td> %' + (data.deliciYuzde == null ? 0 : data.deliciYuzde) + '</td>' +
                            '<td> %' + (data.silahYuzde == null ? 0 : data.silahYuzde) + '</td>' +
                            '<td> %' + (data.duzenekYuzde == null ? 0 : data.duzenekYuzde) + '</td>' +
                            //'<td> %' + (data.kargoYuzde == null ? 0 : data.kargoYuzde) + '</td>' +
                            '<td> %' + (data.digerleriYuzde == null ? 0 : data.digerleriYuzde) + '</td>' +
                            '</tr>';
                        listtp = listtp + sinavlartp;
                    });
                    $('#raporsonuc').html(listtp);
                    //$('#excelConvert').css('display', 'block');
                }
            });
        })*@

        function ExportToExcel() {
            var reportName = "GenelSoruRapor1_";
            var day = @DateTime.Now.Day;
            var month = @DateTime.Now.Month;
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#datatable").table2excel({
                filename: rname
            });
        }


    </script>
}


