﻿@model List<Sinif>
@{
    ViewBag.Title = "GenelSinifRaporlar";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
}

@using Haveak_Pro.Models;

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINIF DETAY RAPORLAR</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>GENEL SINIF PERSONEL RAPORLARI </strong>Personel detaylı döküm</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınıfa kayıtlı personellerin rapor sonuç ve çıktıları.</p>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Sınıf(lar) No :</label>
                            <div class="col-md-6 col-xs-12">
                                <select multiple='multiple' class='form-control select' id="sinifID" data-live-search="true">
                                    @*<option value="0">Sinif Adı Seçiniz</option>*@
                                    @foreach (var itemSinif in Model)
                                    {
                                        <option value="@itemSinif.ID">@itemSinif.SinifAdi</option>
                                    }
                                </select>
                                <span class="help-block">Seçim yapılan sınıflar</span>
                            </div>
                            <div class="col-md-3">
                                <button id="Hazirla" class="btn btn-danger">Rapor Hazırla</button>
                            </div>
                        </div>
                       
                           
                            <div class="panel-body" id="sinifListe">
                                <div id="sinifListe" class="panel-body">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>SINIF(LAR) BİLGİSİ SEÇİNİZ</strong> Rapor bilgisi görmek için yukarıdan sınıf(lar) seçim yapınız.
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

@section scripts{
    <script>
        $('#Hazirla').on('click', function (e) {
            e.preventDefault();
            if (arrSelected.length == 0) {
                var hata = '<div class="progress">' +
                    'Lütfen sınıf bilgisi seçiniz!!!' +
                    '</div>';
                $("#sinifListe").html(hata);
                return;
            }
            var yukleniyor = '<div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                '</div>';
            $("#sinifListe").html(yukleniyor);
            var liste = arrSelected.toString();
            $.get('@Url.Action("getSinifDetayRapor", "Raporlama", new { area ="PANEL"})', { 'siniflar': liste }, function (result) {
                $('#sinifListe').html(result);
            });
        })

        var arrSelected = [];
        $('#sinifID').on('change', function () {
            
            var selected = $(this).find("option:selected");
            arrSelected = [];
            selected.each(function () {
                arrSelected.push($(this).val());
            });
        });

        
    </script>
}