﻿@{
    ViewBag.Title = "RAPISCAN";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    //int userRef = Haveak_Pro.Models.AktifKullanici.Aktif.User_Ref;
    //int sinifOgrenciRef = 0;
}

<div class="page-content-wrap">
    <div class="row" style="text-align: center">
        <ul class="breadcrumb">
            <li></li>
        </ul>
        @*<div class="content-frame-top">

          <div class="pull-right">
            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>*@
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h3 class="page-title">RAPISCAN X-RAY CONSOLE 
                     <small>Simulator</small>
            </h3>
            <br />
            <br />
            <div id="r1" style="width: 783px; height: 535px; background-size: 100%; border: 5px solid black; ">
                <div id="Ana1" style="background-color: white">
                    <img id="Resim1" src="~/img/RYokBagaj.jpg" style="width: 773px; height: 521px;" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <br />
            <br />
            <h3 class="push-up-0">ACTIVATION</h3>
            <div class="row">
                <div class="col-md-4">
                    ACTIVE
                                     <div class="progress" style="width: 135%">
                                         <div id="onOffStatus" class="progress-bar progress-bar-success active" style="width: 0%"></div>
                                     </div>
                </div>
                <div class="col-md-4">
                    XRAY
                                                    <div class="progress" style="width: 135%">
                                                        <div class="progress-bar progress-bar-warning progress-bar-striped" id="progress" style="width: 0%;"></div>
                                                    </div>
                </div>
                <div class="col-md-4">
                    READY
                                                                <div class="progress" style="width: 135%">
                                                                    <div id="Ready" style="width: 0%;" class="progress-bar progress-bar-striped active"></div>
                                                                </div>

                </div>
            </div>
            <div class="row">
                POWER
                                                    <br />
                <label class="switch">
                    <input type="checkbox" id="onoff" onchange="OnOffClik()" />
                    <span></span>
                </label>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="kontrolEkran" style="text-align: center">
                        <h3>HIE-SCAN KEYPAD</h3>
                        <button id="P1" class="btn btn-info" style="width: 100px; height: 40px;" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                        <button id="NEG" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                        <br />
                        <br />
                        <button id="P2" class="btn btn-success" style="width: 100px; height: 40px;" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                        <button id="SB" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                        <br />
                        <br />
                        <button id="P3" class="btn btn-warning" style="width: 100px; height: 40px;" onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                        <button id="BW" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                        <br />
                        <br />
                        <button id="Hi" class="btn btn-danger" style="width: 100px; height: 40px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                        <button id="SEN" class="btn btn-primary" style="width: 100px; height: 40px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>
                        <br />
                        <br />
                        <button id="prev" class="btn btn-danger  btn-rounded" onclick="GetResimler('prev');" style="width: 100px; height: 40px;"><i class="fa fa-arrow-left"></i>REW </button>
                        <button id="next" class="btn btn-danger  btn-rounded" onclick="GetResimler('next');" style="width: 100px; height: 40px;"><i class="fa fa-arrow-right"></i>FWD </button>

                        <br />
                        <br />
                        <button id="outbtn" class="btn btn-primary  btn-rounded" style="width: 100px; height: 40px;" onclick="outBack();"><i class="fa fa-arrow-up"></i>OUT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>

<script type="text/javascript">
    var liste = new Array();
    var resimler = new Array();
    var selectedIndex = 0;
    var baggageIndex = 0;
    getBagajList();
    function outBack() {
        $.ajax({
            url: '/SIMULATOR/BagajInceleme/LogYaz',
            data: { 'islemTur': 2, 'simulatorRef': 8 },
            success: function () { }
        });
        window.location.href = '/SINAV/TipSinav';
    }

    function getBagajList() {

        $('#kontrolEkran').attr('style', 'text-align:center;visibility:hidden');
        $.ajax({
            url: '/SIMULATOR/BagajInceleme/RapiscanBagajActiveList',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    liste[i] = result[i].ID;
                }
            },
            error: function (hata) {
                jAlert(hata.responseText);
            }
        });
    }

    function GetResimler(btype) {
        kontrolIndex = 0;
        if (btype == "next" && (liste.length - 1) > selectedIndex) {
            $('#next').attr('disabled', 'disabled');
            selectedIndex += 1;
            if (selectedIndex > baggageIndex) {
                baggageIndex += 1;
                $.ajax({
                    url: '/SIMULATOR/BagajInceleme/LogBagaj',
                    success: function () { }
                });
                var refreshIntervalId = setInterval(function () {
                    $('#next').removeAttr('disabled');
                    clearInterval(refreshIntervalId);
                }, 3000); 
            }
        }
        else if (btype == "prev" && selectedIndex > 0) {
            selectedIndex -= 1;
        }
        $('#next').attr('style', 'width: 100px;height:30px; visibility:visible');
        $('#prev').attr('style', 'width: 100px;height:30px; visibility:visible');
        if (selectedIndex == (liste.length - 1)) {
            $('#next').attr('style', 'visibility:hidden');
            $('#prev').attr('style', 'width: 100px;height:30px; visibility:visible');
        }
        if (selectedIndex == 0) {
            $('#prev').attr('style', 'visibility:hidden');
            $('#next').attr('style', 'width: 100px;height:30px; visibility:visible');
        }
        var id = liste[selectedIndex];
        if (id != 0) {
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/RapiscanBagajResimleriGetir',
                data: { 'id': id },
                success: function (result) {

                    $('#Resim1').remove();
                    $('#Ana1').remove();
                    $('#mrk1').remove();
                    var image = "<div id='Ana1' style='background-color:white'>" +
                                     "<marquee id='mrk1' behavior='slide' direction='right' scrollamount='30' loop='1'>" +
                                              "<img id='Resim1' src='/" + result[0].Resim + "' style='width: 773px; height: 521px;' />" +
                                      "</marquee>" +
                                  "</div>";
                    $('#r1').append(image);
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        }
    }
    function showImage(typeId) {

        switch (typeId) {
            case 'P1':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) brightness(1.5) contrast(320%) saturate(2.3); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P2':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            case 'P3':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                //$('#Resim1').attr('style', 'width: 773px; height: 521px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(185deg) saturate(4)  invert(1) contrast(2) brightness(1.1)');
                break;
            case 'HI':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                break;
            case 'NEG':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; -webkit-filter: invert(100%); filter: invert(100%);');
                break;
            case 'SB':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                break;
            case 'BW':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%) invert(100%);');
                //$('#Ana1').attr('style', 'background-color:black');
                break;
            case 'SEN':
                $('#Resim1').attr('style', 'width: 773px; height: 521px; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                break;
            default:
                break;
        }

    }

    function OnOffClik() {
        var click = $('#onoff').is(":checked");
        if (click) {
            $('#onOffStatus').attr('style', 'width: 100%;');
            $('#progress').attr('style', 'width: 100%;');

            var interval = setInterval(doStuff, 700);
            function doStuff() {
                $('#progress').attr('style', 'width: 0%;');
                clearInterval(interval);

                var interval2 = setInterval(doStuff2, 2000);
                function doStuff2() {

                    $('#Ready').attr('style', 'width: 100%;');
                    clearInterval(interval2);
                    GetResimler('next');
                    $('#kontrolEkran').attr('style', 'text-align:center;visibility:visible');
                    $('#prev').attr('style', 'width: 100px;height:30px; visibility:hidden');
                    $('#next').attr('style', 'width: 100px;height:30px; visibility:visible');
                }
            }
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/LogYaz',
                data: { 'islemTur': 1, 'simulatorRef': 4 },
                success: function () { }
            });
        }
        else {
            $('#onOffStatus').attr('style', 'width: 0%;');
            $('#prev').attr('style', 'visibility:hidden');
            $('#next').attr('style', 'visibility:hidden');
            $('#Ready').attr('style', 'width: 0%;');

            $('#Resim1').remove();
            $('#Ana1').remove();
            $('#mrk1').remove();

            var image = "<div id='Ana1' style='background-color:white'>" +
                                      "<img id='Resim1' src='/img/RYokBagaj.jpg' style='width: 773px; height: 521px;' />" +
                               "</div>";
            $('#r1').append(image);
            $('#Resim1').attr('class', 'opClassNone');
            $('#kontrolEkran').attr('style', 'text-align:center;visibility:hidden');
            $.ajax({
                url: '/SIMULATOR/BagajInceleme/LogYaz',
                data: { 'islemTur': 2, 'simulatorRef': 4 },
                success: function () { }
            });
        }
    }

    var kontrolIndex = 0;
    function defaultImage() {
        $('#Ana1').attr('style', 'background-color:white');
        $('#Resim1').removeAttr('style');
        $('#Resim1').attr('style', 'width: 773px; height: 521px');
        kontrolIndex++;
        if (kontrolIndex == 3) {
            $('#next').removeAttr('disabled');
            kontrolIndex = 0;
        }
    }   

</script>



