﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
}

<h2>Index</h2>
<input id="Button1" type="button" value="Personeller" onclick="PersonelListe();" />

<script>
    function PersonelListe()
    {
        
        $.ajax({
            url: '@Url.Action("PersonelCikti", "Rapor", new { area ="PANEL" })',           
            success: function (result) {               
                window.open(result);                
            }
        });


    }
</script>