﻿@model IPagedList<Kull_Rolleri>
@{
    ViewBag.Title = "KullaniciRoller";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var Kull_Rol_Adi = (List<Kull_Rol_Adi>)ViewBag.Kull_Rol_Name;
    var Kullanici = (List<Kullanici>)ViewBag.Kullanici;
    Dictionary diclist = new Dictionary();
    int indexKul = 0;
    int index = (int)ViewBag.RecordNo;
    int indexRol = 0;    
}

@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;
@using PagedList;
@using PagedList.Mvc;


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">KULLANICI ROLLER</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>KULLANICI ERİŞİM YETKİ ATAMA İŞLEMLERİ </strong>Modüle bağlı kullanıcı rolü Ekleme Kaldırma Güncelleme</h3>
                        @*<ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>*@
                    </div>
                    <div class="panel-body">
                        <p>Kullanıcı yetkilerinin eklendiği, düzenlendiği, kaldırıldığı alan.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Personel Adı</label>
                                <div class="col-md-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Personeller</h3>
                                        </div>
                                        <div class="panel-body">
                                            @if (Kullanici.Count > 0)
                                            {                                            
                                                <table id="Personeller" class="table table-bordered table-striped table-actions datatable">
                                                    <thead>
                                                        <tr>
                                                            <th>Seç</th>
                                                            <th>Sıra</th>
                                                            <th>Personel Adı Soyadı</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Kullanici)
                                                        {
                                                            indexKul++; 
                                                            <tr>
                                                                <td>@Html.CheckBox("User_Ref", new { id = "User_Ref_" + item.ID, @class = "icheckbox", value = item.ID })</td>
                                                                <td>@indexKul</td>
                                                                <td>@item.Personel.Adi @item.Personel.Soyadi
                                                                </td>
                                                            </tr>                                                                                                   
                                                        }
                                                    </tbody>
                                                </table>    
                                            }
                                            else
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    <strong>Uyarı </strong>Rol ataması yapılmamış herhangi bir personel bulunmamaktadır!.
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Roller :</label>
                                <div class="col-md-10">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-group" id="Roller">
                                                <div class='col-md-4'>
                                                    <label>ÖĞRENCİ</label><br />
                                                    @foreach (var item in Kull_Rol_Adi.Where(r => r.Grup == 2))
                                                    {                                                 
                                                                                                                                                        
                                                        <label class='check'>
                                                            <input type='checkbox' class='icheckbox' id='User_Rol_Name_Ref_@item.ID' name="User_Role_Name_Ref" value="@item.ID" />@diclist.RolAdi().Where(t => t.Key == item.Name).Select(e => e.Value).FirstOrDefault()
                                                        </label> 
                                                        <br />                                         
                                                    }
                                                </div>
                                                <div class='col-md-4'>
                                                    @if (UserRoleName.PANEL_AdminGiris.InRole())
                                                    {
                                                        <label>ADMİN</label><br />                                                   
                                                        foreach (var item in Kull_Rol_Adi.Where(r => r.Grup == 1))
                                                        {
                                                        <label class='check'>
                                                            <input type='checkbox' class='icheckbox' id='User_Rol_Name_Ref_@item.ID' name="User_Role_Name_Ref" value="@item.ID" />@diclist.RolAdi().Where(t => t.Key == item.Name).Select(e => e.Value).FirstOrDefault()
                                                        </label>  
                                                        <br />                                     
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Rol Atama Yapılan Kullanıcılar</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="form-inline" role="form">
                                        <div class="col-md-4">
                                            <label class="sr-only">Adı</label>
                                            <input id="Padi" type="text" class="form-control" placeholder="Personel Adı">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="sr-only">Soyadı</label>
                                            <input id="Psoyadi" class="form-control" type="text" placeholder="Personel Soyadı">
                                        </div>
                                        <button type="button" class="btn btn-danger" onclick="PersonelBul();">Bul</button>
                                    </div>
                                    <br />
                                    <table class="table table-bordered table-striped table-actions">
                                        <thead>
                                            <tr>
                                                <th>Personel Adı Soyadı</th>
                                                <th>Kullanıcı Adı</th>
                                                <th>Rolleri</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.GroupBy(t => new { t.Kullanici.Personel.Adi, t.Kullanici.Personel.Soyadi, t.Kullanici.KullaniciAdi, t.User_Ref }).Select(w => new { w.Key.Adi, w.Key.Soyadi, w.Key.KullaniciAdi, w.Key.User_Ref }))
                                            {                                                
                                                <tr>
                                                    <td>@item.Adi @item.Soyadi
                                                    </td>
                                                    <td>@item.KullaniciAdi</td>
                                                    <td>
                                                        <table>
                                                            @foreach (var itemx in Kull_Rol_Adi.Where(t => t.Grup == 2))
                                                            {
                                                                indexRol++;
                                                                var roller = Model.Where(t => t.User_Ref == item.User_Ref).Select(y => new { y.User_Role_Name_Ref, y.ID, y.IsActive, y.IsDelete }).ToList();
                                                                bool sonuc = false;
                                                                int idx = 0;
                                                                if (roller.Where(r => r.User_Role_Name_Ref == itemx.ID).Count() > 0)
                                                                {
                                                                    var durum = roller.Where(r => r.User_Role_Name_Ref == itemx.ID).FirstOrDefault();
                                                                    if (durum != null)
                                                                    {
                                                                        if (durum.IsActive)
                                                                        {
                                                                            sonuc = true;
                                                                        }
                                                                        else
                                                                        {
                                                                            sonuc = false;
                                                                        }
                                                                        idx = durum.ID;
                                                                    }
                                                                }                                             
                                                                <tr>
                                                                    <td>@Html.CheckBox("OnayDurum", sonuc, new { id = "OnayDurum_" + indexRol, @class = "icheckbox" })</td>
                                                                    <td>@diclist.RolAdi().Where(t => t.Key == itemx.Name).Select(w => w.Value).FirstOrDefault()
                                                                        <input type="hidden" id="rolRef_@indexRol" value="@idx"  />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-default btn-rounded btn-sm" onclick="Guncelle('@item.User_Ref', '@itemx.ID', '@indexRol');"><span class="fa fa-pencil"></span></a>
                                                                        @*   <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@itemx.ID');"><span class="fa fa-times"></span></a>*@
                                                                    </td>
                                                                </tr>
                                                            }
                                                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                                                            {
                                                                foreach (var itemx in Kull_Rol_Adi.Where(t => t.Grup == 1))
                                                                {
                                                                    indexRol++;
                                                                    var roller = Model.Where(t => t.User_Ref == item.User_Ref).Select(y => new { y.User_Role_Name_Ref, y.ID, y.IsActive, y.IsDelete }).ToList();
                                                                    bool sonuc = false;
                                                                    int idx = 0;
                                                                    if (roller.Where(r => r.User_Role_Name_Ref == itemx.ID).Count() > 0)
                                                                    {
                                                                        var durum = roller.Where(r => r.User_Role_Name_Ref == itemx.ID).FirstOrDefault();
                                                                        if (durum != null)
                                                                        {
                                                                            if (durum.IsActive)
                                                                            {
                                                                                sonuc = true;
                                                                            }
                                                                            else
                                                                            {
                                                                                sonuc = false;
                                                                            }
                                                                            idx = durum.ID;
                                                                        }
                                                                    }                                             
                                                                <tr>
                                                                    <td>@Html.CheckBox("OnayDurum", sonuc, new { id = "OnayDurum_" + indexRol, @class = "icheckbox" })</td>
                                                                    <td>@diclist.RolAdi().Where(t => t.Key == itemx.Name).Select(w => w.Value).FirstOrDefault()
                                                                        <input type="hidden" id="rolRef_@indexRol" value="@idx"  />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-default btn-rounded btn-sm" onclick="Guncelle('@item.User_Ref', '@itemx.ID', '@indexRol');"><span class="fa fa-pencil"></span></a>
                                                                        @*   <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@itemx.ID');"><span class="fa fa-times"></span></a>*@
                                                                    </td>
                                                                </tr>
                                                                }
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>                                                                                                 
                                            }
                                        </tbody>
                                    </table>
                                    <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                                        <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Temizle</button>
                        @if (Kullanici.Count > 0)
                        {
                            <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        }
@*   <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />*@
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Rol Atanacak Personel veya Roller bilgisi işaretleyiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Üniteye bağlı Tüm Konular sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="SilRol();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>


    function Ekle() {

        var personeRef = [];
        $('#Personeller tbody tr').find('input[type=checkbox]').each(function () {

            if ($(this).is(":checked")) {
                var idz = $(this).val()
                personeRef.push(idz);
            }
        });

        var roller = [];
        $('div#Roller input[type=checkbox]').each(function () {


            if ($(this).is(":checked")) {
                var idx = $(this).val();
                roller.push(idx);
            }
        });

        if (personeRef == "" || roller == "") {
            $('#uyari').click();
            return;
        }
        //var User_Ref = $("#User_Ref_").val();

        //var list = "";
        //$('div#Moduller input[type=checkbox]').each(function () {

        //    if ($(this).is(":checked")) {
        //        var idx = $(this).attr('id').split('_')[1];
        //        list += idx + ',';
        //    }
        //});

        //if (kategori == "0" || list == "") {
        //    $('#uyari').click();
        //    return;
        //}
        $.ajax({
            type: 'Post',
            url: '/PANEL/PersonelIslemler/KullaniciRollerEkle',
            contentType: 'application/json',
            data: JSON.stringify({ User_Role_Name_Ref: roller, User_Ref: personeRef }),
            success: function (data) {
                $('#onay').click();
            },
            error: function (data) {
                alert(data);
            }
        });
    }

    var userref = 0;
    var rolref = 0;

    function PersonelBul() {
        var padi = $('#Padi').val();
        var psoyadi = $('#Psoyadi').val();
        if (padi == "" && psoyadi == "") {
            alert("arama için en az persoel adı girilmesi zorunludur!");
        }
        window.location.href = '/PANEL/PersonelIslemler/KullaniciRoller?adi=' + padi + '&soyadi=' + psoyadi;

    }

    function Guncelle(User_Ref, User_Rol_Ref, idx) {
        var control = $('#OnayDurum_' + idx).is(':checked');
        if (!control) {
            userref = User_Ref;
            rolref = User_Rol_Ref;
            $('#silme').click();
        }
        else {
            $.get('@Url.Action("KullRollerGuncelle", "PersonelIslemler", new { area = "PANEL" })', { User_Role_Name_RefUp: User_Rol_Ref, User_RefUp: User_Ref, control: control }, function (data) {
                if (data) {
                    $('#onay').click();
                }
            });
        }

    }

    function Refresh() {
        window.location.href = '@Url.Action("KullaniciRoller", "PersonelIslemler", new { area = "PANEL" })';
    }

    function SilRol() {
        $.get('@Url.Action("KullRollerGuncelle", "PersonelIslemler", new { area = "PANEL" })', { User_Role_Name_RefUp: rolref, User_RefUp: userref, control: false }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function getData(id) {
        window.location.href = '/PANEL/PersonelIslemler/KullaniciRoller?page=' + id;
    }

</script>
