﻿@model PagedList.IPagedList<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = (int)ViewBag.RecordNo;
    ViewBag.Sayfa = "Personel";
    string kisi = (string)ViewBag.KisiAra; 
    
}

@using Haveak_Pro.Models;
@using PagedList.Mvc;


    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
        <li class="active"><a href="#">PERSONELLER</a></li>

    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2><span class="fa fa-users"></span>Personel Listesi <small>@Model.Count Kişi</small></h2>
    </div>
    <!-- END PAGE TITLE -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Aramak İstdiğiniz personeli adını ve soyadı bilgilerini giriniz</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="input-group">
                                       @* <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>*@
                                        <input id="Personelx" type="text" class="form-control" placeholder="Personelin adını veya soyadını giriniz" value="" />
                                        <div class="input-group-btn">
                                            <a class="btn btn-primary" onclick="PersonelAra();">ARA</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("PersonelIslem", "PersonelIslemler", new { area = "PANEL" })" class="btn btn-success btn-block"><span class="fa fa-plus"></span>Yeni Personel Tanımla</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                int sinifKontrol = item.Sinif_Ogrenci.Count;
                index++;             
                <div class="col-md-3">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <img src="~/DocumentFiles/Personel/@(item.Resim ?? "RYok.jpg")"  style="width:100px; height:92px" />
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">@item.Adi @item.Soyadi</div>
                                <div class="profile-data-title">@item.DogumTarihi.ToString("dd-MM-yyyy") / @item.TCNo</div>
                            </div>
                            <div class="profile-controls">          
                                @if (sinifKontrol > 0)
                                {                                     
                                     <a href="~/PRapor.html?idz=@item.ID" title="Detaylı Döküm Al" class="profile-control-left" target="_blank">@index</a>
                                }
                                else
                                {
                                     <a title="Sinıf Ataması Yapılmamış!" class="profile-control-left" style="color:red">!</a>
                                }
                                @*<a href="@Url.Action("PersonelRapor","PersonelIslemler", new {area ="PANEL", idx = item.ID})" title="Detaylı Döküm Al" class="profile-control-left">@index</a>*@
                                <a href="#" class="profile-control-right" title="Güncelle" onclick="Guncelle('@item.ID')"><span class="fa fa-file-text-o"></span></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="contact-info">
                                <p>
                                    <small>Cep Telefon</small><br />
                                    @item.CepTelefon
                                </p>
                                <p>
                                    <small>Ev / İş Telefon</small><br />
                                    @item.EvTelefon & @item.IsTelefon
                                </p>
                                <p>
                                    <small>E-Posta</small><br />
                                    @item.Email
                                </p>
                                <p>
                                    <small>Adres</small><br />
                                    @item.Adresi
                                </p>
                                <p>
                                    <small>Firması</small><br />
                                    @if (item.Firmalar == null)
                                    {
                                     <span class="label label-default label-form">@(item.Firmalar == null ? "Harici Personel" : item.Firmalar.FirmaAdi)</span>   
                                    }
                                    else
                                    {
                                     <span class="label label-info label-form">@(item.Firmalar == null ? "Harici Personel" : item.Firmalar.FirmaAdi)</span>   
                                    }                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                    @if (kisi!="")
                    {
                        
                         <li>@Html.PagedListPager(Model, page => "javascript:PersonelAra(" + page + ","+ kisi +")")</li>
                    }
                    else
                    {
                         <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
                    }
                   
                </ul>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

<!-- END PAGE CONTENT -->

<script>
    function getData(id) {
        window.location.href = '/PANEL/PersonelIslemler/PersonelListe?page=' + id;
    }

    function Guncelle(id) {
        window.location.href = '/PANEL/PersonelIslemler/PersonelIslem?id=' + id;
    }

    function PersonelAra() { 
        var personel = $('#Personelx').val();
        window.location.href = '/PANEL/PersonelIslemler/PersonelAra?adsoyad=' + personel;
    }

</script>
