﻿@model int
@{   
    ViewBag.Title = "PersonelIslem";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    HaveakTurEntities entity = new HaveakTurEntities();
    Personel data = new Personel();
    List<SelectListItem> cinsiyet = new List<SelectListItem>();
    cinsiyet.Add(new SelectListItem { Text = "SEÇİNİZ", Value = "0" });
    cinsiyet.Add(new SelectListItem { Text = "ERKEK", Value = "ERKEK" });
    cinsiyet.Add(new SelectListItem { Text = "KADIN", Value = "KADIN" });
    if (Model != 0)
    {
        data = entity.Personels.Where(t => t.ID == Model).FirstOrDefault();
        cinsiyet = new List<SelectListItem>();
        if (data.Cinsiyet == "ERKEK")
        {
            cinsiyet.Add(new SelectListItem { Selected = true, Text = "ERKEK", Value = "ERKEK" });
            cinsiyet.Add(new SelectListItem { Text = "KADIN", Value = "KADIN" });
        }
        else
        {
            cinsiyet.Add(new SelectListItem { Text = "ERKEK", Value = "ERKEK" });
            cinsiyet.Add(new SelectListItem { Selected = true, Text = "KADIN", Value = "KADIN" });
        }
    }
    ViewBag.Sayfa = "Personel";
    var firmalar = (List<Firmalar>)ViewBag.Firmalar;
    
}

@using Haveak_Pro.Models;




<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li><a href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })">Personeller</a></li>
    <li class="active">PERSONEL İÇERİK</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>PERSONEL İŞLEMLERİ Personel Ekleme İptal Güncelleme</h2>
</div>
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="block">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Firma Adı :</label>
                                <div class="col-md-6">
                                    <select id="Firmalar" name="Firmalar" class="form-control select" onchange="GetPersonCredit();">
                                        @if (UserRoleName.PANEL_AdminGiris.InRole())
                                        {                                          
                                            <option value="">Seçiniz</option>
                                            foreach (var item in firmalar)
                                            {
                                                if (data.Firma_Ref == item.ID)
                                                {
                                            <option value="@item.ID" selected>@item.FirmaAdi.ToUpper()</option>
                                                }
                                                else
                                                {
                                            <option value="@item.ID">@item.FirmaAdi.ToUpper()</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (AktifKullanici.Aktif.FirmaId == null)
                                            {
                                            <option value="">Lütfen Firmanızın yetkili ataması için Sistem yöneticisine başvurun!</option>
                                            }
                                            else
                                            {
                                                foreach (var item in firmalar)
                                                {
                                                    //if (data.Firma_Ref == AktifKullanici.Aktif.FirmaId)
                                                    //{
                                            <option value="@item.ID" selected>@item.FirmaAdi.ToUpper()</option>
                                                    //}
                                                   @* else
                                                    {
                                            <option value="@item.ID">@item.FirmaAdi</option>
                                                    }*@

                                                }
                                            }
                                        }
                                    </select>
                                    <span class="help-block">Firma Bilgisi - Kalan Kullanıcı Tanımlama Hakkı : <b id="kps"></b></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Personel Adı :</label>
                                <div class="col-md-9">
                                    <input id="Adi" name="Adi" type="text" class="form-control" style="width: 300px" value="@data.Adi">
                                    <span class="help-block">Personelin Adı</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Personel Soyadı :</label>
                                <div class="col-md-9">
                                    <input id="SoyAdi" name="SoyAdi" type="text"  class="form-control"value="@data.Soyadi" style="width: 300px" >
                                    <span class="help-block">Personelin Soyadı</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">TCNo :</label>
                                <div class="col-md-9">
                                    <input id="TCNo" name="TCNo" type="text"  class="form-control" style="width: 300px" value ="@data.TCNo">
                                    <span class="help-block">TC kimlik No</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">E-Posta :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="Email" name="Email" type="text"  class="form-control" style="width: 300px" value="@data.Email">
                                    </div>
                                    <span class="help-block">E Posta Bilgisi</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Cep Telefonu :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="CepTelefon" name="CepTelefon" type="text" class="mask_phone form-control" style="width: 300px" value="@data.CepTelefon">
                                    </div>
                                    <span class="help-block">(90) Cep Telefon Bilgisi</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Ev Telefonu :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="EvTelefon" name="EvTelefon" type="text"  class="mask_phone form-control" style="width: 300px" value="@data.EvTelefon">
                                    </div>
                                    <span class="help-block">(90) Ev Telefon Bilgisi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">İş Telefonu :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="IsTelefon" name="IsTelefon" type="text"  class="mask_phone form-control" style="width: 300px" value="@data.IsTelefon">
                                    </div>
                                    <span class="help-block">(90) Ev Telefon Bilgisi</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="block">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Resim :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <div class="image">
                                            <img src="~/DocumentFiles/Personel/@(data.Resim ?? "RYok.jpg")" alt="Personel" style="width:100px; height:92px">
                                        </div>
                                        <input type="file" multiple id="Resim" name="Resim" />

                                    </div>
                                    <span class="help-block">Resim</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Kurum / Adres :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" id="Adresi" name="Adresi">@data.Adresi</textarea>

                                    </div>
                                    <span class="help-block">Ulaşım Adres Bilgisi</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Doğum Tarihi :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        @{
                                            string dtarih = DateTime.Now.Date.AddYears(-25).ToString("yyyy-MM-dd");
                                            string tarih = data.DogumTarihi.ToString("yyyy-MM-dd");
                                            if (tarih != "0001-01-01")
                                            {
                                                dtarih = data.DogumTarihi.ToString("yyyy-MM-dd");
                                            }
                                        }
                                        <input type="text" id="DogumTarihi" class="mask_date form-control datepicker" value="@dtarih" name="DogumTarihi" />
                                    </div>
                                    <span class="help-block">Yıl-Ay-Gün biçim</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Cinsiyet :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        @Html.DropDownList("Cinsiyet", cinsiyet, new { @class = "form-control select" })
                                    </div>
                                    <span class="help-block">Cinsiyet Bilgisi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" style="cursor: pointer" onclick="Refresh();">Temizle</a>
                    @if (Model == 0)
                    {
                        <input type="button"  onclick="Ekle();" id="KaydetBtn" class="btn btn-primary" value="Kaydet" />
                    }
                    else
                    {
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" value="Güncelle" onclick="Guncelle('@Model');" />     
                    }
                </div>
            </form>
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->




<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>
<button type="button" id="hatamsg" class="btn btn-danger mb-control" data-box="#message-box-sound-3" style="visibility: hidden"></button>


<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Eksik alanları giriniz!</p>
                <br />
                <div id="eksikId">
                </div>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="IslemOnay();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Personel Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Persoenle bağlı Tüm Birimler sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p id="sonuchata"></p>
            </div>
            <div class="mb-footer">               
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>


<script>
    GetPersonCredit();
    function GetPersonCredit() {
        var idx = $('#Firmalar').val();
        if (idx == "0") {
            $('#kps').html(0);
        }
        else {
            $.get('/PersonelIslemler/KalanPersonelSayisi', { 'firmaRef': idx }, function (result) {
                $('#kps').html(result);
            });
        }
    }
    function Ekle() {
        $('#KaydetBtn').attr('disabled', true);
        var firmalar = $("#Firmalar").val();
        var adi = $("#Adi").val();
        var soyadi = $("#SoyAdi").val();
        var tcno = $("#TCNo").val();
        var email = $("#Email").val();
        var ceptel = $("#CepTelefon").val();
        var evtel = $("#EvTelefon").val();
        var istel = $("#IsTelefon").val();
        var adres = $("#Adresi").val();
        var dogumtarih = $("#DogumTarihi").val();
        var cinsiyet = $("#Cinsiyet").val();
        var resim = $('#Resim').prop('files')[0];
        var token = $('input[name="__RequestVerificationToken"]').val();

        if (firmalar =="" || adi == "" || soyadi == "" || tcno == "" || email == "" || ceptel == "" || adres == "" || dogumtarih == "1100-01-00" || cinsiyet == "0") {
            $('#uyari').click();
            $('#eksikId').html("[" + (firmalar == "" ? "FİRMA ADI" : "TAMAM") + " - " + (adi == "" ? "ADI" : "TAMAM") + " - " + (soyadi == "" ? "SOYADI" : "TAMAM") + " - " + (tcno == "" ? "TCNO" : "TAMAM") + " - " + (email == "" ? "EPOSTA" : "TAMAM") + " - " + (ceptel == "" ? "CEP TEL" : "TAMAM") + " - " + (adres == "" ? "KURUM/ADRES" : "TAMAM") + " - " + (dogumtarih == "1100-01-00" ? "DOĞUM TARİHİ" : "TAMAM") + " - " + (cinsiyet == "0" ? "CİNSİYET" : "TAMAM"));
            $('#KaydetBtn').attr('disabled', false);
            return;
        }

        var form_data = new FormData();        
        form_data.append('Adi', adi)
        form_data.append('SoyAdi', soyadi)
        form_data.append('TCNo', tcno)
        form_data.append('Email', email)
        form_data.append('CepTelefon', ceptel)
        form_data.append('EvTelefon', evtel)
        form_data.append('IsTelefon', istel)
        form_data.append('Adresi', adres)
        form_data.append('DogumTarihi', dogumtarih)
        form_data.append('Cinsiyet', cinsiyet)
        form_data.append('Resim', resim)
        form_data.append('Firmalar', firmalar)
        form_data.append("__RequestVerificationToken", token)
        $.ajax({
            url: '@Url.Action("PersonelEkle", "PersonelIslemler", new { area = "PANEL" })',
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (data == "ok") {                   
                    $('#onay').click();
                }
                else {
                    $('#sonuchata').html(data);
                    $('#hatamsg').click();
                }
            }
        });
    }

    function Guncelle(id) {
        $('#GuncelleBtn').attr('disabled', true);
        var firmalar = $("#Firmalar").val();
        var adi = $("#Adi").val();
        var soyadi = $("#SoyAdi").val();
        var tcno = $("#TCNo").val();
        var email = $("#Email").val();
        var ceptel = $("#CepTelefon").val();
        var evtel = $("#EvTelefon").val();
        var istel = $("#IsTelefon").val();
        var adres = $("#Adresi").val();
        var dogumtarih = $("#DogumTarihi").val();
        var cinsiyet = $("#Cinsiyet").val();
        var resim = $('#Resim').prop('files')[0];

        if (firmalar =="" || adi == "" || soyadi == "" || tcno == "" || email == "" || ceptel == "" || adres == "" || dogumtarih == "1100-01-00" || cinsiyet == "0") {
            $('#uyari').click();
            $('#eksikId').html("[" + (firmalar == "" ? "FİRMA ADI" : "TAMAM") + " - " + (adi == "" ? "ADI" : "TAMAM") + " - " + (soyadi == "" ? "SOYADI" : "TAMAM") + " - " + (tcno == "" ? "TCNO" : "TAMAM") + " - " + (email == "" ? "EPOSTA" : "TAMAM") + " - " + (ceptel == "" ? "CEP TEL" : "TAMAM") + " - " + (adres == "" ? "KURUM/ADRES" : "TAMAM") + " - " + (dogumtarih == "1100-01-00" ? "DOĞUM TARİHİ" : "TAMAM") + " - " + (cinsiyet == "0" ? "CİNSİYET" : "TAMAM"));
            $('#GuncelleBtn').attr('disabled', false);
            return;
        }

        var form_data = new FormData();
        form_data.append('ID', id)
        form_data.append('Adi', adi)
        form_data.append('SoyAdi', soyadi)
        form_data.append('TCNo', tcno)
        form_data.append('Email', email)
        form_data.append('CepTelefon', ceptel)
        form_data.append('EvTelefon', evtel)
        form_data.append('IsTelefon', istel)
        form_data.append('Adresi', adres)
        form_data.append('DogumTarihi', dogumtarih)
        form_data.append('Cinsiyet', cinsiyet)
        form_data.append('Resim', resim)
        form_data.append('FirmaRef', firmalar)
        $.ajax({
            url: '@Url.Action("PersonelGuncelle", "PersonelIslemler", new { area = "PANEL" })',
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (data == "ok") {
                    $('#onay').click();
                }
                else {
                    $('#sonuchata').html(data);
                    $('#hatamsg').click();
                }
            }
        });
    }

    function Remove(id) {
        $('#silme').click();
    }
    $(function () {
        $("#Resim").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
    });
    function Sil(id) {

        $.get('@Url.Action("UniteSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function Refresh() {
        window.location.href = '@Url.Action("PersonelIslem", "PersonelIslemler", new { area = "PANEL" })';
    }

    function IslemOnay() {
        window.location.href = '@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })';
    }

</script>



