﻿

@{
    ViewBag.Title = "TopluPersonelTanimlama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
    var data = (List<PersonelTopluView>)ViewBag.Data;
    ViewBag.Sayfa = "Personel";
    var firmalar = (List<Firmalar>)ViewBag.Firmalar;
}
@using Haveak_Pro.Areas.PANEL.Models;
@using Haveak_Pro.Models;


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">TOPLU PERSONEL TANIMLAMA</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("PersonelTanimlamaIslemleri", "PersonelIslemler", new { area = "PANEL" })" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>PERSONEL TANIMLAMA İŞLEMLERİ </strong>Excel tablodan toplu personel Ekleme Kaldırma Güncelleme</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Excel Tablodan personel tanımlama işlemleri </p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Firma Adı :</label>
                                <div class="col-md-6">
                                    <select id="Firmalar" name="Firmalar" class="form-control select" onchange="GetPersonCredit();">
                                        <option value="0">Seçiniz</option>
                                        @if (UserRoleName.PANEL_AdminGiris.InRole())
                                        {
                                            foreach (var item in firmalar)
                                            {
                                                <option value="@item.ID">@item.FirmaAdi.ToUpper()</option>
                                            }
                                        }
                                        else
                                        {
                                            if (AktifKullanici.Aktif.FirmaId == null)
                                            {
                                                <option value="">Lütfen Firmanızın yetkili ataması için Sistem yöneticisine başvurun!</option>
                                            }
                                            else
                                            {
                                                foreach (var item in firmalar)
                                                {
                                                    <option value="@item.ID" selected>@item.FirmaAdi</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span class="help-block">Firma Bilgisi - Kalan Kullanıcı Tanımlama Hakkı : <b id="kps"></b></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Sınıf :</label>
                                <div class="col-md-6">
                                    <input type="text" name="SinifAdi" class="form-control" id="SinifAdi" />                                  
                                    <span class="help-block">Sınıf Bilgi</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Personel Liste Tablo :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input type="file" id="FileUpload1" name="FileUpload1" value="" />
                                    </div>
                                    <span class="help-block">Personel Liste Tablo (EXCEL Dosya)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Model Excel Tablo :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group" style="margin-top:6px">
                                        <a href="~/DocumentFiles/Personel/personel.xls" >İndirmek için tıklayınız</a>                                        
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Liste Tanımlı Personeller</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-actions datatable">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>TCNo</th>
                                                <th>Ad Soyad</th>
                                                <th>Firma Adı</th>
                                                <th>E-Posta</th>
                                                <th>Telefon</th>
                                                <th>Kurslar</th>
                                                <th>Adres</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in data)
                                            {
                                                string[] kurslar = item.Calistigi_Birimler.Split(',');
                                                index++;
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@item.TC_Kimlik_No</td>
                                                    <td>@item.Adi @item.Soyadi</td>
                                                    <td>@item.Calistigi_Kurum</td>
                                                    <td>@item.EPosta</td>
                                                    <td>@item.Cep_Tel</td>
                                                    <td>
                                                        @{
                                                            string kursAdi = "";
                                                            foreach (var itemKurs in kurslar)
                                                            {
                                                                switch (itemKurs)
                                                                {
                                                                    case "A":
                                                                        kursAdi += "Kurs 3,";
                                                                        break;
                                                                    case "B":
                                                                        kursAdi += "Kurs 4,";
                                                                        break;
                                                                    case "C":
                                                                        kursAdi += "Kurs 11,";
                                                                        break;
                                                                    case "D":
                                                                        kursAdi += "Kurs 17,";
                                                                        break;
                                                                    case "E":
                                                                        kursAdi += "Kurs 1,";
                                                                        break;
                                                                    case "F":
                                                                        kursAdi += "Kurs 2,";
                                                                        break;
                                                                    case "G":
                                                                        kursAdi += "Kurs BG,";
                                                                        break;
                                                                    case "H":
                                                                        kursAdi += "Kurs SF,";
                                                                        break;
                                                                    default:
                                                                        break;
                                                                }
                                                            }
                                                            @kursAdi.Substring(0, kursAdi.Length - 1)
                                                        }
                                                    </td>
                                                    <td>@(item.Ev_Adresi != "" ? item.Ev_Adresi + " / " : "") @item.Sehir</td>
                                                </tr>
                                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" onclick="Refresh();" style="cursor: pointer">Temizle</a>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>


<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Excel tablo ve Sinıf bilgisini giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>@(ViewBag.Error as string)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir. Tüm Personel Sisteme Tanımlandı</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //GetPersonCredit();
        function GetPersonCredit() {
            var idx = $('#Firmalar').val();
            if (idx == "0") {
                $('#kps').html(0);
            }
            else {
                
                $.get('/PersonelIslemler/KalanPersonelSayisi', { 'firmaRef': idx }, function (result) {
                    $('#kps').html(result);
                });                
            }
        }

    $(function () {

        var hata = '@ViewBag.Error';
        var sonuc = '@ViewBag.Islem';
        if (hata != "") {
            $('#uyari2').click();
        }
        if (sonuc == 'True') {
            $('#onay').click();
        }

        $("#FileUpload1").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
    });

        function Ekle()
        {
            let btnadi = $('#KaydetBtn').val();
            $('#KaydetBtn').attr('disabled', 'disabled');
            $('#KaydetBtn').val("İşlem Sürüyor...");
            var fupload = $("#FileUpload1").prop("files")[0];
            var sinifadi = $('#SinifAdi').val();
            if (fupload == null || sinifadi == "") {
                $('#KaydetBtn').removeAttr('disabled');
                $('#KaydetBtn').val(btnadi);
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }


    function Refresh() {
        location.reload();
    }
    </script>
}
