﻿@model List<Mesajlar>
@{
    int aliciRef = (int)ViewBag.AliciRef;
    int kullanici = AktifKullanici.Aktif.User_Ref; 
}
@using Haveak_Pro.Models;

<input type="hidden" id="AliciRef" value="@aliciRef" />

    <div class="panel panel-default">
        @if (Model.Where(t => t.Alici_Ref == aliciRef || t.Gonderen_Ref == aliciRef).Count() > 0)
        {
        <div class="panel-body scroll" style="height: 100%;">

            @foreach (var item in Model.Where(t => t.Alici_Ref == aliciRef || t.Gonderen_Ref == aliciRef))
            {
                string saat = (item.Saat.Hours < 10 ? "0" + item.Saat.Hours : item.Saat.Hours.ToString());
                string dakika = (item.Saat.Minutes < 10 ? "0" + item.Saat.Minutes : item.Saat.Minutes.ToString());
                string zaman = saat + ":" + dakika;

                string gelenGiden = item.Gonderen_Ref == kullanici ? "in" : "";
                string gonderenKisi = item.Gonderen_Ref == kullanici ? "Ben" : item.Personel.Adi + " " + item.Personel.Soyadi; 
           
                <div class="item @gelenGiden item-visible">
                    <div class="image">
                        <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" alt="@gonderenKisi">
                    </div>
                    <div class="text">
                        <div class="heading">
                            <a href="#">@gonderenKisi</a>
                            <span class="date">@zaman</span>
                        </div>
                        @item.Icerik
                    </div>
                </div>
            }
        </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>DİKKAT </strong> Seçili kişi ile mesajlaşma bulunmamaktadır!
            </div>
           
        }
    </div>


