﻿@model TipEgitim_Sorular
@{    
    HaveakTurEntities entity = (HaveakTurEntities)ViewBag.entity;
    //int personel = AktifKullanici.Aktif.User_Ref;    
    string check = "";
    List<SoruDetaylar> sonucGenel = null;
    //int personel = AktifKullanici.Aktif.User_Ref;    
    SoruDetaylar soruBilgi = (SoruDetaylar)Session["SoruIcerikler"];
    int soruIndex = 0;
    var soruTipi = "-";
    //int per_sinav = 0;
    double olcek = 0;
    double payda = 8.50;
    string sonuclar = "1";
    string opaGelen = "1";
    int id = 0;
    int sorunumara = 0;
    UniteSorular usorular = null;
    if (soruBilgi != null)
    {
        soruIndex = soruBilgi.Sira;
        ViewBag.SoruTipi = soruTipi;
        usorular = entity.UniteSorulars.Where(r => r.ID == Model.Unite_Sorular_Ref).FirstOrDefault();
        soruTipi = usorular.SinavTipi.Baslik;
        olcek = Convert.ToDouble(usorular.TMOlcek == null ? 100 : usorular.TMOlcek.Value);
        try
        {
            sonuclar = (olcek / payda).ToString().Substring(0, 4).Replace('.', ',');
        }
        catch
        {
            sonuclar = (olcek / payda).ToString().Replace('.', ',');
        }

        opaGelen = Convert.ToDouble((usorular.TMSaydamlik == null ? 1 : usorular.TMSaydamlik == 1 ? 1 : (usorular.TMSaydamlik.Value / 100))).ToString();
        id = soruBilgi.SoruNo;
        sorunumara = (int)ViewBag.SonrakiSoru;
    }
    else
    {
        sonucGenel = (List<SoruDetaylar>)ViewBag.SoruSonucListe;
    }
    int ksoru = (int)ViewBag.Kalansoru;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.SINAV.Controllers;
<script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<style type="text/css">
    .thumbnail {
        position: relative;
        height: 615px;
        overflow: hidden;
        img;

    {
        width: 820px;
        max-width: 820px;
        max-height: 620px;
        position: absolute;
        left: 50%;
        margin-left: -460px;
    }

    }
</style>


<div class="row">
    <div class="col-md-6">
        <div id="rsmx" class="thumbnail" style="height: 630px; width:830px; visibility: hidden; background-color: white;">
            @if (soruBilgi != null)
            {
                <img id="Resim1" style="position: absolute; width: 820px; max-width:820px; max-height:615px; height:615px; cursor:crosshair; background-size: cover;" src="~/@(usorular.SBagajlar.Resim)" />
                if (usorular.SBMaddeResimler != null)
                {
                <img id="tmaddeTip" src="~/@usorular.SBMaddeResimler.Resim" style="cursor:crosshair; margin-left: @(Convert.ToInt32(usorular.XKordinat))px; margin-top: @(Convert.ToInt32(usorular.YKordinat))px; mix-blend-mode: multiply; -webkit-transform: rotate(@(Convert.ToInt32(usorular.TMVektor))deg); opacity:@opaGelen; width:@(sonuclar)%; max-width:@(sonuclar)%" />    
                <input type="hidden" id="XKordinat" value="" />
                <input type="hidden" id="YKordinat" value="" />
                <input type="hidden" id="Pointerxx" value="" />
                <input type="hidden" id="Pointeryy" value="" /> 
                }
           
                <input id="DurumK" value="" type="hidden" />                        
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">TEST SONUÇLARI</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    @{int inx = 0;   }
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sıra
                                                </th>
                                                <th>Cevap
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in sonucGenel)
                                            {
                                                inx++;
                                                if (inx < 16)
                                                {
                                                <tr>
                                                    <td  class="@(item.Cevap == true ? "success" : "danger")">@item.Sira</td>
                                                    <td  class="@(item.Cevap == true ? "success" : "danger")">@(item.Cevap == true ? "DOĞRU" : "YANLIŞ (Bağaj içeriğine çalışın)")</td>
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    @if (sonucGenel.Count > 15 && sonucGenel.Count < 31)
                                    {
                                        int inx2 = 0;
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sıra
                                                    </th>
                                                    <th>Cevap
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in sonucGenel)
                                                {
                                                    inx2++;
                                                    if (inx2 > 15 && inx2 < 31)
                                                    {
                                                    <tr>
                                                        <td  class="@(item.Cevap == true ? "success" : "danger")">@item.Sira</td>
                                                        <td  class="@(item.Cevap == true ? "success" : "danger")">@(item.Cevap == true ? "DOĞRU" : "YANLIŞ (Bağaj içeriğine çalışın)")</td>
                                                    </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>                                       
                                    }
                                </td>
                                <td>
                                    @if (sonucGenel.Count > 30 && sonucGenel.Count < 46)
                                    {
                                        int inx3 = 0;
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sıra
                                                    </th>
                                                    <th>Cevap
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in sonucGenel)
                                                {
                                                    inx3++;
                                                    if (inx3 > 30 && inx3 < 46)
                                                    {
                                                    <tr>
                                                        <td  class="@(item.Cevap == true ? "success" : "danger")">@item.Sira</td>
                                                        <td  class="@(item.Cevap == true ? "success" : "danger")">@(item.Cevap == true ? "DOĞRU" : "YANLIŞ (Bağaj içeriğine çalışın)")</td>
                                                    </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                       
                                    }
                                </td>

                            </tr>
                        </table>

                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">KALAN SORU <br /> <div id="pulsate-regular" style="font-size: large; font-weight: bold; color: red"></div></h3>

                  <ul class="panel-controls">                                
                                    
                                        <li><a href="#" class="panel-remove"> <div id="tipSorular">                         
                          
                                <label id="kalanSoruAdet" style="font-weight: bold; font-size: 20px">@ksoru</label>
                        </div></a></li>
                                    </ul>           

             @*   <div id="SoruIcerik" style="text-align: center;">*@
                 
                       
                       
                   
                @*</div>*@
            </div>
            <div class="panel-body">
                - GİS TEST, Soru : <span class="badge badge-inverse"><b>@(soruIndex == 0 ? "-" : soruIndex.ToString())</b></span><br />
                -
                <label style="font-weight: bold; font-size: 14px">@(Model == null ? "Bitti" : usorular.Soru)</label><br />

                <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                    @if (soruBilgi != null)
                    {
                        foreach (var itemx in usorular.SoruSiklaris.Where(r => r.IsActive == true))
                        {
                            //int countAlt = usorular.AltSiklars.Count();                             
                        <tr>
                            <td style="width: 4%">
                                <input id="cvp_@itemx.ID" type="checkbox" @check onclick="AltsikGoster('@itemx.UniteSorular_Ref','@itemx.ID')" />
                                <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                            </td>
                            <td>@itemx.SoruSikki @itemx.CevapIcerik
                                <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                            </td>
                        </tr> 
                        }
                    }
                </table>
            </div>
            <div class="panel-footer">
                <div id="pulsate-regular2" style="font-size: large; font-weight: bold; color: black"></div>
                @*var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(r => r.ID).Count() == 0 ? "Onayla" : "Güncelle";*@
                @if (soruIndex != 0)
                { 
                    <input type="button" class="btn btn-primary pull-right" id="Ssoru" onclick="GetTipSoruDetay('@Model.TipEgitSinavlar_Ref', '@sorunumara', 'true');"  value="Cevapla" />
                }
            </div>
        </div>
        <div class="form-group">
            @if (soruIndex != 0)
            { 
                <div id="Dogru" class="alert alert-success" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" onclick="Devam('@Model.TipEgitSinavlar_Ref', '@sorunumara');"><span aria-hidden="true" style="color: white">DEVAM</span><span class="sr-only"><strong>DEVAM</strong></span></button>
                    <strong>DOĞRU CEVAP </strong>Soruyu doğru cevapladınız.
                </div>
                <div id="Yanlis" class="alert alert-danger" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" onclick="Devam('@Model.TipEgitSinavlar_Ref', '@sorunumara');"><span aria-hidden="true" style="color: white"><strong>DEVAM</strong></span><span class="sr-only">DEVAM</span></button>
                    <strong>YANLIŞ CEVAP! </strong>
                    <label id="YanlisIcerik"></label>
                    Dikkatli inceleyiniz!
                </div>
            }
            <input id="Button1" type="button" class="btn btn-danger btn-large" value="TESTİ BİTİR" onclick="SinavBitir();" />
        </div>


        <div id="Detaylar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">BAGAJ İNCELEME</h3>

                </div>
                <div class="panel-body">
                    <div id="kontrolEkran" style="display:none">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button id="P1" style="height: 34px" class="btn btn-info btn-block" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="P2" style="height: 34px" class="btn btn-success btn-block" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="P3" style="height: 34px" class="btn btn-warning btn-block"  onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="Hi" style="height: 34px" class="btn btn-danger btn-block"  onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button id="NEG" style="height: 34px" class="btn btn-primary btn-block" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="BW" style="height: 34px" class="btn btn-primary btn-block" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="SB" style="height: 34px" class="btn btn-primary btn-block" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="SEN" style="height: 34px" class="btn btn-primary btn-block" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">   
    GetirIlk();
      
    function GetirIlk()
    {          
        $('#tiklama').remove();   
        $('#Ssoru').attr('disabled', 'disabled');    
        var myInterval = setInterval(function () { 
            defaultImage();                    
            var wth = $('#tmaddeTip').width();
            var hgt = $('#tmaddeTip').height();
            $('#Pointerxx').val(wth);
            $('#Pointeryy').val(hgt);           
            PointerSize();
            OpacityControl(); 
            var kalanSoru = '@(soruBilgi == null ? 0 : soruBilgi.Kalan)' == '0' ? 'Son Soru' : '@(soruBilgi == null ? 0 : soruBilgi.Kalan)';   
            $('#kalanSoruAdet').html(kalanSoru);
            if ('@soruIndex' == '0')
            {
                $('#kalanSoruAdet').html('Bitti');
                $('#Detaylar').css('display', 'none');
            }
            $('#kontrolEkran').css('display', 'block');
            clearInterval(myInterval);
        },2500);    
    }

    function AltsikGoster(id,checkx) 
    {   
        CheckboxControlAlt(checkx);
        var isChecked = $('#cvp_'+checkx).is(":checked");
        if (isChecked) {             
            $.ajax({ 
                url: "/SINAV/Home/AltSiklarGetir",         
                data: { 'id': id },
                success: function (data) 
                {
                    $('#alsiktablo').attr('style', 'display:block');
                    $('#alsiktablo tbody').find('tr').remove();
                    for (var i = 0; i < data.length; i++) 
                    {    
                        var newRow = '<tr><td style="width: 4%"><input id="altcvp_'+data[i].ID+'" type="checkbox" onclick="CheckboxControlAlt2('+data[i].ID+')"></td>' +
             '<td>' + data[i].AltSoruSikki + ' ' + data[i].AltCevapIcerik + '<input type="Hidden" id="AltSik_'+data[i].ID+'" value="'+data[i].ID+'" /><input type="Hidden" id="AltSoruSik_'+data[i].ID+'" value="'+data[i].AltSoruSikki+'" /></td></tr>';
                                    
                        $('#alsiktablo tbody').append(newRow); 
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            }); 
        }     
    }

    function CheckboxControlAlt(id) {  
        $('#Ssoru').removeAttr('disabled');
        //$('#alsiktablo tbody tr').remove();
        var selectCheck = $('#cvp_' + id).is(':checked') ? "checked" : "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {          
            $(trx).find("td").eq(0).find("input").removeAttr('checked');         
        });
        $('#cvp_' + id).prop('checked', true);  
        
        var ccont = $('#SoruSik_'+id).val();
        if (ccont == "a)") {
            ImageActive();             
        }
        else {           
            $("#Resim1").click(function (e) { 
                
                $('#tiklama').remove(); 
                var control = $(this).attr('id');
                if (control == "Resim1") 
                {            
                    var x = e.pageX; 
                    var y = e.pageY;       
                    var relativeX = x -10;
                    var relativeY = y -10;
                    $('#DurumK').val(false);          
                    var img = $('<img id="tiklama" src="/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
                    var div = $('<div>').css({
                        "position": "absolute"           
                    });
                    div.append(img);
                    $(document.body).append(div);  
                    $('#XKordinat').val(relativeX);
                    $('#YKordinat').val(relativeY);
                }
            });       
            $("#tmaddeTip").click(function (e) { 
                $('#DurumK').val(null);
                $('#XKordinat').val(null);
                $('#YKordinat').val(null); 
                $('#tiklama').remove();   
                var control = $(this).attr('id');
                if (control == "tmaddeTip") 
                {  
                    var x = e.pageX; 
                    var y = e.pageY;       
                    var relativeX = x -10;
                    var relativeY = y -10;
                    $('#DurumK').val(true);
                    var x = relativeX - 10;
                    var y = relativeY - 10;
                    var img = $('<img id="tiklama" src="/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
                    var div = $('<div>').css({
                        "position": "absolute"           
                    });
                    div.append(img);
                    $(document.body).append(div);  
                    $('#XKordinat').val(relativeX);
                    $('#YKordinat').val(relativeY);
                }
            }); 
        }
    }

    //function CheckboxControlAlt2(id) {    
        
    //    var selectCheck = $('#altcvp_' + id).is(':checked') ? "checked" : "";
    //    $('#alsiktablo').find('tr').each(function (ix, trx) {          
    //        $(trx).find("td").eq(0).find("input").removeAttr('checked');         
    //    });
    //    $('#altcvp_' + id).prop('checked', true);       
    //}
    function PointerSize() {        
        var glnx = '@olcek';
        var wth = $('#Pointerxx').val();
        var hgt = $('#Pointeryy').val();
        var byt = parseFloat(glnx) / 100;
        var sonucx = wth * byt;
        var sonucy = hgt * byt;
        $('#tmaddeTip').css('width', sonucx + 'px');
    }    

    function OpacityControl() {         
        var dgr = '@opaGelen'.replace(',','.');                   
        $('#tmaddeTip').css('opacity', dgr);          
    }

    function CevapKaydet(ksoru)
    {      
        $('#kontrolEkran').css('display', 'none');
        $('#Ssoru').attr('disabled', 'disabled'); 
        var id = '@id';
        var Tip_Ref = '@(Model == null ? 0 : Model.TipEgitSinavlar_Ref)';     
        var durum = jQuery('#DurumK').val();
        var Girilen_Cevap = "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) { 
            soruSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruSikki) {
                Girilen_Cevap = $(trx).find("td").eq(1).find("input[type=hidden]").val();               
            }
        });
        var soruS = $('#SoruSik_'+ Girilen_Cevap).val(); 
        
        $.ajax({
            url: "/SINAV/TipEgitimTest/SoruCevapla",
            data: { 'soruRef' : id, 'girilenCevap': soruS, 'koordinatSecim' :durum },
            async: false,
            success: function (data) 
            {    
                $.ajax({
                    url: '/SIMULATOR/BagajInceleme/LogYaz',
                    data: { 'islemTur': 2, 'simulatorRef': 4 },
                    success: function () { }
                });
                if (data == "Seçim Doğru") {
                    $('#Dogru').attr("style","display:block");                                
                }
                else {    
                    $('#tmaddeTip').attr("style", "cursor:crosshair; margin-left: @(Model != null ? Convert.ToInt32(usorular.XKordinat) : 0)px; margin-top: @(Model != null ? Convert.ToInt32(usorular.YKordinat) : 0)px; -webkit-transform: rotate(@(Model != null ? Convert.ToInt32(usorular.TMVektor) : 0)deg); opacity:@opaGelen; width:@(sonuclar)%; max-width:@(sonuclar)%; -webkit-filter: grayscale(100%) invert(100%)");
                    PointerSize();
                    OpacityControl(); 
                    $('#Yanlis').attr("style","display:block");    
                    $('#YanlisIcerik').html(data);
                    //var reset = setInterval(function () {                       
                    //    clearInterval(reset);
                    //    $('#kontrolEkran').css('display', 'block');
                    //}, 2500);
                  
                }               
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });           
    }  
    function Devam(Tip_Ref, id)
    {
        $.get('@Url.Action("_TSoruDetay", "TipEgitimTest", new { area = "SINAV" })', { TipEgitim_Ref: Tip_Ref, idx: id, Kalansoru: '@ksoru' }, function (data) {
            $("#seciliSoruIcerik").html(data);
            var reset = setInterval(function () {
                clearInterval(reset);
                $('#kontrolEkran').css('display', 'block');
            }, 2500);
            //GetirIlk();
        });    
      
    }      
        

    function ImageActive()
    {       
        $('#DurumK').val(null);
        $('#XKordinat').val(null);
        $('#YKordinat').val(null);
        $('#alsiktablo').attr('style', 'display:none');
        $('#tiklama').remove(); 
        //$('#Resim1').attr('id', 'ResimYok');
        //$('#tmaddeTip').attr('id', 'tmaddeTipYok');        
    }   
   
    function SinavBitir()
    {
        $('#kapatma').click();
    }

        

</script>
