﻿@model List<sp_EgitimSinifOgrenciGenel_Result>
@{ 
    var modelListe = Model.Select(r => new { r.ID, r.AdSoyad, r.Resim }).GroupBy(e => new { e.ID, e.AdSoyad, e.Resim }).ToList();
    int index = 0;
}

@using Haveak_Pro.Models;


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">PERSONELLER</h3>
        <ul class="panel-controls">
            <li>Seçilen Personel Sayısı : <label id="spsayi" style="margin-right:20px; font-weight:bold; font-size:18px">0</label></li>
        </ul>
    </div>
    <div class="panel-body">
        <input type="hidden" id="SeciliPersoneller" name="Personel_Ref[]" value="" />
        <table id="Personeller" class="table table-bordered table-striped table-actions">
            <thead>
                <tr>
                    <th style="width: 8px;">Seç <input id="ch_full" type="checkbox" style="cursor:pointer" disabled /></th>
                    <th><i class="icon-sitemap"></i>Personel</th>
                    @if (UserRoleName.PANEL_AdminGiris.InRole())
                    {
                        <th><i class="icon-sitemap"></i>Yetkileri</th>
                    }

                    <th><i class="icon-sitemap"></i>Devam ettiği Sınıf</th>
                    <th><i class="icon-sitemap"></i>Aldığı Kurslar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in modelListe)
                {
                    index++;
                    <tr>
                        <td>
                            <input id="index_@index" name="PrsX" type="checkbox" style="width:40px; cursor:pointer" value="@item.Key.ID" disabled />
                        </td>
                        <td>
                            <a href="#" class="friend">
                                <img src="~/DocumentFiles/Personel/@(item.Key.Resim ?? "RYok.jpg")" styl style="width: 45px; height: 45px">
                                <span>@item.Key.AdSoyad</span>
                            </a>
                        </td>
                        @if (UserRoleName.PANEL_AdminGiris.InRole())
                        {
                            <td>
                                @{
                                    string rolleri = "";
                                    var list = Model.Where(e => e.ID == item.Key.ID).GroupBy(t => t.Name).Select(r => r.Key).ToList();
                                    foreach (var itemr in list)
                                    {
                                        rolleri += "<span class='label label-primary'>" + itemr + "</span><br />";
                                    }
                                    if (rolleri == "" || rolleri == null)
                                    {
                                        rolleri = "<span class='label label-default'>YOK</span>";
                                    }
                                    <p>@Html.Raw(rolleri)</p>
                                }
                            </td>
                                    }
                        <td>
                            <div class="success"></div>
                            @{
                                string sinifAdi = "";
                                List<string> kontrol = Model.Where(r => r.ID == item.Key.ID).GroupBy(t => t.SinifAdi).Select(r => r.Key).ToList();
                                foreach (var itemz in kontrol.Select((x, y) => new { Index = y, Data = x }))
                                {
                                    sinifAdi += "<span class='label label-info'>" + itemz.Data + "</span><br />";
                                }
                                if (sinifAdi == "" || sinifAdi == null)
                                {
                                    sinifAdi = "<span class='label label-default''>YOK</span>";
                                }
                                <p>@Html.Raw(sinifAdi)</p>
                            }
                        </td>
                        <td>
                            <div class="success"></div>
                            @{
                                string kurslar = "";
                                List<string> kontrol2 = Model.Where(r => r.ID == item.Key.ID).GroupBy(t => t.BolumAdi).Select(r => r.Key).ToList();
                                foreach (var itemk in kontrol2.Select((x, y) => new { Index = y, Data = x }))
                                {
                                    kurslar += "<span class='label label-danger'>" + itemk.Data + "</span><br />";
                                }
                                if (kurslar == "" || kurslar == null)
                                {
                                    kurslar = "<span class='label label-default'>YOK</span>";
                                }
                                <p>@Html.Raw(kurslar)</p>
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div> 

<script type="text/javascript">
    $(function () {
        $('#Personeller').dataTable({
            "scrollY": "600px",
            "scrollCollapse": true,
            "paging": false
        });       
        $('input[type="checkbox"][name="PrsX"]').on('change', function () {
            debugger
            let sogrencisayi = $('#SinifOgrenciler >tbody >tr').length;
            let secilensayi = idler.length;
            let mevcuttoplamsayi = secilensayi + sogrencisayi;
            var control = $(this).is(':checked');
            var idx = $(this).val();
            if (control) {
                if (mevcuttoplamsayi <= 250) {
                    idler.push(idx);
                }
                else {
                    var i = idler.indexOf(idx);
                    idler.splice(i, 1);
                    $(this).prop('checked', false);
                    alert("Dikkat! Sınıfa atanacak maksimum 250 öğrenci sayısına ulaştı. Yeni sınıfa atama yapınız.");
                }
            }
            else {
                var i = idler.indexOf(idx);
                idler.splice(i, 1);
            }
            $('#spsayi').html(idler.length);
        });
    })
</script>