﻿@model List<Sinif_Ogrenci>
@{
    int index = 0;
}
@using Haveak_Pro.Models;


@if (Model.Count > 0)
{
 <input type="hidden" id="SOID"  value=""/>    
 <table class="table table-bordered table-striped table-actions" id="SinifOgrenciler">
    <thead>
        <tr>
            <th>Sıra</th>
            <th><i class="icon-sitemap"></i>Öğrenci</th>
            <th><i class="icon-sitemap"></i>Başlama Tarihi</th>
            <th><i class="icon-sitemap"></i>Bitiş Tarihi</th>
            <th><i class="icon-sitemap"></i>Bitti</th>
            <th><i class="icon-retweet"></i>Kategoriler</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            index++;           
            <tr>
                <td>@index                   
                </td>
                <td>
                    @if (item.Personel.Resim == null)
                    {
                        <a href="#" class="friend">
                            <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" style="width: 45px; height: 45px">
                            <span>@item.Personel.Adi @item.Personel.Soyadi</span></a>                     
                       
                    }
                    else
                    {
                        <a href="#" class="friend">
                            <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" style="width: 45px; height: 45px">
                            <span>@item.Personel.Adi @item.Personel.Soyadi</span>
                        </a>
                       
                    }
                     <input type="hidden" id="Sinif_Ref@(item.ID)"  value="@item.Sinif_Ref"/>
                     <input type="hidden" id="Personel_Ref@(item.ID)" value ="@item.Personel_Ref"/>
                </td>

                <td class="highlight">
                    <div class="success"></div>
                    <input type="text" id="BaslamaTarihi@(item.ID)" class="m-wrap small" name="BaslamaTarihi" value="@item.BaslamaTarihi.ToShortDateString()" />

                </td>
                <td class="highlight">
                    <div class="success"></div>
                    <input type="text" id="BitisTarihi@(item.ID)" class="m-wrap small" name="BitisTarihi" value="@item.BitisTarihi.ToShortDateString()" />

                </td>
                <td>
                    @if (item.Bitti == true)
                    {
                        <input id="Bittich@(item.ID)" type="checkbox" checked="checked" class="icheckbox"/>                     
                        <input id="Bitti@(item.ID)" name="Bitti" type="hidden" value="1" />
                    }
                    else
                    {
                        <input id="Bittich@(item.ID)" type="checkbox" class="icheckbox"/>
                        <input id="Bitti@(item.ID)" name="Bitti" type="hidden" value="0" />
                    }

                </td>
                <td id="Bolumler@(item.ID)">
                    @{
                        HaveakTurEntities entity = new HaveakTurEntities();
                        string kurslar = "";
                        List<Bolum> tliste = entity.Bolums.Where(r => r.IsActive == true && r.IsDelete == false && r.KursModullers.Count > 0).ToList();
                        //List<Bolum> lst = null;
                        //if (UserRoleName.PANEL_AdminGiris.InRole())
                        //{
                        //    lst = tliste.ToList();
                        //}
                        //else
                        //{
                        //    lst = tliste.Where(q => q.ID == 18).ToList(); // kurs 11 Uzak Eğitim IDs..
                        //}
                        foreach (var itemk in tliste)
                        {
                            int varmi = entity.AtananBolumlers.Where(t => t.Bolum_Ref == itemk.ID && t.Sinif_Ogrenci_Ref == item.ID).Count();

                            if (varmi > 0)
                            {
                        @Html.CheckBox("Bolum_Ref", new { @id = "Bolum_Ref" + itemk.ID, @checked = "true", @value = itemk.ID, @class = "icheckbox" }) 
                        @itemk.BolumAdi
                        <br />
                        }
                        else
                        {
                        @Html.CheckBox("Bolum_Ref", new { @id = "Bolum_Ref" + itemk.ID, @value = itemk.ID, @class = "icheckbox" }) 
                        @itemk.BolumAdi
                        <br />
                        }
                    }
                    }
                    @kurslar

                </td>
                <td>
                     <a class="btn btn-default btn-rounded btn-sm" onclick="UyariDikkat('@item.ID');"><span class="fa fa-pencil"></span></a> 
                </td>
            
            </tr>         
        }
    </tbody>
</table>         
}
else
{
    <div class="alert alert-danger" role="alert">                              
                                <strong>Boş Sınıf!</strong> Bu sınıfa atanmış öğrenci kaydı bulunmamaktadır.
                            </div>    
}

<script>
    $(function () {       
        $('#SinifOgrenciler').dataTable({
            "scrollY": "600px",
            "scrollCollapse": true,
            "paging": false            
        });
        //$('#SinifOgrenciler tbody tr input').iCheck({
        //    checkboxClass: 'icheckbox_minimal-grey'
        //});
    });

   

    function UyariDikkat(id)
    { 
        $('#SOID').val(id);
        $('#uyari2').click();
    }
    
    function Guncelle() {
        
        var idx = $('#SOID').val();
        var personel_Ref = $('#Personel_Ref' + idx).val();
        var sinif_Ref = $('#Sinif_Ref' + idx).val();
        var BaslamaTarihi = $('#BaslamaTarihi' + idx).val();
        var BitisTarihi = $('#BitisTarihi' + idx).val();
        var Bitti = $('#Bittich' + idx).prop("checked") ? 1 : 0;       
        var Bolum_Ref = [];
        $('#Bolumler'+idx+' input:checkbox').each(function () {
            var isChecked = $(this).is(":checked");
            if (isChecked) {
                Bolum_Ref.push($(this).val());
            }
        });

        if (BaslamaTarihi == "" && BitisTarihi == "") {
            return;
        }
        $.ajax({
            url: '/PANEL/EgitimIslemler/SinifOgrenciGuncelle',
            data: { 'id': idx, 'Personel_Ref': personel_Ref, 'Sinif_Ref': sinif_Ref, 'BaslamaTarihi': BaslamaTarihi, 'BitisTarihi': BitisTarihi, 'Bolum_Ref': Bolum_Ref, 'Bitti': Bitti },
            traditional: true,
            success: function (result) {
                $('#onay').click();
            }
        });
    } 
</script>

 
