﻿
@{
    ViewBag.Title = "EgitimBolumAtama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var bolumList = (List<Bolum>)ViewBag.Bolum;
    var siniflar = (List<Sinif>)ViewBag.Sinif;
    HaveakTurEntities Entity = new HaveakTurEntities();
    ViewBag.Sayfa = "Egitim";

}
@using Haveak_Pro.Models;




<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">ÜNİTELER</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form id="form1" action="/PANEL/EgitimIslemler/SinifOgrenciKaydet" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>EĞİTİM SINIFA KATEGORİ ATAMA İŞLEMLERİ </strong>Sınıfa Bağlı Kategori Ekleme Kaldırma Güncelleme</h3>
                    </div>
                    <div class="panel-body">
                        <p>Eğitim Sınıflara tanımlı Personellere kurslar eklendiği, düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">

                            <div class="form-group">

                                <label class="col-md-2 control-label">Kategoriler</label>
                                <div class="col-md-10" id="checklistx">

                                    @foreach (var itemBolumList in bolumList)
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="Bolum_Ref_@itemBolumList.ID" name="Bolum_Ref" type="checkbox" class="icheckbox" value="@itemBolumList.ID" />
                                                </td>
                                                <td>
                                                    <h6>@itemBolumList.BolumAdi</h6>
                                                </td>
                                            </tr>
                                        </table>
                                        <ol>
                                            @foreach (var itemMb in itemBolumList.KursModullers)
                                            {
                                                <li>@itemMb.UniteModul.Modul</li>
                                            }
                                        </ol>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Sınıflar</label>
                                <div class="col-md-10">
                                    <select id="Sinif_Ref" name="Sinif_Ref" class="form-control select" data-style="btn-success" onchange="getData()" data-live-search="true">
                                        <option value="0">Sınıf Seçiniz</option>
                                        @foreach (var item in siniflar)
                                        {
                                            <option value="@item.ID">@item.SinifAdi</option>
                                        }
                                    </select>
                                    <input type="hidden" id="ID" value="" />
                                    <span class="help-block">Eğitim Modül Girişi</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-2 control-label">Başlama Tarihi</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="BaslamaTarihi" name="BaslamaTarihi" placeholder="Baslama Tarihi" class="form-control datepicker" value="" />
                                    </div>
                                    <span class="help-block">(Yıl-Ay-Gün) Uluslararası Format</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Bitiş Tarihi</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="BitisTarihi" name="BitisTarihi" placeholder="Bitis Tarihi" class="form-control datepicker" value="" />
                                    </div>
                                    <span class="help-block">(Yıl-Ay-Gün) Uluslararası Format</span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">
                            <div id="PersonelListe">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sınıfa Kayıtlı Personeller</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body" id="SinifOgrenci">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Sınıf Seçiniz!</strong> Sınıfa tanımlalı Personelleri görmek için lütfen sınıf seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="panel-footer">
                        <input type="button" class="btn btn-default" onclick="Refresh()" value="Temizle" />
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- END PAGE CONTENT WRAPPER -->


    <button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
    <button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
    <button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

    <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
                <div class="mb-content">
                    <p>Lütfen Seçili Modül ve Ünite Adı bilgilerini kontrol ediniz!</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box message-box-info animated fadeIn" id="message-box-info">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
                <div class="mb-content">
                    <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Üniteye bağlı Tüm Konular sistemden kaldırılacaktır!!!)</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
    <div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
                <div class="mb-content">
                    <p>Yapılan Değişiklikler Sisteme Yansıtılacaktır Eminmisiniz ?</p>
                </div>
                <div class="mb-footer">
                    <input type="hidden" id="SOID" value="" />
                    <button class="btn btn-warning btn-lg pull-right mb-control-close" onclick="Guncelle();">Evet</button>
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>

    $('#ch_full').click(function () {
        //var sinifref = $('#Sinif_Ref').val();
        //if (sinifref == "0") {
        //    alert("Lütfen sınıf bilgisi seçiniz!");
        //    $(this).prop('checked', false);
        //    return;
        //}
        
        var checked = $(this).prop('checked');
        if (checked) {

            let sogrencisayi = $('#SinifOgrenciler >tbody >tr').length;
            let secilensayi = $('#Personeller >tbody >tr').length;
            let mevcuttoplamsayi = secilensayi - sogrencisayi;
            for (var i = 1; i <= mevcuttoplamsayi+1; i++)
            {
                if (i < 251)
                {
                    $('#index_' + i).prop('checked', true);
                    $('#spsayi').html(i);
                }
            }

        }
        else {
            $('input[name=PrsX]').prop('checked', false);
            $('#spsayi').html("0");
            idler = [];
        }

        $("#Personeller tbody tr").find("input[type=checkbox]").each(function () {
            var isChecked = $(this).prop("checked");
            if (isChecked)
            {
                idler.push($(this).val());
            }
        });
    });

    var idler = [];
    //$(function () {
        PersonelListe();       
    //});

    function PersonelListe()
    {
        $.post('@Url.Action("_EgitimAtaPersonel", "EgitimIslemler", new { area = "PANEL" })', function (data) {
                $('#PersonelListe').html(data);
        });
    }

    function BilgiGuncelle(id, mref, uadi) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Modul_Ref option:selected").removeAttr("selected");
        $("#Modul_Ref option[value='" + mref + "']").attr('selected', 'selected');
        $("#Modul_Ref").change();
        $("#UniteAdi").val(uadi);
        $("#VideoAta")
        $("#UniteAdi").focus();
        $("#ID").val(id);
    }

    function Ekle() {

        $('#KaydetBtn').attr('disabled', 'disabled');
        $('#KaydetBtn').val("İşlem Sürüyor...");
        var bolumler = [];
        $("#checklistx input:checkbox").each(function () {
            var isChecked = $(this).prop("checked");
            if (isChecked) {
                bolumler.push($(this).val());
            }
        });


        var sinifref = $('#Sinif_Ref').val();
        var baslamaTarihi = $('#BaslamaTarihi').val();
        var bitisTarihi = $('#BitisTarihi').val();

        //$('#Personeller input:checkbox').each(function () {
        //    var isChecked = $(this).prop("checked");
        //    if (isChecked) {
        //        personeller.push($(this).val());
        //    }
        //});

        
        if (bolumler.length != 0 && sinifref != 0 && baslamaTarihi != "" && bitisTarihi != "" && idler.length != 0)
        {

            $('#kaydet').attr('disabled', 'disabled');

            $.ajax({
                type: 'POST',
                url: '/PANEL/EgitimIslemler/SinifOgrenciKaydet',
                data: { 'Bolum_Ref': bolumler, 'Personel_Ref': idler, 'Sinif_Ref': sinifref, 'BaslamaTarihi': baslamaTarihi, 'BitisTarihi': bitisTarihi },
                traditional : true,
                async: false,
                success : function(){
                    $('#onay').click();
                }
            });

        } else
        {
            $('#KaydetBtn').removeAttr('disabled');
            $('#uyari').click();
        }
    }

    function Guncelle() {
        $('#GuncelleBtn').attr('disabled', 'disabled');
        $('#GuncelleBtn').val("İşlem Sürüyor...");
        var modul = $("#Modul_Ref").val();
        var unite = $("#Unite").val();
        var id = $("#ID").val();

        $.get('@Url.Action("UniteGuncelle", "EgitimIslemler", new { area = "PANEL" })', { ID: id, UniteAdi: unite, Modul_Ref: modul }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function getData() {
        var yukleniyor = '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
        $("#SinifOgrenci").html(yukleniyor);
        var idx = $('#Sinif_Ref').val();
        if (idx != "0") {
            $.get('@Url.Action("_SinifData", "EgitimIslemler", new { area = "Panel" })', { sinifId: idx }, function (data) {
                $("#SinifOgrenci").html(data);
                $('input[name=PrsX]').removeAttr('disabled');
                $('#ch_full').removeAttr('disabled');

            });
        }
        else {
            $('input[name=PrsX]').attr('disabled', 'disabled');
            $('#ch_full').attr('disabled', 'disabled');
            $("#SinifOgrenci").html("<div class='alert alert-warning' role='alert'>" +
                                "Sınıf Seçiniz!</strong> Sınıfa tanımlı Personelleri görmek için lütfen sınıf seçiniz." +
                            "</div>");
        }
    }

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("UniteSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        location.reload();
    }
</script>





