﻿@model List<Egitim_Arsivi>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var unitList = (List<UniteModul>)ViewBag.UnitList;
    HaveakTurEntities entity = new HaveakTurEntities();
    int index = 0;
    ViewBag.Sayfa = "Egitim";
}



@using Haveak_Pro.Models;

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">ÜNİTE</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-8">

            <form class="form-horizontal" action="@Url.Action("EgitimArsivEkle", "EgitimIslemler", new { area = "PANEL" })" method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>EĞİTİM ÜNİTE İÇERİK İŞLEMLERİ </strong>Ünite içerik Ekleme İptal Güncelleme </h3>
                    </div>
                    <div class="panel-body">
                        <p>Eğitim sınıflarının çalışaçağı ünitelerin düzenlendiği alan. </p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Başlık :</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <input id="Baslik" name="Baslik" type="text" placeholder="Başlık Adı giriniz" class="form-control" style="width: 300px">
                                        <input type="hidden" id="ID" value="" />
                                    </div>
                                    <span class="help-block">Başlık bilgisi girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Ünite :</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <select id="Unite_Ref" name="Unite_Ref" class="form-control select" data-style="btn-success">
                                            <option value="0">Ünite Başlığı Seçiniz</option>
                                            @foreach (var itemUnitList in unitList)
                                            {
                                                <optgroup label="@itemUnitList.Modul">
                                                    @{ var uniteListesi = entity.Unites.Where(r => r.IsActive == true && r.IsDelete == false).ToList();
                                                       foreach (var itemAlt in uniteListesi.Where(r => r.Modul_Ref == itemUnitList.ID))
                                                       {
                                                        <option style="color:blue" value="@itemAlt.ID">@itemAlt.UniteAdi</option>                                          
                                                       }                                              
                                                    }
                                                </optgroup>
                                            }

                                        </select>
                                        <span class="help-block">Ünite bilgisi seçimi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">İçerik :</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <textarea class="ckeditor" id="Icerik" name="Icerik"></textarea>
                                    </div>
                                    <span class="help-block">Ünite Konu İçerik</span>
                                </div>
                            </div>                                                     
                            <div class="form-group">
                                <label class="col-md-2 col-xs-12 control-label">Görüntü Video :</label>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <input type="file" class="fileinput btn-info" name="Video" id="Video" data-filename-placement="inside" title="Video Seçiniz">
                                        @*<input type="file" class="fileinput btn-primary" id="Video" />*@
                                    </div>
                                    <span id="VideoAdi" class="help-block">Video Görüntü</span><span class="help-block">
                                        Desteklenen formatlar : "mp4", "webm", "3gpp", "ogg", "mpeg", "quictime", "m4v", "x-ms-wmv" <br />
                                        <b>Farklı videolarınızı çeviri için : <a href="http://video.online-convert.com/convert-to-mp4" target="_blank">Aktif çeviri sitesi</a> </b>
                                                                                               </span>
                                </div>
                            </div>   
                           
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" style="cursor: pointer" onclick="Refresh();">Temizle</a>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" />
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Modül Üniteler</strong></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-actions datatable">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Modül Adı</th>
                                <th>Ünite</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(t => t.Unite.Sira).Select(t => new { t.Unite.UniteModul.Modul }).Distinct())
                            {
                                index++; 
                                <tr>
                                    <td>@index</td>
                                    <td style="width: 45px;">@item.Modul</td>
                                    <td>
                                        <table>
                                            @foreach (var itemx in Model.OrderBy(t => t.Unite.Sira).Where(t => t.Unite.UniteModul.Modul == item.Modul))
                                            {
                                                <tr>
                                                    <td style="width: 100%">@itemx.Unite.UniteAdi
                                                    </td>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@itemx.ID',@itemx.Unite.ID,'@itemx.Baslik', '@itemx.Video');"><span class="fa fa-pencil"></span></a></td>
                                                                <td>
                                                                    <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@itemx.ID');"><span class="fa fa-times"></span></a></td>
                                                            </tr>
                                                        </table>
                                                        <input type="hidden" id ="Id_@itemx.ID" value="@itemx.Icerik" />
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>                                                
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Ünite Adı ve İçerik bilgisi giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>
@section scripts{
<script type="text/javascript">
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');  
    function BilgiGuncelle(id, uref, baslik, video) {
        
        //$("#Icerik").attr("style", "visibility:visible");
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Baslik").val(baslik);
        var icerik = $('#Id_' + id).val();
        CKEDITOR.instances['Icerik'].setData(icerik);
        $("#Unite_Ref option:selected").removeAttr("selected");
        $("#Unite_Ref option[value='" + uref + "']").attr('selected', 'selected');
        $('#VideoAdi').html(video)
        $("#Unite_Ref").change();
        $("#Baslik").focus();
        $("#ID").val(id);
    }

    function Ekle() {
        var baslik = $("#Baslik").val();
        var icerik = $('#Icerik').val();
        var unite_ref = $("#Unite_Ref").val();
        if (baslik == "" || icerik == "" || unite_ref == "0") {
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }

    $('#GuncelleBtn').on('click', function (e) {
        e.preventDefault();
        
        var id = $("#ID").val();
        var baslik = $("#Baslik").val();
        var icerik = CKEDITOR.instances['Icerik'].getData();
        var unite_ref = $("#Unite_Ref").val();
        var video = $('#Video').prop("files")[0];
        if (baslik == "" || icerik == "" || unite_ref == "0") {
            $('#uyari').click();
            return;
        }
        //$('form').submit();

        var form_data = new FormData();
        form_data.append('id', id)
        form_data.append('Baslik', baslik)
        form_data.append('editor1', icerik)
        form_data.append('Unite_Ref', unite_ref)
        form_data.append('Video', video)

        $.ajax({
            type: "POST",
            url: "/PANEL/EgitimIslemler/EgitimArsivGuncelle",
            data: form_data,
            dataType: 'json',
            contentType: false,
            processData: false, 
            success: function (data) {
               
            }
        });   
        $('#onay').click();
    });
      

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {
        var id = $("#ID").val();
        $.get('@Url.Action("EgitimArsivSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        location.reload();
        }

</script>
    }

