﻿@{
    ViewBag.Title = "Sinif";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";

    ViewBag.Sayfa = "Duyuru";

    var firmalar = (List<Firmalar>)ViewBag.Firmalar;
    int? firmaRef = null;
    if (!UserRoleName.PANEL_AdminGiris.InRole())
    {
        firmaRef = AktifKullanici.Aktif.FirmaId;
    } 
}
@using Haveak_Pro.Models;


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINIFLAR</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="#" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>EĞİTİM SINIF İŞLEMLERİ </strong>Sınıf Ekleme İptal Güncelleme </h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Eğitim Sınıflarının tanımlandığı ve güncellendiği yerdir. </p>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Firma Adı :</label>
                                <div class="col-md-6 col-xs-12">
                                    <select id="Firmalar" name="Firmalar" class="form-control select"  onchange="SinifListe();">
                                        @if (UserRoleName.PANEL_AdminGiris.InRole())
                                        {                                          
                                            <option value="0">Harici</option>
                                            foreach (var item in firmalar)
                                            {                                              
                                            <option value="@item.ID">@item.FirmaAdi</option>                                              
                                            }
                                        }
                                        else
                                        {
                                            if (AktifKullanici.Aktif.FirmaId == null)
                                            {
                                            <option>Lütfen Firmanızın yetkili ataması için Sistem yöneticisine başvurun!</option>
                                            }
                                            else
                                            {
                                                foreach (var item in firmalar)
                                                {
                                                    if (item.ID == AktifKullanici.Aktif.FirmaId)
                                                    {
                                            <option value="@item.ID" selected>@item.FirmaAdi</option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                    <span class="help-block">Firma Bilgisi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Sınıf Adı :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="SinifAdi" name="SinifAdi" type="text" placeholder="Adı giriniz" class="form-control" style="width: 300px">
                                        <input type="hidden" id="ID" value="" />
                                    </div>
                                    <span class="help-block">Eğitim Sınıf girişi</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sınıflar</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body" id="Liste">
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" style="cursor: pointer" onclick="Refresh();">Temizle</a>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Sınıf Adı giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Sınıf Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Sınıfa bağlı Tüm Birimler sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        SinifListe();
    });

    function SinifListe() {
        
        var firmaId = "";
        if ('@firmaRef' == '') {
            firmaId = $('#Firmalar').val();
        }
        else {
            firmaId = '@firmaRef';
        }

        $.get('@Url.Action("_SinifListesi", "EgitimIslemler", new { area = "PANEL" })', { firmaRef: firmaId }, function (result) {
            $('#Liste').html(result);
        });
    }


    function BilgiGuncelle(id, badi, firmaId) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Firmalar option[value='" + firmaId + "']").attr('selected', 'selected');
        $("#Firmalar").change();
        //$("#Firmalar").addClass("selectpicker").selectpicker('refresh');
        $("#SinifAdi").val(badi);
        $("#SinifAdi").focus();
        $("#ID").val(id);
    }

    function Ekle() {
        var SinifAdi = $("#SinifAdi").val();
        if (SinifAdi == "") {
            $('#uyari').click();
            return;
        }
        var firmaId = $('#Firmalar').val();       

        $.get('@Url.Action("SinifEkle", "EgitimIslemler", new { area = "PANEL" })', { firmaId: firmaId, SinifAdi: SinifAdi }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function Guncelle() {
        var firmaId = $('#Firmalar').val();
        var SinifAdi = $("#SinifAdi").val();
        var id = $("#ID").val();

        $.get('@Url.Action("SinifGuncelle", "EgitimIslemler", new { area = "PANEL" })', { ID: id, firmaId: firmaId, SinifAdi: SinifAdi }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

   
    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {

        var id = $("#ID").val();
        $.get('@Url.Action("SinifSil", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function Refresh() {
        window.location.href = '@Url.Action("Sinif", "EgitimIslemler", new { area = "PANEL" })';
    }


</script>



