﻿@model List<Unite>
@{
    ViewBag.Title = "Unite";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = 0;
    var Moduller = (List<UniteModul>)ViewBag.Moduller;
    ViewBag.Sayfa = "Egitim";
}
@using Haveak_Pro.Models;


<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">ÜNİTELER</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("UniteEkle", "EgitimIslemler", new { area = "PANEL" })" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>EĞİTİM ÜNİTE İŞLEMLERİ </strong>Bölüme Bağlı Ünite Ekleme Kaldırma Güncelleme</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Eğitim bölüme tanımlı ünitelerin eklendiği, düzenlendiği yerdir.</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Ünite Adı</label>
                                <div class="col-md-10">
                                    <input id="UniteAdi" name="UniteAdi" type="text" placeholder="Ünite adı giriniz" class="form-control">
                                    <span class="help-block">Eğitim Ünite Girişi</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Bölüm :</label>
                                <div class="col-md-10">
                                    <select id="Modul_Ref" name="Modul_Ref" class="form-control select" data-style="btn-success">
                                        <option value="0">Bölüm Seçiniz</option>
                                        @foreach (var item in Moduller)
                                        {
                                            <option value="@item.ID">@item.Modul</option>
                                        }
                                    </select>
                                    <input type="hidden" id="ID" value="" />
                                    <span class="help-block">Eğitim Bölüm Girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Sıra</label>
                                <div class="col-md-10">
                                    <input id="Sira" name="Sira" type="number" placeholder="Ünite Sırası Giriniz" class="form-control" style="width:150px">
                                    <span class="help-block">Okunma Sırası</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Üniteler</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table id="uniteler" class="table table-bordered table-striped table-actions">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>Bölüm Adı</th>
                                                <th>Ünite</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Where(e => e.UniteModul.IsActive == true && e.UniteModul.IsDelete == false).Select(t => new { t.UniteModul.Modul }).Distinct())
                                            {
                                                index++;
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@item.Modul</td>
                                                    <td>
                                                        <table>
                                                            @foreach (var itemx in Model.Where(t => t.UniteModul.Modul == item.Modul && t.UniteModul.IsActive == true && t.UniteModul.IsDelete == false).OrderBy(e => e.Sira))
                                                            {
                                                                <tr>
                                                                    <td style="width:100%">@itemx.UniteAdi</td>
                                                                    <td><span class="badge badge-info"> @itemx.Sira</span></td>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@itemx.ID',@itemx.Modul_Ref,'@itemx.UniteAdi', @itemx.Sira);"><span class="fa fa-pencil"></span></a>
                                                                                </td>
                                                                                <td>
                                                                                    <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@itemx.ID');"><span class="fa fa-times"></span></a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Temizle</button>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Seçili Bölüm ve Ünite Adı bilgilerini kontrol ediniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Ünite Sistemden Kaldırılacaktır Eminmisiniz? (Uyarı: Üniteye bağlı Tüm Konular sistemden kaldırılacaktır!!!)</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $('#uniteler').dataTable({
        "scrollY": "600px",
        "scrollCollapse": true,
        "paging": false
    });
    function BilgiGuncelle(id, mref, uadi, sira) {
        
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Modul_Ref option:selected").removeAttr("selected");
        $("#Modul_Ref option[value='" + mref + "']").prop('selected', true);
        $("#Modul_Ref").change();
        $("#UniteAdi").val(uadi);
        $("#Sira").val(sira);
        $("#Modul_Ref").change();
        $("#UniteAdi").focus();
        $("#ID").val(id);
    }

    function Ekle() {
        var modul = $("#Modul_Ref").val();
        var unite = $("#UniteAdi").val();
        var sira = $("#Sira").val();
        if (modul == "0" || unite == "" || sira == "") {
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }

    function Guncelle() {
        var modul = $("#Modul_Ref").val();
        var unite = $("#UniteAdi").val();
        var sira = $("#Sira").val();
        var id = $("#ID").val();

        $.get('@Url.Action("UniteGuncelle", "EgitimIslemler", new { area = "PANEL" })', { ID: id, UniteAdi: unite, Modul_Ref: modul, Sira : sira}, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    function Remove(id) {
        $('#silme').click();
        $("#ID").val(id);
    }

    function Sil() {

        var id = $("#ID").val();
        $.get('@Url.Action("UniteSilme", "EgitimIslemler", new { area = "PANEL" })', { ID: id }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }
    function Refresh() {
        window.location.href = '@Url.Action("Unite", "EgitimIslemler", new { area = "PANEL" })';
    }


</script>
}
