﻿@model List<Duyurular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    Dictionary dicList = new Dictionary();
    var duyuruTipi = dicList.DuyuruTipi();
    var duyuruOncelik = dicList.DuyuruOncelik();
    var kimlikID = AktifKullanici.Aktif.User_Ref;
    int index = 0;
    ViewBag.Sayfa = "Duyuru";    
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;



<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">DUYURULAR</li>
</ul>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" action="@Url.Action("DuyuruYayinla", "Duyurular", new { area = "PANEL" })" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>DUYURU İŞLEMLERİ </strong>Duyuru Ekleme Kaldırma Güncelleme</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p>Yönetimsel ve Sınav hakkında kullanıcılara yapılacak bildirimlerin yapıldığı yer. </p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">                            
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Başlık :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <input id="Baslik" name="Baslik" class="form-control" value="" />
                                    </div>
                                    <span class="help-block">Başlık girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Duyuru :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <textarea id="Duyuru" name="Duyuru" class="form-control" rows="5"></textarea>
                                    </div>
                                    <span class="help-block">Duyuru içerik girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Öncelik :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group" style="z-index: 5">
                                        <select id="Oncelik" name="Oncelik" class="form-control select">
                                            <option value="0">Öncelik Seçiniz</option>
                                            @foreach (var item in duyuruOncelik)
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <span class="help-block">Eğitim Bölüm Kategori girişi</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Tipi :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        <select id="Tipi" name="Tipi" class="form-control select">
                                            <option value="0">Tip Seçiniz</option>
                                            @foreach (var item in duyuruTipi)
                                            {
                                                <option value="@item.Key">@item.Value</option>
                                            }
                                        </select>
                                        <input type="hidden" id="ID" value="" />
                                    </div>
                                    <span class="help-block">Duyurunun tip girişi</span>
                                </div>
                            </div>
                            <div id="yayinda" class="form-group" style="display: none">
                                <label class="col-md-3 col-xs-12 control-label">Yayında :</label>
                                <div class="col-md-9 col-xs-12">
                                    <div id="durumx" class="input-group">
                                        <input id="IsActive" type="checkbox" class="icheckbox" />
                                    </div>
                                    <span class="help-block">Yayın aktifliği</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Duyurular</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-actions datatable">
                                        <thead>
                                            <tr>
                                                <th>Sıra</th>
                                                <th>Tipi</th>
                                                <th>Başlık</th>
                                                <th>Duyuru</th>
                                                <th>Öncelik</th>
                                                <th>Yayında</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                index++;
                                                var tip = duyuruTipi.Where(t => t.Key == item.Tipi).Select(u => u.Value).FirstOrDefault();
                                                var oncelik = duyuruOncelik.Where(t => t.Key == item.Oncelik).Select(w => w.Value).FirstOrDefault();
                                                <tr>
                                                    <td>@index</td>
                                                    <td>@tip</td>
                                                    <td>@item.Baslik</td>
                                                    <td>@item.Duyuru</td>
                                                    <td>@oncelik</td>
                                                    <td>@Html.CheckBox("check", item.IsActive, new { id = "ap_" + item.ID, @class = "icheckbox" })</td>
                                                    <td>
                                                        <a class="btn btn-default btn-rounded btn-sm" onclick="BilgiGuncelle('@item.ID', '@item.Baslik', '@item.Duyuru','@tip','@item.Oncelik');"><span class="fa fa-pencil"></span></a>
                                                        <a class="btn btn-danger btn-rounded btn-sm" onclick="Remove('@item.ID');"><span class="fa fa-times"></span></a>
                                                    </td>
                                                </tr>                                                
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" onclick="Refresh();" style="cursor: pointer">Temizle</a>
                        <input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                        <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Seçili olmayan değer veya eksik parametre bırakmayın!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili Duyuru Sistemden Kaldırılacaktır Eminmisiniz?</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
 
@section scripts{
<script type="text/javascript">

    function BilgiGuncelle(id, bslk, dyr, tip, oncelik) {
        $("#GuncelleBtn").attr("style", "visibility:visible");
        $("#KaydetBtn").attr("style", "visibility:hidden");
        $("#Baslik").val(bslk);
        $("#Duyuru").val(dyr);
        $("#Tipi option:selected").removeAttr("selected");
        $("#Tipi option[value='" + oncelik + "']").attr('selected', 'selected');

        $("#Oncelik option:selected").removeAttr("selected");
        $("#Oncelik option[value='" + oncelik + "']").attr('selected', 'selected');

        $('#yayinda').attr('style', 'display:block');
        var activepassive = $('#ap_' + id).is(":checked")
        $('#IsActive').attr('checked', activepassive);
        if (activepassive) {
            $('#durumx').find('.icheckbox_minimal-grey').attr('class', 'icheckbox_minimal-grey checked');
        }
        else {
            $('#IsActive').find('.icheckbox_minimal-grey').attr('class', 'icheckbox_minimal-grey');
        }
        
        $("#IsActive").select().trigger('change');
        $("#Tipi").select().trigger('change');
        $("#Oncelik").select().trigger('change');
        $("#ID").val(id);
        $("#Duyuru").focus();
    }

    function Ekle() {
        var baslik = $("#Baslik").val();
        var duyuru = $("#Duyuru").val();
        var tip = $("#Tipi").val();
        var oncelik = $("#Oncelik").val();
        if (baslik == "" || duyuru == "" || tip == "0" || oncelik == "0") {
            $('#uyari').click();
            return;
        }
        $('form').submit();
    }


    function Guncelle() {
        
        var baslik = $("#Baslik").val();
        var duyuru = $("#Duyuru").val();
        var tip = $("#Tipi").val();
        var oncelik = $("#Oncelik").val();
        var aktif = $('#IsActive').is(":checked") ? true : false;
        var id = $("#ID").val();

        $.get('@Url.Action("DuyuruGuncelle", "Duyurular", new { area = "PANEL" })', { id: id, tip: tip, Oncelik: oncelik, Baslik: baslik, Duyuru: duyuru, Active: aktif }, function (data) {
            if (data) {
                $('#onay').click();
            }
        });
    }

    var silData = 0;
    function Remove(id) {
        silData = id;
        $('#silme').click();
    }

    function Sil() {

        
        $.ajax({
            url: '@Url.Action("DuyuruSil", "Duyurular", new { area = "PANEL" })',
            data: { 'id': silData },
            async: false,
            success: function (data) { 
                if (data) {
                    $('#onay').click();
                }
            }
        });       
    }

    function Refresh() {
        window.location.href = '@Url.Action("Index", "Duyurular", new { area = "PANEL" })';
    }


</script>
  }    