﻿@model PagedList.IPagedList<TehlikeliMaddeKategori>
@{
    ViewBag.Title = "YasaklıMaddeKategori";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    int index = (int)ViewBag.RecordNo;
    ViewBag.Sayfa = "Bagajlar";
}
@using Haveak_Pro.Models;
@using PagedList.Mvc;

<!-- PAGE CONTENT -->


    <!-- START BREADCRUMB -->
    <ul class="breadcrumb push-down-0">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })">Panel</a></li>
        <li class="active"><a href="#">YASAKLI MADDE KATEGORİLER</a></li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- START CONTENT FRAME -->
    <div class="content-frame">

        <!-- START CONTENT FRAME TOP -->
        <div class="content-frame-top">
            <div class="page-title">
                <h2><span class="fa fa-exclamation-triangle"></span>YASAKLI MADDE KATEGORİLER</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" onclick="TMKaydet();"><span class="fa fa-upload"></span>KAYDET</button>
                <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
            </div>
        </div>

        <!-- START CONTENT FRAME RIGHT -->
        <div class="content-frame-right">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Yeni Kayıt</h3>
                </div>
                <div class="panel-body">
                    <form id="rsmKayit" enctype="multipart/form-data" class="form-horizontal" action="@Url.Action("SaveTMKategori", "GoruntuIslemler", new { area = "PANEL" })" method="post">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Kategori Adı :</label>
                                <input type="text" class="form-control" value="" id="Baslik" name="Baslik" placeholder="Kategori Başlık girin..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Resim :</label><br />
                                <input type="file" multiple id="file-simple" name="Resim" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="guncellePnl" class="panel panel-danger" style="display: none">
                <div class="panel-heading">
                    <h3 class="panel-title">Güncelle</h3>
                </div>
                <div class="panel-body" style="text-align: center">

                    <img id="guncelleResim" src="" alt="Yeni Kategori Resim" style="width: 210px;" />
                    <input type="hidden" id="rsmID" value="" />
                    <div class="meta">
                        <input type="text" class="form-control" id="resimAdi" value="" />
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="file" multiple id="GuncelleTMadde" name="Resim" />
                    <button class="btn btn-primary" onclick="GuncellemeKaydet();">Güncelle</button>
                    <button class="btn btn-default" onclick="GuncelleIptal();">İptal</button>
                </div>
            </div>
        </div>
        <!-- END CONTENT FRAME RIGHT -->

        <!-- START CONTENT FRAME BODY -->
        <div id="TMaddeler" class="content-frame-body content-frame-body-left">

            @*<div class="pull-right push-up-10">
                <div class="btn-group">

                    <button id="btnSil" class="btn btn-primary" onclick="Remove();"><span class="fa fa-trash-o"></span>Sil</button>
                </div>
            </div>*@

            <div class="gallery" id="links">
                @foreach (var item in Model)
                {
                    index++;        
                    <a id="kategori_@item.ID" class="gallery-item" href="~/@item.Resim" title="@item.Baslik" data-gallery>
                        <div class="image">
                            <img src="~/@item.Resim" alt="@item.Baslik" style="height:260px"/>
                            <ul class="gallery-item-controls">
                                @*<li>
                                     <label class="check">
                                       <input id="@item.ID" type="checkbox" class="icheckbox" onchange="getir();"/></label></li>*@
                                <li><span id="spn_@item.ID" class="gallery-item-update"><i class="fa fa-retweet"></i></span></li>
                            </ul>
                        </div>
                        <div class="meta">
                            <span class="badge badge-danger" style="color: white;"><strong>@index) @item.Baslik</strong></span>
                            <input type="hidden" id="kategoriData_@item.ID" value="@item.Resim"/>
                            <input type="hidden" id="kategoriBaslik_@item.ID" value="@item.Baslik"/>
                        </div>
                    </a> 
                }
            </div>

            <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                <li>@Html.PagedListPager(Model, page => "javascript:getData(" + page + ")")</li>
            </ul>

        </div>
        <!-- END CONTENT FRAME BODY -->
    </div>
    <!-- END CONTENT FRAME -->




<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Kategori Resmi ve Adı giriniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->

<!-- END PAGE CONTAINER -->

<!-- BLUEIMP GALLERY -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- END BLUEIMP GALLERY -->


<!-- START PLUGINS -->
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>

<!-- START TEMPLATE -->

<script>

    $(".gallery-item-update").on("click", function () { 
        var idd = $(this).attr("id").split("_")[1];
        var resim = $('#kategoriData_' + idd).val();
        var baslik = $('#kategoriBaslik_' + idd).val();
        $('#guncelleResim').attr('src', '/' + resim);
        $('#resimAdi').val(baslik);
        $('#rsmID').val(idd);
        $('#guncellePnl').attr('style', 'display:block');
        return false;
    });


    function GuncelleIptal() {
        $('#GuncelleTMadde').prop('files')[0] = null;
        $('.file-input').find('button').click();
        $('#guncellePnl').attr('style', 'display:none');
    }

    function GuncellemeKaydet() {
        
        var idx = $('#rsmID').val();
        var file = $('#GuncelleTMadde').prop('files')[0];
        var kategoriAdi = $('#resimAdi').val();

        if (kategoriAdi == "") {
            $('#uyari').click();
            return;
        }

        var form_data = new FormData();
        form_data.append('ID', idx)
        form_data.append('Resim', file)
        form_data.append('Baslik', kategoriAdi)

        $.ajax({
            url: "/PANEL/GoruntuIslemler/UpdateTMKategori",
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (data) {
                if (data) {
                    $('#onay').click();                   
                }
            }
        });

    }

    $(function () {
        $("#file-simple").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
        $("#GuncelleTMadde").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-danger",
            fileType: "any"
        });
    });
    function TMKaydet() {
        var baslik = $('#Baslik').val();
        var resim = $('#file-simple').prop('files')[0];
        if (resim == null || baslik == "") {
            $('#uyari').click();
            return;
        }
        $('#rsmKayit').submit();
    }

    function getData(id) {
        window.location.href = '/PANEL/GoruntuIslemler/TehlikeliMaddeKategori?page=' + id;
    }

    function Refresh()
    {
        window.location.href = '@Url.Action("TehlikeliMaddeKategori", "GoruntuIslemler", new { area = "PANEL" })';
    }
        </script>



