﻿@model List<Egitim_Arsivi>
@{
    ViewBag.Title = "Konu";
    Layout = "~/Views/Shared/_LMenu.cshtml";

    int atnblm = (int)ViewBag.AtananBolum;

    HaveakTurEntities entity = new HaveakTurEntities();
    int pageNumber = 0;
    pageNumber = Model.Count;
    List<int> idlist = (List<int>)ViewBag.UniteID;
    int nexID = 0;
    int unitID = 0;
    int uniteOncekiID = 0;
    DateTime baslangic = (DateTime)ViewBag.baslamatar;
    string uniteBaslik = "";
    var okunmusBolum = false;
    foreach (var itemn in idlist.Select((x, y) => new { Index = y, Data = x }))
    {
        try
        {
            int index = (itemn.Index + 1);
            var unite = Model.Select(r => new { r.Unite_Ref, r.Baslik }).FirstOrDefault();
            unitID = unite.Unite_Ref;

            if (unitID == itemn.Data)
            {
                uniteOncekiID = idlist.Select((r, m) => new { Ix = m, Id = r }).Where(u => u.Ix == itemn.Index - 1).Select(r => r.Id).FirstOrDefault();
                uniteBaslik = entity.Egitim_Arsivi.Where(t => t.Unite_Ref == uniteOncekiID).Select(y => y.Baslik).FirstOrDefault();
                nexID = idlist.Select((r, m) => new { Ix = m, Id = r }).Where(u => u.Ix == index).Select(r => r.Id).FirstOrDefault();
                okunmusBolum = entity.OkunanUnitelers.Where(t => t.AtananBolumler_Ref == atnblm && t.Unite_Ref == nexID).Count() > 0 ? true : false;
            }
        }
        catch
        {
            unitID = 0;
        }
    }
    string yetki = "False";
    if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
    {
        yetki = "True";
    }
}
@using Haveak_Pro.Models;

<link href="~/Content/autcss/video-js.min.css" rel="stylesheet" />
<script src="~/Content/autjs/video.min.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">AnaSayfa</a></li>
    <li><a href="@Url.Action("Index", "Home", new { area = "EGITIM" })">Eğitim Giriş</a></li>
    <li class="active">Konular</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-columns"></span>@Model.Select(t => t.Unite.UniteModul.KursModullers.Select(y => y.Bolum.BolumAdi).FirstOrDefault()).FirstOrDefault()</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>@Model.Select(r => r.Unite.UniteModul.Modul).FirstOrDefault()</h3>
                    <p>@Model.Select(r => r.Unite.UniteAdi).FirstOrDefault() Konu inceleme ve araştırma</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tocify-content">
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-success panel-hidden-controls">
                                <div class="panel-heading">
                                    <br />
                                    <h3 class="panel-title" style="font-family: Verdana; font-size: 20px; text-align: center; height: 50%">@item.Baslik.ToUpper()</h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    @Html.Raw(item.Icerik)
                                </div>
                                <div class="panel-footer">
                                    @if (uniteOncekiID > 0)
                                    {
                                        <label>&nbsp; &nbsp;&nbsp; &nbsp;"@uniteBaslik.ToUpper()"</label>
                                        <button class="btn btn-warning pull-left" onclick="OncekiUnite(@uniteOncekiID);">
                                            Önceki Ünite
                                        </button>
                                    }
                                    @if (nexID > 0)
                                    {

                                        if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
                                        {
                                            if (Model.Select(r => r.Video).FirstOrDefault() != null && Model.Select(r => r.Video).FirstOrDefault() != "")
                                            {
                                                <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modal_no_footer">Ünite Video</button>
                                            }
                                            <button class="btn btn-primary pull-right" onclick="SonrakiUnite(@nexID);">
                                                Sonraki Ünite
                                            </button>
                                        }
                                        else
                                        {
                                            if (Model.Select(r => r.Video).FirstOrDefault() != null && Model.Select(r => r.Video).FirstOrDefault() != "")
                                            {
                                                <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modal_no_footer" id="OgrenciVideo" style="visibility: hidden">Ünite Video</button>
                                            }
                                            if (okunmusBolum)
                                            {
                                                <button class="btn btn-primary pull-right" id="OgrenciIlerix" onclick="SonrakiUnite(@nexID);" style="visibility:visible">
                                                    Sonraki Ünite
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary pull-right" id="OgrenciIleri" onclick="SonrakiUnite(@nexID);" style="visibility:hidden">
                                                    Sonraki Ünite
                                                </button> <br />
                                                <div class="progress" id="OgrenciKontrol">
                                                    <div id="progresbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 5%">0% Tamamlandı</div>
                                                </div>
                                            }

                                        }

                                    }
                                    else
                                    {
                                        if (Model.Select(r => r.Video).FirstOrDefault() != null && Model.Select(r => r.Video).FirstOrDefault() != "")
                                        {
                                            <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modal_no_footer">Ünite Video</button>
                                        }
                                        if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_Egitim.InRole())
                                        {
                                            <button id="tstBtna" class="btn btn-info pull-right" onclick="UniteTestler('@item.Unite.Modul_Ref', 1);">Ünite Testler</button>
                                        }
                                        else
                                        {
                                            int user = AktifKullanici.Aktif.User_Ref;
                                            var aktifTestKontrol = entity.Personel_Testler.Where(e => e.Bitti == 0 && e.Sinif_Ogrenci.Personel_Ref == user).Count();
                                            if (aktifTestKontrol > 0)
                                            {
                                                <button id="tstBtno" class="btn btn-info pull-right" onclick="UniteTestler('@item.Unite.Modul_Ref', 1);">Ünite Testler</button>
                                            }
                                            else
                                            {
                                                <div class="progress" id="OgrenciKontrol">
                                                    <div id="progresbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 5%">0% Tamamlandı</div>
                                                </div>
                                                <button id="tstBtn" class="btn btn-info pull-right" onclick="UniteTestler('@item.Unite.Modul_Ref', 1);" style="display:none">Ünite Testler</button>
                                            }

                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3" style="position: relative;">
                <div id="tocify"></div>
            </div>*@
    </div>
    <div class="modal" id="modal_no_footer" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>*@
                    <h4 class="modal-title" id="defModalHead">Ünite Video</h4>
                </div>
                <div class="modal-body">

                    <video width="100%" autobuffer="autobuffer" controls controlsList="nodownload">
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/webm" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/ogg" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/mpeg" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'">
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/quicktime" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/x-ms-wmv" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/m4v" />
                        <source src="~/@Model.Select(r => r.Video).FirstOrDefault()" type="video/3gpp" />
                    </video>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Video Gizle</button>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- END PAGE CONTENT WRAPPER -->
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
<script>
    function SonrakiUnite(id) {
        if (id == 0) {
            //alert('Ünite bilgileri tamamlandı.');
            window.location.href = '/EGITIM/Home/Index';
        }
        else {
            OkunduGonder(id);
        }

    }
    function OncekiUnite(id) {

        if (id == 0) {
            alert('İlk ünitedesiniz!!');
            window.location.href = '/EGITIM/Home/Index';
        }
        else {
            var kontrol = '@yetki';
            if (kontrol == "False") {
                var abRef = '@atnblm';
                window.location.href = '/EGITIM/Icerik/Konu?id=' + id + '&atananblm=@atnblm';
            }
            else {
                window.location.href = '/EGITIM/Icerik/Konu?id=' + id;
            }
        }

    }

    function UniteTestler(id, konu) {
        window.location.href = '/SINAV/Home/Modul_Testler?id=' + id + '&sonkonu=' + konu;
    }

    function OkunduGonder(idx)
    {
        var kontrol = '@yetki';
        if (kontrol == "False") {
            var abRef = '@atnblm';
            $.ajax({
                url: '/EGITIM/Home/OkunduBilgisi',
                data: { 'atananBolum_Ref': abRef, 'unite_Ref': idx },
                success: function (result) {                    
                    EgitimLog(idx);
                    if (result) {
                        window.location.href = '/EGITIM/Icerik/Konu?id=' + idx + '&atananblm=@atnblm';
                    }
                }
            });
        }
        else {
            EgitimLog(idx);
            window.location.href = '/EGITIM/Icerik/Konu?id=' + idx;
        }
    }

    function EgitimLog(uniteId)
    {        
        var bastar = '@baslangic';
        $.post('/EGITIM/Icerik/EgitimLogAta', { baslangic: bastar, bitis: new Date().toISOString(), uniteId }, function (result) {
        });
    }


    var kontrolZaman = 0;
    $(function () {
        zamanKontx();
        if (window.chrome) {
            $("[type=video\\\/mp4]").each(function () {
                $(this).attr('src', $(this).attr('src').replace(".mp4", "_c.mp4"));
            });
        }

    });

    function zamanKontx() {
        var kontrol = '@yetki';
    if (kontrol != "True") {
        kontrolZaman = setInterval('timeout_init();', 300);
        setTimeout('timeout_trigger()', 120000);
    }
}


function timeout_trigger() {
    clearInterval(kontrolZaman);
    $('#OgrenciIleri').attr('style', 'visibility:visible');
    $('#OgrenciVideo').attr('style', 'visibility:visible');
    $('#OgrenciKontrol').attr('style', 'display:none');
    $('#tstBtn').attr('style', 'visibility:visible');

}
var time = 0;
var yuzde = 0;
function timeout_init() {
    time = time + 0.25;
    if (time % 1 == 0) {
        yuzde++;
    }
    $('#progresbar').attr('style', 'width:' + time + '%');
    $('#progresbar').html(yuzde + '% Tamamlandı');
}

</script>
