﻿@{
    var KullaniciBilgi = Haveak_Pro.Models.AktifKullanici.Aktif;
    string sayfa = (string)ViewBag.Sayfa;
    HaveakTurEntities entity = new HaveakTurEntities();
    DateTime bugun = DateTime.Now.Date;
    string logopath = string.Empty;
    var mesajlar = entity.Mesajlars.OrderByDescending(y => y.ID).Where(t => t.Alici_Ref == KullaniciBilgi.User_Ref && t.Tarih == bugun).Take(1).ToList();
}
@using Haveak_Pro.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-light.css" />
    <script lang="JavaScript">
        var saaat;
        function digitalsaat() {
            var suan = new Date();
            var dsaat = suan.getHours();
            var ddak = suan.getMinutes();
            var sny = suan.getSeconds();
            saaat = dsaat + ':' + ((ddak < 10) ? '0' : '') + ddak + ':' + ((sny < 10) ? '0' : '') + sny;
            div.innerHTML = saaat
            setTimeout("digitalsaat()", 1000);
        }
    </script>

</head>

<body oncontextmenu='return false' style="-webkit-user-select: none;">
    <div class="page-container">

        <div class="page-sidebar">
            <ul class="x-navigation">
                <li class="xn-logo" style="background: darkgray;">
                    @switch (KullaniciBilgi.FirmaId)
                    {
                        case 4:
                            logopath = "img/slojistik.png";
                            break;
                        case 6:
                            logopath = "img/duha.jpg";
                            break;
                        case 7:
                            logopath = "img/gozensecurity.png";
                            break;
                        case 8:
                            logopath = "img/heas.png";
                            break;
                        default:
                            logopath = "img/logo.png";
                            break;
                    }
                    <a> <img src="~/@logopath" style="width: 220px; height: 50px" /></a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="~/DocumentFiles/Personel/@(KullaniciBilgi.Picture ?? "RYok.jpg")" alt="" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="~/DocumentFiles/Personel/@(KullaniciBilgi.Picture ?? "RYok.jpg")" alt="" style="width:100px; height:100px" />
                        </div>
                        <div class="profile-data">
                            <div id="div" style="color:#73808d"></div>
                            <div class="profile-data-name">Sn. @KullaniciBilgi.EName @KullaniciBilgi.ESurName</div>
                            <div class="profile-data-title">Hoşgeldiniz</div>
                        </div>                      
                    </div>
                </li>
                <li class="xn-title">İŞLEMLER</li>
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-desktop"></span><span class="xn-text">KULLANICI GİRİŞ</span></a>
                </li>
                <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })"><span class="fa fa-share"></span><span class="xn-text">YÖNETİM GİRİŞ</span></a></li>
                <li>
                    <a class="" href="@Url.Action("Index", "Duyurular", new { area = "PANEL" })"><span class="fa fa-volume-up"></span><span class="xn-text">DUYURU İŞLEMLERİ</span></a>
                </li>
                @if (UserRoleName.ADMIN_PersonelKullanici.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-user"></span><span class="xn-text">PERSONEL İŞLEMLERİ</span></a>
                        <ul>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("PersonelFirma", "PersonelIslemler", new { area = "PANEL" })">PERSONEL FİRMA</a></li>
                            }
                            <li><a class="" href="@Url.Action("PersonelIslem", "PersonelIslemler", new { area = "PANEL" })">PERSONEL TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("TopluPersonelIslem", "PersonelIslemler", new { area = "PANEL" })">TOPLU PERSONEL TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("PersonelListe", "PersonelIslemler", new { area = "PANEL" })">PERSONEL LİSTESİ</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#">
                            <span class="fa fa-group"></span><span class="xn-text">KULLANICI İŞLEMLERİ</span>
                        </a>
                        <ul>
                            <li><a class="" href="@Url.Action("Kullanicilar", "PersonelIslemler", new { area = "PANEL" })">KULLANICI TANIMLAMA</a></li>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("KullaniciRoller", "PersonelIslemler", new { area = "PANEL" })">KULLANICI ROLLERİ</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (UserRoleName.ADMIN_Egitim.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#">
                            <span class="fa fa-book"></span><span class="xn-text">EĞİTİM İŞLEMLERİ  </span>
                        </a>
                        <ul>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("EgitimKategori", "EgitimIslemler", new { area = "PANEL" })">KATEGORİ TANIMLAMA</a></li>
                                <li><a class="" href="@Url.Action("UniteModul", "EgitimIslemler", new { area = "PANEL" })">BÖLÜM TANIMALMA</a></li>
                                <li><a class="" href="@Url.Action("Unite", "EgitimIslemler", new { area = "PANEL" })">ÜNİTE TANIMALMA</a></li>
                                <li><a class="" href="@Url.Action("Index", "EgitimIslemler", new { area = "PANEL" })">ÜNİTE İÇERİK TANIMLAMA</a></li>
                                <li><a class="" href="@Url.Action("KategoriyeModulAtama", "EgitimIslemler", new { area = "PANEL" })">KURS TANIMALMA</a></li>
                            }
                            <li><a class="" href="@Url.Action("Sinif", "EgitimIslemler", new { area = "PANEL" })">SINIF TANIMLAMA</a></li>
                            <li><a class="" href="@Url.Action("EgitimBolumAtama", "EgitimIslemler", new { area = "PANEL" })">SINIFA KURS TANIMLAMA</a></li>
                        </ul>
                    </li>
                }
                @if (UserRoleName.ADMIN_Sinav.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-edit"></span><span class="xn-text">SINAV İŞLEMLERİ</span></a>
                        <ul>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="/PANEL/SinavIslemler/YeniSoruTanimlama">SORU TANIMLAMA</a></li>
                                <li><a class="" href="@Url.Action("TanimliSorular", "SinavIslemler", new { area = "PANEL" })">TANIMLI SORULAR</a></li>
                                <li><a class="" href="@Url.Action("SinavTip", "SinavIslemler", new { area = "PANEL" })">SINAV TİPİ TANIMALAMA</a></li>                               
                            }
                            <li><a class="" href="@Url.Action("Sinavlar", "SinavIslemler", new { area = "PANEL" })">SINAV TANIMALAMA</a></li>
                            <li><a class="" href="@Url.Action("PersonelSinav", "SinavIslemler", new { area = "PANEL" })">SINAV ATAMA</a></li>
                            <li><a class="" href="@Url.Action("SinavCevaplama", "SinavIslemler", new { area = "PANEL" })">SINAV SONUÇ DEĞERLEME</a></li>
                            @if (UserRoleName.PANEL_AdminGiris.InRole())
                            {
                                <li><a class="" href="@Url.Action("Testler", "SinavIslemler", new { area = "PANEL" })">TEST TANIMALAMA</a></li>
                                <li><a class="" href="@Url.Action("Index", "TipIslemler", new { area = "PANEL" })">(GİS) TEST TANIMALAMA</a></li>
                                <li><a class="" href="@Url.Action("Index", "TipEgitimIslemler", new { area = "PANEL" })">(GİS) EĞİTİM TEST TANIMALAMA</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (UserRoleName.ADMIN_BagajTehlikelimadde.InRole() || UserRoleName.PANEL_AdminGiris.InRole())
                {
                    <li class="xn-openable">
                        <a href="#">
                            <span class="fa fa-briefcase"></span><span class="xn-text">BAGAJ İŞLEMLERİ</span>
                        </a>
                        <ul>
                            <li><a class="" href="@Url.Action("Bagajlar", "BagajIslemler", new { area = "PANEL" })">NUC BAGAJ EKLEME-ÇIKARMA</a></li>
                            <li><a class="" href="@Url.Action("HBagajlar", "BagajIslemler", new { area = "PANEL" })">HIE BAGAJ EKLEME-ÇIKARMA</a></li>
                            <li><a class="" href="@Url.Action("RBagajlar", "BagajIslemler", new { area = "PANEL" })">RAP BAGAJ EKLEME-ÇIKARMA</a></li>
                            <li><a class="" href="@Url.Action("SKategori", "BagajIslemler", new { area = "PANEL" })">SINAV BAGAJ KATEGORİ </a></li>
                            <li><a class="" href="@Url.Action("SBagajlar", "BagajIslemler", new { area = "PANEL" })">SINAV BAGAJ EKLEME-ÇIKARMA</a></li>
                            <li><a class="" href="@Url.Action("SBTMBaslik", "BagajIslemler", new { area = "PANEL" })">SINAV YASAKLI MADDE BAŞLIK </a></li>
                            <li><a class="" href="@Url.Action("SBTMResimler", "BagajIslemler", new { area = "PANEL" })">SINAV YASAKLI MADDE RESİM </a></li>
                        </ul>
                    </li>

                    <li class="xn-openable">
                        <a href="#">
                            <span class="fa fa-camera"></span><span class="xn-text">GÖRÜNTÜ İŞLEMLERİ</span>
                        </a>
                        <ul>
                            <li><a class="" href="@Url.Action("TehlikeliMaddeKategori", "GoruntuIslemler", new { area = "PANEL" })">YM KATEGORİ TANIMLAMA</a></li>
                            @*  <li><a class="" href="@Url.Action("Baslik", "GoruntuIslemler", new { area = "PANEL" })">BAŞLIK TANIMLAMA</a></li>*@
                            <li><a class="" href="@Url.Action("Maddeler", "GoruntuIslemler", new { area = "PANEL" })">EKLEME - ÇIKARMA İŞLEMLERİ</a></li>
                        </ul>
                    </li>
                }
                @if (UserRoleName.PANEL_AdminGiris.InRole() || UserRoleName.ADMIN_PersonelKullanici.InRole())
                {
                <li class="xn-openable">
                    <a href="#">
                        <span class="fa fa-dedent"></span><span class="xn-text">RAPORLAR </span>
                    </a>
                    <ul>
                        <li><a class="" href="@Url.Action("Raporlar", "Raporlama", new { area = "PANEL" })">SINIF SINAV RAPORLAMA</a></li>
                        <li><a class="" href="@Url.Action("GenelSinifRaporlar", "Raporlama", new { area = "PANEL" })">SINIF RAPORLAMA</a></li>
                        <li><a class="" href="@Url.Action("GenelSinifRaporlarDetay", "Raporlama", new { area = "PANEL" })">PERSONEL RAPORLAMA SINIF DETAYLI</a></li>
                        <li><a class="" href="@Url.Action("GenelRaporlar", "Raporlama", new { area = "PANEL" })">GENEL PERSONEL RAPORLAMA</a></li>
                        <li><a class="" href="@Url.Action("GenelRaporlarDetay", "Raporlama", new { area = "PANEL" })">GENEL PERSONEL RAPORLAMA DETAYLI</a></li>
                        <li><a class="" href="@Url.Action("GenelDagilimlarToplam", "Raporlama", new { area = "PANEL" })">TOPLAM DAĞILIMLAR</a></li>
                        <li><a class="" href="@Url.Action("GenelDagilimlarDetay", "Raporlama", new { area = "PANEL" })">TOPLAM DAĞILIMLAR DETAY</a></li>
                    </ul>
                </li>
                }
            </ul>

        </div>

        <div class="page-content">

            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>

                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>

                <li class="xn-icon-button pull-right" id="mesajlar">
                    <a href="#"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">@mesajlar.Count</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="left: -350px; top: 50px;">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>
                            <div class="pull-right">
                                <span class="label label-danger">@mesajlar.Count Kişi (Bugün)</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                            @foreach (var item in mesajlar)
                            {
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="~/DocumentFiles/Personel/@(item.Personel.Resim ?? "RYok.jpg")" class="pull-left" alt="@item.Personel.Adi @item.Personel.Soyadi" />
                                    <span class="contacts-title">@item.Personel.Adi @item.Personel.Soyadi</span>
                                    <p>@item.Icerik</p>
                                </a>
                            }
                        </div>
                        <div class="panel-footer text-center">
                            <a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>
                        </div>
                    </div>
                </li>
            </ul>
            @RenderBody()
        </div>
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span>Kullanıcı <strong>Çıkışı</strong> ?</div>
                <div class="mb-content">
                    <p>Programdan Çıkmak istediğiize eminmisiniz?</p>
                    <p>Çıkmak istemiyorsanız hayır a basınız</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("LogOff", "Kontrol", new { area = "" })" class="btn btn-success btn-lg">Evet</a>
                        <button class="btn btn-default btn-lg mb-control-close">Hayır</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- START PRELOADS -->
    <audio id="audio-alert" src="~/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/audio/fail.mp3" preload="auto"></audio>

    <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/table2excel.js"></script>
    
    @switch (sayfa)
    {
        case "AnaSayfa":
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/knob/jquery.knob.min.js"></script>
            break;
        case "Bagajlar":
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/fileinput/fileinput.min.js"></script>
            <script type="text/javascript">
                document.getElementById('links').onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    var link = target.src ? target.parentNode : target;
                    var options = {
                        index: link, event: event, onclosed: function () {
                            setTimeout(function () {
                                $("body").css("overflow", "");
                            }, 200);
                        }
                    };
                    var links = this.getElementsByTagName('a');
                    blueimp.Gallery(links, options);
                };
            </script>
            break;
        case "Egitim":
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
            <script type="text/javascript" src="~/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
            break;
        case "Personel":
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="~/js/plugins/fileinput/fileinput.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
            <script type='text/javascript' src='~/js/plugins/maskedinput/jquery.maskedinput.min.js'></script>
            <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
            break;
        case "Sinav":
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
            break;
        case "Duyuru":
            <script type='text/javascript' src="~/js/plugins/icheck/icheck.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
            <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
            break;
        default:
            <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
            <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
            <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
            break;
    }

    <!-- START TEMPLATE -->
    <script type="text/javascript" src="~/js/plugins/icheck/icheck.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>
    @RenderSection("scripts", required: false);

    <script type="text/javascript">
        digitalsaat();

        $('div').on('dragstart', function (event) { event.preventDefault(); });
        $('img').on('dragstart', function (event) { event.preventDefault(); });
        $('#fullScren').click();


        //window.onbeforeunload = function (event) {
        //    var message = 'Dikkat sayfadan ayrılıyorsuuz. Eminmisiniz?';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};


        $(function () {
            $("a").not('#lnkLogOut').click(function () {
                window.onbeforeunload = null;
            });
            $(".btn").click(function () {
                window.onbeforeunload = null;
            });

        });
        setInterval(function () {
            MesajKontrol();
        }, 10000);

        //$(document).keydown(function (event) {
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //    else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
        //        return false;  //Prevent from ctrl+shift+i
        //    }
        //});
        //$(document).on("contextmenu", function (e) {
        //    e.preventDefault();
        //});
        function MesajKontrol() {
            $('#mesajlar').html('');
            $.get('@Url.Action("VitrinMesajlar", "Home", new { area = "" })', function (data) {
                var kontrol = '';
                var count = data.length;
                kontrol = '<a href="#"><span class="fa fa-comments"></span></a><div class="informer informer-danger">' + count + '</div>' +
                    '<div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="left: -350px; top: 50px;">' +
                        '<div class="panel-heading ui-draggable-handle">' +
                            '<h3 class="panel-title"><span class="fa fa-comments"></span>Mesajlar</h3>' +
                            '<div class="pull-right">' +
                                '<span class="label label-danger">' + count + ' Kişi (Bugün)</span>' +
                            '</div>' +
                        '</div>' +
                        '<div class="panel-body list-group list-group-contacts scroll mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="height: 200px;"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr" >';
                $.each(data, function (i, item) {
                    kontrol += '<a href="#" class="list-group-item">' +
                         '<div class="list-group-status status-online"></div>' +
                         '<img src="/DocumentFiles/Personel/' + item.Resim + '" class="pull-left" style="width:40px; height:37px;" alt="' + item.Ad + ' ' + item.Soyad + '" />' +
                         '<span class="contacts-title">' + item.Ad + ' ' + item.Soyad + '</span>' +
                         '<p>' + item.Icerik + '</p>' +
                                '</a>';
                });
                kontrol += '</div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position:absolute;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div><div class="panel-footer text-center">' +
          '<a href="@Url.Action("Mesajlar", "MesajIslemler", new { area = "" })">Tüm Mesajlar</a>' +
                        '</div>' +
                    '</div>';
                $('#mesajlar').html(kontrol);
            });

            }
            function show() {
                var elem = document.body;
                if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
                    if (elem.requestFullScreen) {
                        elem.requestFullScreen();
                    } else if (elem.mozRequestFullScreen) {
                        elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullScreen) {
                        elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (elem.msRequestFullscreen) {
                        elem.msRequestFullscreen();
                    }
                } else {
                    if (document.cancelFullScreen) {
                        document.cancelFullScreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                }
            }
    </script>


</body>
</html>
