﻿@model TipSinavlar
@{
    ViewBag.Title = "TipSorular";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    //var unite = (List<Unite>)ViewData["Unite"];
    HaveakTurEntities Entity = new HaveakTurEntities();

    var tipSorular = (List<UniteSorular>)ViewBag.TipSorular;
    Dictionary diclist = new Dictionary();
    //int sinavNoGl = (int)ViewBag.Sinavno;
    int indexsoru = 0;
    var datax = Entity.Tip_Sorular.Where(t => t.TipSinavlar_Ref == Model.ID && t.IsDelete == false).ToList();
}

@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;

<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li><a href="@Url.Action("Index", "TipIslemler", new { area = "PANEL" })">Gis Testler </a></li>
    <li class="active">TANIMLI SORULAR</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>GİS TESTE ATANMIŞ SORULAR</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">

                <h4>
                    <p class="text-danger">GİS Test Tanımlı Sorular</p>
                </h4>

                <div class="panel-body">
                    @if (datax.Count > 0)
                    {
                        <table class="table table-bordered datatable">
                            <thead>
                                <tr>
                                    @* <th style="width: 8px;">A/P</th>*@
                                    <th>Sıra</th>
                                    <th>Kategori</th>
                                    <th>Gis No</th>
                                    <th>Soru</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    foreach (var item in datax.Select((x, i) => new { Index = i, Data = x }))
                                    {
                                        <tr>
                                            @*<td>
                                                @Html.CheckBox("Aktif", item.Data.IsActive, new { id = "IsActive" + (item.Data.ID), @class="icheckbox" })</td>*@
                                            <td>
                                                @(item.Index + 1)
                                            <input type="hidden" id="souID@(item.Index + 1)" value="@item.Data.UniteSorular_Ref" />
                                        </td>
                                        <td>
                                            @item.Data.UniteSorular.SinavTipi.Baslik
                                    </td>
                                    <td>
                                        @item.Data.TipSinavlar.TipNo
                                </td>

                                <td class="hidden-phone">@item.Data.UniteSorular.Soru</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="Guncelle(@item.Data.ID)">Sil</button>
                                </td>
                            </tr>         }
                                }
                            </tbody>
                        </table>
                                    }
                                    else
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Soru Yok!</strong> GİS Testine atanmış Soru bulunmamaktadır!!!
                                        </div>
                                    }
                </div>

                <br />
                <br />

            </div>
            <div class="col-md-12">
                <h4>
                    <p class="text-danger">SORULAR</p>
                </h4>
                <div class="panel-body" id="questions">
                    @if (tipSorular.Count() > 0)
                    {
                        <input type="hidden" value="@Model.ID" id="TipNo" />
                        <table class="table table-bordered datatable" id="sample_4">
                            <thead>
                                <tr>
                                    <th style="width: 8px;"></th>
                                    <th>Sıra</th>
                                    <th>Kategori</th>
                                    <th>Bagaj</th>
                                    <th>Madde</th>
                                    <th>Soru</th>
                                    <th>Şıklar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in tipSorular)
                                    {
                                        indexsoru++;
                                        <tr>
                                            <td>
                                                @{
                                                    int control = Entity.Tip_Sorular.Where(r => r.TipSinavlar_Ref == Model.ID && r.UniteSorular_Ref == item.ID && r.IsDelete == false).Count();
                                                    if (control == 0)
                                                    {
                                                        <input type="checkbox" value="1" name="ssecenek" />
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @indexsoru
                                            <input type="hidden" id="UniteSorular_Ref@(item.ID)" value="@item.ID" />
                                        </td>
                                        <td>
                                            @item.SinavTipi.Baslik
                                        </td>
                                        <td>
                                            <div id="Gorsel@(indexsoru)" style="width: 132px;height:100px">
                                                <img id="Resim@(indexsoru)" style="width:128px; height:96px; position: absolute;" src="~/@(item.SBagajlar == null ? "img/RYokBagaj.jpg" : item.SBagajlar.Resim)" />
                                                @*@if (item.SBMaddeResimler != null)
                                                {
                                                    <img id="pointerResim@(indexsoru)" src="~/@(item.SBMaddeResimler.Resim)" alt="Tıklandı" style="margin-left: @((item.XKordinat / 8).ToString().Replace(',', '.'))px; margin-top: @((item.YKordinat / 8).ToString().Replace(',', '.'))px; mix-blend-mode: multiply; -webkit-transform: rotate(@((item.TMVektor).ToString().Replace(',', '.'))deg); width:@((item.TMOlcek.Value / 10).ToString().Replace(',', '.'))%;" />
                                                }*@
                                            </div>
                                        </td>
                                        <td>
                                            @if (item.SBMaddeResimler != null)
                                            {
                                                  <img id="pointerResim@(indexsoru)" src="~/@(item.SBMaddeResimler.Resim)" alt="Tıklandı" style="-webkit-transform: rotate(@((item.TMVektor).ToString().Replace(',', '.'))deg); width:@((item.TMOlcek.Value / 10).ToString().Replace(',', '.'))%;" />
                                            }
                                            else
                                            {
                                               <label>Temiz Bagaj</label>
                                            }
                                        </td>
                                        <td class="hidden-phone">@item.Soru</td>
                                        <td class="hidden-phone">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td>Şık</td>
                                                    <td>İçerik</td>
                                                    <td>Doğru Seçenek</td>
                                                </tr>
                                                @{

                                                    var list = Entity.SoruSiklaris.Where(t => t.UniteSorular_Ref == item.ID && t.IsActive == true).ToList();
                                                    foreach (var itemSoru in list)
                                                    {
                                                        string cls = "";
                                                        if (itemSoru.DogruSecenek)
                                                        {
                                                            cls = "danger";
                                                        }
                                                        <tr class="@cls">
                                                            <td>@itemSoru.SoruSikki</td>
                                                            <td>@itemSoru.CevapIcerik</td>
                                                            <td>
                                                                @{
                                                                string cevaps = "";
                                                                if (itemSoru.DogruSecenek == true)
                                                                {
                                                                    cevaps = "Evet";
                                                                }
                                                            }
                                                            @cevaps
                                                        </td>
                                                    </tr>
                                                                }
                                                }
                                            </table>
                                        </td>
                                    </tr>										                     }
                                }
                            </tbody>
                        </table>
                        <br />
                        <button type="button" class="btn btn-primary" onclick="SorularEkle();">Seçili Soruları Ata</button>
                                                                }
                                                                else
                                                                {
                                                                    <div class="alert alert-danger" role="alert">
                                                                        <strong>Soru Yok!</strong> Tanımlı TIP Sorusu bulunmamaktadır!!!
                                                                    </div>
                                                                }
                </div>

            </div>

        </div>
    </div>
</div>


<input type="hidden" id="ID" value="" />
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>


<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Eklemeye çalıştığınız soru Testte ekli!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Teste atamak İçin Lütfen Soru Seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili soru sistemden kaldırılacaktır Eminmisiniz? </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>

<script>

    function GetUniteSorular(id) {
        var testId = '@Model.ID';
        var idx = $('#UniteSorular_Ref').val();
        //Test Soruları
        var tipIx = 3;
        //if (tipIx == 0 || idx == 0) {
        //    $('#uyari').click();
        //    return;
        //}
        $.get('@Url.Action("_USorular", "SinavIslemler")', { id: idx, tip: tipIx, sinavno: testId }, function (data) {
            $("#questions").html(data);
        });
    }

   @* function UnitelerGetir() {
        var idx = $('#Modul_Ref').val();
        if (idx == "0") {
            return;
        }
        $('#UniteSorular_Ref option').remove();
        $('#UniteSorular_Ref').append(new Option("Ünite Seçin", "0"));
        $('#UniteSorular_Ref').selectpicker('refresh');

        $.get('@Url.Action("TestKursModulUniteler", "SinavIslemler")', { id: idx }, function (data) {
            $.each(data, function (i, item) {

                $('#UniteSorular_Ref').append(new Option(item.UniteAdi, item.ID));
                $('#UniteSorular_Ref').selectpicker('refresh');
            });
        });
    }*@

    function Guncelle(id) {
        $('#ID').val(id);
        $('#silme').click();
    }

    function Sil() {
        var id = $("#ID").val();
        $.ajax({
            url: "/PANEL/TipIslemler/TanimliSoruGuncelleTip",
            data: { 'id': id },
            success: function (data) {
                if (data) {
                    $('#onay').click();
                    Refresh();
                }
                else {
                    $('#uyari3').click();
                }
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

    }

    function SorularEkle() {

        var ckkontrol = false;
        $("input[name=ssecenek]:Checked").each(function () {
            ckkontrol = true;
        });

        if (ckkontrol) {
            var kontrolCount = 0;
            $('#sample_4 tbody').find('tr').each(function (ix, trx) {
                var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
                if (isCheck) {
                    var idx = (ix + 1);
                    var UniteSorular_Ref = $(trx).find("td").eq(1).find("input").val();
                    var TipNox = $('#TipNo').val();
                    $.ajax({
                        url: "@Url.Action("TipSoruKaydet", "TipIslemler")",
                            data: { 'TipSinavlar_Ref': TipNox, 'UniteSorular_Ref': UniteSorular_Ref },
                            success: function (result) {
                                if (result) {
                                    kontrolCount++;
                                }
                            }
                        });
                    }
            });
            if (kontrolCount == 0) {
                $('#onay').click();
            }
            else {
                $('#uyari').click();
            }
            }
            else {
                $('#uyari2').click();
            }
        }

        function Refresh() {
            window.location.href = '/PANEL/TipIslemler/TipSorular?id=@Model.ID.ToString()';
    }
</script>

