﻿@model int?
@{
    Layout = null;
}
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;

<!DOCTYPE html>

<html lang="en" class="body-full-height">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HAVACILIK GÜVENLİĞİ EĞİTİM AKADEMİSİ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-dark.css" />
</head>
<body>
    <div class="login-container">

        <div class="login-box animated fadeInDown">
            @if (Model == 8)
            {
                <div class="login-heas"></div>
            }
            else
            {
                <div class="login-logo"></div>
            }          

            <div class="login-body">
                <div class="login-title" style="text-align: center"><strong>Hoşgeldiniz</strong>, Kullanıcı bilgileriniz</div>
                <div id="girisKontrol">
                    <form action="@Url.Action("Giris", "Kontrol", new { area = "" })" class="form-horizontal" method="post">

                        <div class="form-group">
                            <div class="col-md-12">                               
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                   
                                    <a href="#" class="friend">
                                        <img id="Resim" style="width:90px; height:81px;" src="~/DocumentFiles/Personel/RYok.jpg" />
                                        <span style="color: white" id="Isim">Resim</span>
                                    </a>                                  
                                </div>
                                <div class="col-md-4">
                                </div>                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="userName" id="userName" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Şifre" name="password" id="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td>
                                              <a href="@Url.Action("Giris", "Kontrol")">
                                    <img alt="Captcha" src="@Url.Action("CaptchaImage", "Kontrol")" style="" height="37" />&nbsp;&nbsp;</a>
                                        </td>
                                        <td>
                                            	 <input type="text" class="form-control" id="Secure" style="width: 65px" name="Secure" placeholder="Sonuç">
                                        </td>
                                    </tr>
                                </table>
                              
                               
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link mb-control" data-box="#message-box-default"> Şifremi unuttum?</a>
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-info btn-block" type="button" onclick="SubmitControl();" value="Giriş" />
                    </div>
                </div>
                </form>
            </div>
            <div id="hata" style="display: none; font-size: 20px; color: white;">
                <div class="alert alert-danger" role="alert">
                    <strong>Sistem sadece CROME Browser ile kullanılmaktadır!!!</strong>
                </div>

            </div>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; @DateTime.Now.Year Haveak Eğitim Akademi
                   
            </div>
        </div>
    </div>

    </div>
    <button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
                <div class="mb-content">
                    <p>Kullanıcı adı bilgisi bulunamadı!</p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="message-box animated fadeIn" id="message-box-default">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-globe"></span>İletişim <strong>Mail Adresiniz</strong></div>
                <div class="mb-content">
                    <input type="text" class="form-control" id="MailAdresi" placeholder="E-Posta Adresi" />
                </div>
                <div class="mb-footer">
                    <button class="btn btn-success" onclick="SifreGonder();">Gönder</button>
                    <button id="iptalbt" class="btn btn-primary btn-lg pull-right mb-control-close">İptal</button>
                </div>
            </div>
        </div>
    </div>

    <!-- START PLUGINS -->
    <script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>
</body>
</html>
@*<input id="Button1" type="button" value="Anakart" />*@

<script>
    $(document).keydown(function (event) {
        if (event.keyCode == 123) {
            return false;
        }
        else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
            return false;  //Prevent from ctrl+shift+i
        }
    });
    $(document).on("contextmenu", function (e) {
        e.preventDefault();
    });
    //$(function () {        

    //    var isOpera = !!window.opera || navigator.userAgent.indexOf('OPR/') >= 0;
    //    var isChrome = !!window.chrome && !isOpera;
    //    if (!isOpera && !isChrome) {
    //        $('#girisKontrol').attr('style', 'display:none');
    //        $('#hata').attr('style', 'display:block');
    //    } 
    //    if (navigator.userAgent.indexOf('Edge') >= 0) {
    //        $('#girisKontrol').attr('style', 'display:none');
    //        $('#hata').attr('style', 'display:block');
    //    }
                
      
    //});

    $(document).on("change", "#userName", function () {
        ResimGetir();
    });



    function ResimGetir() {
        var kadi = $('#userName').val();
        $.get("@Url.Action("ResimGetir", "Kontrol", new { area = "" })", { user: kadi }, function (result) {
            $('#Resim').attr('src', '/DocumentFiles/Personel/'+result.Resim);
            $('#Isim').html(result.Adi + " " + result.Soyadi);
        });
    }


    function SubmitControl() {
        var kadi = $('#userName').val();
        var sifre = $('#password').val();
        var form_data = new FormData();
        form_data.append('userName', kadi)
        form_data.append('password', sifre)
        $.ajax({
            url: '@Url.Action("SifreKontrol", "Kontrol", new { area = "" })',
                type: 'POST',
                contentType: false,
                cache: false,
                data: form_data,
                processData: false,
                async: false,
                success: function (data) {
                    switch (data) {
                        case -3:
                            $('#userName').val('Firma Aktif Değil!');
                            $('#password').val('');
                            $('#silme').click();
                            break;
                        case 0:
                            $('#userName').val('');
                            $('#password').val('');
                            $('#silme').click();
                            break;
                        default:
                            $('form').submit();
                            break;
                    }                   
                }
            });

        }

        function SifreGonder() {
            var kadi = $('#MailAdresi').val();
            var form_data = new FormData();
            form_data.append('adress', kadi)
            $.ajax({
                url: '@Url.Action("SendMail", "Kontrol", new { area = "" })',
            type: 'POST',
            contentType: false,
            cache: false,
            data: form_data,
            processData: false,
            async: false,
            success: function (xx) {               
                $('#iptalbt').click();
                alert("Kullanıcı bilginiz mail adresinize başarı ile gönderilmiştir.");
            }
        });
    }

</script>

