﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    ViewBag.Sayfa = "AnaSayfa";
    var sinavlar = (List<string>)ViewBag.Sinavlar;
    int kalanlar = sinavlar.Where(t => t == "KALDI").Count();
    int gecenler = sinavlar.Where(t => t == "GEÇTİ").Count();

    var sorular = (List<Haveak_Pro.Areas.PANEL.Controllers.SinavDurum>)ViewBag.Sorular;
    string basliklar = string.Empty;
    string soruSayilar = string.Empty;
    foreach (var item in sorular.Select((x, y) => new { Index = y, Data = x }))
    {
        basliklar += item.Data.Baslik + " (" + item.Data.sinavRef + ") ";
        soruSayilar += item.Data.sinavRef;
        if (item.Index < sorular.Count - 1)
        {
            basliklar += ",";
            soruSayilar += ",";
        }
    }

    int nuctech = (int)ViewBag.NucTech;
    int hieman = (int)ViewBag.Hieman;
    int rapiscan = (int)ViewBag.Rapiscan;
    int sbagaj = (int)ViewBag.SBagaj;
    var maddeGenel = (List<Maddeler>)ViewBag.Madde;
    var tmaddeGenel = (List<SBMaddeResimler>)ViewBag.TMaddeler;

    var tmKategoris = (List<TehlikeliMaddeKategori>)ViewBag.TMKategori;

    List<TMKategoriler> tmkategoriler = new List<TMKategoriler>();
    foreach (var item in tmKategoris)
    {
        TMKategoriler md = new TMKategoriler();
        md.Adet = maddeGenel.Where(e => e.AltResimRef == 0 && e.TehlikeliMadde_Ref == item.ID).Count();
        md.Kategori = item.Baslik;
        tmkategoriler.Add(md);
    }


    List<TMKategoriler> tmkategorilerAlt = new List<TMKategoriler>();
    foreach (var item in tmKategoris)
    {
        TMKategoriler mda = new TMKategoriler();
        mda.Adet = maddeGenel.Where(e => e.AltResimRef > 0 && e.AltResimRef != null && e.TehlikeliMadde_Ref == item.ID).Count();
        mda.Kategori = item.Baslik;
        tmkategorilerAlt.Add(mda);
    }


    int maddeTop = maddeGenel.Where(e => e.AltResimRef == 0).Count();
    int maddeAlt = maddeGenel.Where(e => e.AltResimRef > 0 && e.AltResimRef != null).Count();

    var stmKategoris = (List<SBTehlikeliMKategori>)ViewBag.STMKategori;

    List<TMKategoriler> stmkategoriler = new List<TMKategoriler>();
    foreach (var item in stmKategoris)
    {
        TMKategoriler md = new TMKategoriler();
        md.Adet = tmaddeGenel.Where(e => e.AltResimRef == 0 && e.SBTM_Ref == item.ID).Count();
        md.Kategori = item.Isim;
        stmkategoriler.Add(md);
    }

    var smaddeTopGnl = tmaddeGenel.Where(e => e.AltResimRef == 0).Select(e => new { e.ID, e.SBTM_Ref }).ToList();
    int smaddeTop = smaddeTopGnl.Count;

    var smaddeAltGnl = tmaddeGenel.Where(e => smaddeTopGnl.Select(r => r.ID).Contains(e.AltResimRef == null ? 0 : e.AltResimRef.Value)).Select(e => new { e.ID, e.SBTM_Ref }).ToList();
    int smaddeAlt = smaddeAltGnl.Count;

    int[] kurslar3 = { 1, 2, 3, 7 }; //KURS3 
    int kurs3AdetAlt = smaddeAltGnl.Where(i => kurslar3.Contains(i.SBTM_Ref)).Count();
    int kurs3AdetUst = smaddeTopGnl.Where(i => kurslar3.Contains(i.SBTM_Ref)).Count();
    int kurs3Adet = kurs3AdetAlt + kurs3AdetUst;

    int[] kurslar4_11 = { 3, 6, 7 }; // KURS 4 - 11
    int kurs4_11AdetAlt = smaddeAltGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();
    int kurs4_11AdetUst = smaddeTopGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();
    int kurs4_11Adet = kurs4_11AdetAlt + kurs4_11AdetUst;
    //int kurs4_11Adet = smaddeAltGnl.Where(i => kurslar4_11.Contains(i.SBTM_Ref)).Count();


    List<TMKategoriler> stmkategorilerAlt = new List<TMKategoriler>();
    foreach (var item in stmKategoris)
    {
        TMKategoriler mda = new TMKategoriler();
        mda.Adet = smaddeAltGnl.Where(q => q.SBTM_Ref == item.ID).Count();
        mda.Kategori = item.Isim;
        stmkategorilerAlt.Add(mda);
    }


    var tumKullanicilar = (int)ViewBag.TumKullanici;
    var onlineUsers = (int)HttpContext.Current.Application["OnlineZiyaretci"];
    var aktifUyeler = (List<Kullanici>)ViewBag.AktifUyeler;
    DateTime bugun = DateTime.Now;
    int gun = bugun.Day;
    int ay = bugun.Month;
    int yil = bugun.Year;

    string aktifuyeliste = string.Empty;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Controllers;

<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
<script>
    $(function () {
        // Reference the auto-generated proxy for the hub.  
        var userActivity = $.connection.userActivityHub;

        // Create a function that the hub can call back to display messages.
        userActivity.client.updateUsersOnlineCount = function (count) {
            // Add the message to the page. 
            $('#usersCount').text(count);
        };

        $.connection.hub.start();
    });
</script>*@
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Durum İzleme</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-12">

            <!-- START SPARKLINE CHARTS -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Raporlar</h3>
                </div>
                <div class="block-content">
                    <table class="table">
                        <tr>
                            <td width="100"><strong>Sınav Başarı Durum</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@gecenler,@kalanlar</span></td>
                            <td>Girilen Sınavlarda Öğrencilerin Başarı durum ortalaması. (<label style="color: blue"> Mavi</label>:Geçti /
                                <label style="color: maroon">Kırmızı</label>:Kaldı)</td>
                        </tr>
                        <tr>
                            <td><strong>Soru Sayı</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@soruSayilar</span></td>
                            <td>@basliklar Soru sayıları. </td>
                        </tr>
                        <tr>
                            <td width="100"><strong>Bagajlar</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@(nuctech),@(hieman),@(sbagaj),@(rapiscan)</span></td>
                            <td>NUCTECH <span class="label label-primary label-form">@nuctech</span> HIEMANN <span class="label label-primary label-form">@hieman</span>  RAPISCAN <span class="label label-primary label-form">@rapiscan</span>
                                SINAV BAGAJ<span class="label label-primary label-form">@sbagaj</span>
                            </td>
                        </tr>
                        @*<tr>
                            @{
                                string toplam = "";
                                foreach (var item in tmkategoriler)
                                {
                                    toplam += item.Adet + ",";
                                }
                                toplam = toplam.Remove(toplam.Length - 1, 1);
                            }
                            <td><strong>Eğitim Maddeler</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@toplam</span><br />
                                <span class="label label-primary label-form">@maddeTop Adet</span>
                            </td>
                            <td>
                                @foreach (var item in tmkategoriler)
                                {
                                    <label>@(item.Kategori.ToUpper())</label> <span class="label label-primary label-form">@item.Adet</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            @{
                                string toplamAlt = "";
                                foreach (var item in tmkategorilerAlt)
                                {
                                    toplamAlt += item.Adet + ",";
                                }
                                toplamAlt = toplamAlt.Remove(toplamAlt.Length - 1, 1);
                            }
                            <td><strong>Eğitim Maddeler Açılı</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@toplamAlt</span><br />
                                <span class="label label-primary label-form">@maddeAlt Adet</span>
                            </td>
                            <td>
                                @foreach (var item in tmkategorilerAlt)
                                {
                                    <label>@(item.Kategori.ToUpper())</label> <span class="label label-primary label-form">@item.Adet</span>
                                }
                            </td>
                        </tr>*@
                        <tr>
                            @{
                                string stoplam = "";
                                foreach (var item in stmkategoriler)
                                {
                                    stoplam += item.Adet + ",";
                                }
                                stoplam = stoplam.Remove(stoplam.Length - 1, 1);
                            }
                            <td><strong>Sınav Yasaklı Maddeler</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@stoplam</span><br />
                                <span class="label label-primary label-form">@smaddeTop Adet</span>
                            </td>
                            <td>
                                @foreach (var item in stmkategoriler)
                                {
                                    <label>@(item.Kategori.ToUpper())</label> <span class="label label-primary label-form">@item.Adet</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            @{
                                System.Text.StringBuilder stoplamAlt = new System.Text.StringBuilder();
                                foreach (var item in stmkategorilerAlt)
                                {
                                    stoplamAlt.Append(item.Adet);
                                    stoplamAlt.Append(",");
                                }
                                stoplamAlt = stoplamAlt.Remove(stoplamAlt.Length - 1, 1);
                            }
                            <td><strong>Sınav Yasaklı Maddeler Açılı</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@stoplamAlt</span><br />
                                <span class="label label-primary label-form">@smaddeAlt Adet</span>
                            </td>
                            <td>
                                @foreach (var item in stmkategorilerAlt)
                                {
                                    <label>@(item.Kategori.ToUpper())</label> <span class="label label-primary label-form">@item.Adet</span>
                                }
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Kurs 3</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@kurs3AdetAlt,@kurs3AdetUst</span><br />
                                <span class="label label-primary label-form">@kurs3Adet Adet</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Kurs 4</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@kurs4_11AdetAlt,@kurs4_11AdetUst</span><br />
                                <span class="label label-primary label-form">@kurs4_11Adet Adet</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Kurs 11</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@kurs4_11AdetAlt,@kurs4_11AdetUst</span><br />
                                <span class="label label-primary label-form">@kurs4_11Adet Adet</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Kurs 17</strong></td>
                            <td>
                                <span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@kurs4_11AdetAlt,@kurs4_11AdetUst</span><br />
                                <span class="label label-primary label-form">@kurs4_11Adet Adet</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="100"><strong>Kullanıcı Durum</strong></td>
                            <td><span class="sparkline" sparktype="pie" sparkwidth="50" sparkheight="50">@onlineUsers,@tumKullanicilar</span></td>
                            <td>Sistemde (Aktif / TümKullanicilar) kullanıcı sayısı.
                                <div id="usersCount"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100"><strong>Sisteme giriş yapan üyeler (Bugün):</strong></td>
                            <td colspan="2">
                                @*@foreach (var item in aktifUyeler)
                                {

                                    long log = item.Loglamas.Where(w =>
                w.Kullanici_Ref == item.ID &&
                w.GirisTarihi.Day == gun &&
                w.GirisTarihi.Month == ay &&
                w.GirisTarihi.Year == yil &&
                w.CikisSaati != null).Select(w => w.ToplamSure.Value).Sum(w => w.Ticks);
                                    TimeSpan total = TimeSpan.FromTicks(log);
                                    string time = total.ToString("c").Split('.')[0];
                                    aktifuyeliste += item.Personel.Adi + " " + item.Personel.Soyadi + (log != 0 ? " " + " ("+ time + ") " : "") + ", ";
                                }
                                <label>
                                    @(aktifuyeliste.Substring(0, aktifuyeliste.Length - 2))
                               </label>*@
                            
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
            <!-- END SPARKLINE CHARTS -->

        </div>

    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->


