﻿@model Sinav_Sorular
@{
    ViewBag.Title = "Soru_Detay";
    Layout = "~/Views/Shared/_LBagaj.cshtml";
    HaveakTurEntities Entity = new HaveakTurEntities();
    //int personel = AktifKullanici.Aktif.User_Ref;    
    string check = "";
    string altCheck = "";
    int personel = AktifKullanici.Aktif.User_Ref;
    string soruTipi = Model.SinavTipi.Baslik;
    ViewBag.SoruTipi = soruTipi;
    int sorunumara = (int)ViewBag.Soruno;
    int per_sinav = Entity.Personel_Sinavlar.Where(r => r.Sinif_Ogrenci.Personel_Ref == personel && r.Sinavlar_Ref == Model.Sinavlar_Ref).Select(t => t.ID).FirstOrDefault();
    double olcek = Convert.ToDouble(Model.UniteSorular.TMOlcek == null ? 0 : Model.UniteSorular.TMOlcek.Value);
    double payda = 8.50;
    double sonuc = 1;
    try
    {
        sonuc = Convert.ToDouble((olcek / payda).ToString().Substring(0, 4));
    }
    catch
    {
        sonuc = (olcek / payda);
    }

    string opaGelen = (Convert.ToDouble(Model.UniteSorular.TMSaydamlik == null ? 1 : Model.UniteSorular.TMSaydamlik.Value) / 100).ToString();
}

@using Haveak_Pro.Models;


<div class="page-content">
    <ul class="breadcrumb">
        <li></li>
    </ul>

    <div class="row">
        <div class="col-md-10">

            @using Haveak_Pro.Models;

            <div class="row">
          

                <div class="col-md-9">
                    <div id="rsmx" class="thumbnail" style="height: 620px; visibility: hidden; background-color: white">
                        <img id="Resim1" style="position: absolute; width: 820px; max-width:820px; max-height:615px; height:615px; cursor:crosshair; background-size: cover;" src="~/@(Model.UniteSorular.SBagajlar_Ref == null ? "" : Model.UniteSorular.SBagajlar.Resim)" />
                        @if (Model.UniteSorular.SBMaddeResimler != null)
                        {
                            <img id="tmadde" src="~/@Model.UniteSorular.SBMaddeResimler.Resim" alt="" style="cursor:crosshair; margin-left: @(Convert.ToInt32(Model.UniteSorular.XKordinat))px; margin-top: @(Convert.ToInt32(Model.UniteSorular.YKordinat))px; mix-blend-mode: multiply; -webkit-transform: rotate(@(Convert.ToInt32(Model.UniteSorular.TMVektor))deg); filter: brightness(0%); opacity:@opaGelen; width:@(sonuc)%; max-width:@(sonuc)%" title="@Model.UniteSorular.SBMaddeResimler.SBTehlikeliMKategori.Isim"/>
                        }
                        <input id="DurumK" value="" type="hidden" />
                        <input type="hidden" id="XKordinat" value="@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.CevapResimX - 10).FirstOrDefault())" />
                        <input type="hidden" id="YKordinat" value="@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.CevapResimY - 10).FirstOrDefault())" />
                        <input type="hidden" id="Pointerxx" value="" />
                        <input type="hidden" id="Pointeryy" value="" />
                    </div>
                </div>                       
               
                <div class="col-md-3">
                    <div class="panel panel-success">                      
                        <div class="panel-body">
                            - @Model.SinavTipi.Baslik, Soru : <span class="badge badge-inverse"><b>@sorunumara</b></span><br />
                            <br />
                <label style="font-weight: bold; font-size: 14px">@Model.UniteSorular.Soru</label><br />

                            <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                                @foreach (var itemx in Model.UniteSorular.SoruSiklaris.Where(r => r.IsActive == true))
                                {
                                    int countAlt = Model.UniteSorular.AltSiklars.Count();                             
                                    <tr>
                                        <td style="width: 4%">
                                            @if (itemx.SoruSikki == "b)" && countAlt > 0)
                                            {
                                                if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.GirilenCevap).FirstOrDefault())
                                                {
                                                    check = "checked = checked";
                                                }
                                                else
                                                {
                                                    check = "";
                                                }                                                                                    
                                                <input id="cvp_@itemx.ID" type="checkbox" @check onclick="AltsikGoster('@itemx.UniteSorular_Ref','@itemx.ID')" /> 
                                                <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                            }
                                            else
                                            {
                                                if (itemx.ID == Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.GirilenCevap).FirstOrDefault())
                                                {
                                                    check = "checked = checked";
                                                }
                                                else
                                                {
                                                    check = "";
                                                }       
                                                <input id="cvp_@itemx.ID" type="checkbox" @check onclick="CheckboxControlAlt('@itemx.ID')" class="icheckbox" /> 
                                                <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                            }
                                        </td>
                                        <td>@itemx.SoruSikki @itemx.CevapIcerik
                                            <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                                        </td>
                                    </tr> 
                                }
                            </table>
                            <table class="table table-bordered" id="alsiktablo">
                                <tbody>
                                    @{
                                        int cvp = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar_Ref == per_sinav).Count();
                                        if (cvp > 0)
                                        {
                                            foreach (var item in Model.UniteSorular.AltSiklars.Where(t => t.IsActive == true).Select((x, i) => new { Index = i, Data = x }))
                                            {
                                        <tr>
                                            @if (item.Data.ID == Model.SinavCevaplars.Where(m => m.AltCevap == item.Data.ID && m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.AltCevap).FirstOrDefault())
                                            {
                                                altCheck = "checked = checked";
                                            }
                                            else
                                            {
                                                altCheck = "";
                                            }
                                            <td style="width: 4%">
                                                <input id="altcvp_@(item.Data.ID)" type="checkbox" @altCheck onclick="CheckboxControlAlt2('@item.Data.ID')"></td>
                                            <td>@item.Data.AltSoruSikki  @item.Data.AltCevapIcerik
                                                <input type="Hidden" id="AltSik_@item.Data.ID" value="@item.Data.ID" />
                                                <input type="Hidden" id="AltSoruSik_@(item.Data.ID)" value="@(item.Data.AltSoruSikki)" /></td>
                                        </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="panel-footer">   
                            <input type="button" class="btn btn-primary pull-right" onclick="Kapat();" value="Kapat" />
                        </div>
                    </div>

                </div>


                <!-- BEGIN SAMPLE TABLE PORTLET-->
            </div>

        </div>

        <div class="col-md-2" style="text-align: center">

            <div id="kontrolEkran" style="text-align: center">
                <h5>MEDDE INCELEME</h5>
                <button id="P1" class="btn btn-info" style="width: 70px; height: 30px;" onmouseover="showImage('P1')" onmouseout="defaultImage();">P1</button>
                <br />
                <button id="NEG" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('NEG')" onmouseout="defaultImage();">NEG</button>
                <br />
                <br />
                <button id="P2" class="btn btn-success" style="width: 70px; height: 30px;" onmouseover="showImage('P2')" onmouseout="defaultImage();">P2</button>
                <br />
                <button id="SB" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SB')" onmouseout="defaultImage();">S / B</button>
                <br />
                <br />
                <button id="P3" class="btn btn-warning" style="width: 70px; height: 30px;" onmouseover="showImage('P3')" onmouseout="defaultImage();">P3</button>
                <br />
                <button id="BW" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('BW')" onmouseout="defaultImage();">B / W</button>
                <br />
                <br />
                <button id="Hi" class="btn btn-danger" style="width: 70px; height: 30px;" onmouseover="showImage('HI')" onmouseout="defaultImage();">HI</button>
                <br />
                <button id="SEN" class="btn btn-primary" style="width: 70px; height: 30px;" onmouseover="showImage('SEN')" onmouseout="defaultImage();">SEN</button>
                <br />
                <br />           
           
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>

<script>
    $(function () {     
            var x = '@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.CevapResimX).FirstOrDefault() ?? 0)';
            var y = '@(Model.SinavCevaplars.Where(m => m.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(t => t.CevapResimY).FirstOrDefault() ?? 0)'; 
            
            var relativeX = x - 10;
            var relativeY = y - 10;
            var secimc = '@Model.SinavCevaplars.Select(y => y.KoordinatSecim).FirstOrDefault()'
            jQuery('#DurumK').val(secimc);
            var drmKont = jQuery('#DurumK').val();
            if (x == 0) {               
                ImageActive();
            }
            else 
            {    
                var img = $('<img id="tiklama" src="/img/selected.jpg" alt="Tıklandı" style="visibility:hidden; position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px" />');
                var div = $('<div>').css({
                    "position": "absolute"                
                });
                div.append(img);
                $(document.body).append(div);                
            }
            $('#teorikSorular').attr('style','display:none');  
            $('#uygulamaSorular').attr('style','display:block');           
       
        var myInterval = setInterval(function () {
            $('#rsmx').css('visibility','visible'); 
            $('#tiklama').css('visibility','visible');         
            var wth = $('#tmadde').width();
            var hgt = $('#tmadde').height();
            $('#Pointerxx').val(wth);
            $('#Pointeryy').val(hgt);
            PointerSize('@Model.UniteSorular.TMOlcek');
            OpacityControl();
            clearInterval(myInterval);
        },1000);  
        
    });
    function PointerSize(gelen) {
        
        var wth = $('#Pointerxx').val();
        var hgt = $('#Pointeryy').val();
        var byt = parseFloat(gelen) / 100;
        var sonucx = wth * byt;
        var sonucy = hgt * byt;
        $('#tmadde').css('width', sonucx + 'px');
    }
    function OpacityControl() { 
        
        var dgr = '@Model.UniteSorular.TMSaydamlik'.replace(',','.');
        if (dgr != "") {
            var opt = dgr / 100;
            $('#tmadde').css('opacity', opt);
        }

    }
    function showImage(typeId) {
        switch (typeId) {
            case 'P1':
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; background-size: cover; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                //$('#tmadde').css('style', 'filter:sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1)');
                $('#tmadde').css('-webkit-filter', 'sepia(1) hue-rotate(180deg) saturate(2.3) contrast(220%)');
                $('#tmadde').css('filter', 'sepia(1)');
                $('#tmadde').css('-moz-filter', 'sepia(1)');
                $('#tmadde').css('-o-filter', 'sepia(1)');
                $('#tmadde').css('-ms-filter', 'sepia(1)');

                break;
            case 'P2':
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                //$('#tmadde').attr('style','filter: sepia(1);-webkit-filter: saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6)  brightness(2.5); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                $('#tmadde').css('-webkit-filter', 'saturate(2) sepia(1) hue-rotate(65deg) saturate(1.6) contrast(1.6) brightness(2.5)');
                $('#tmadde').css('filter', 'sepia(1)');
                $('#tmadde').css('-moz-filter', 'sepia(1)');
                $('#tmadde').css('-o-filter', 'sepia(1)');
                $('#tmadde').css('-ms-filter', 'sepia(1)');
                break;
            case 'P3':
                //$('#Resim1').attr('style', 'width: 820px; height: 615px; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                //$('#tmadde').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) hue-rotate(185deg) saturate(4)  invert(1) contrast(2) brightness(1.1)');
                $('#tmadde').css('-webkit-filter', 'sepia(1) hue-rotate(180deg) saturate(3) contrast(2) hue-rotate(180deg)');
                $('#tmadde').css('filter', 'sepia(1)');              
                break;
            case 'HI':
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                //$('#tmadde').attr('style', 'filter: saturate(80%); -webkit-filter: sepia(0) saturate(200%);-moz-filter: saturate(80%); -o-filter: saturate(80%); -ms-filter: saturate(80%);');
                $('#tmadde').css('-webkit-filter', 'sepia(0) saturate(200%)');                          
                $('#tmadde').css('-moz-filter: saturate(80%)');
                $('#tmadde').css('filter', 'saturate(80%)');              
                $('#tmadde').css('-o-filter', 'saturate(80%)');
                $('#tmadde').css('-ms-filter', 'saturate(80%)');
                break;
            case 'NEG':
                $('#rsmx').attr('style', '-webkit-filter: invert(100%); filter: invert(100%);');
                //$('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; -webkit-filter: invert(100%); filter: invert(100%);');
                ////$('#tmadde').attr('style', '-webkit-filter: invert(100%); filter: invert(100%);'); 
                //$('#tmadde').css('opacity', '0.75');
                //$('#tmadde').css('-webkit-filter', 'invert(100%)');
                //$('#tmadde').css('mix-blend-mode', '');               
                //$('#tmadde').css('filter: invert(100%)');
                //$('#tmadde').css('mix-blend-mode', 'multiply');
                break;
            case 'SB':
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; -webkit-filter: grayscale(100%); filter: grayscale(100%);');
                //$('#tmadde').attr('style', '-webkit-filter: grayscale(100%); filter: grayscale(100%);');
                $('#tmadde').css('-webkit-filter', 'grayscale(100%)');
                $('#tmadde').css('filter', 'grayscale(100%)');                
                break;
            case 'BW':
                $('#rsmx').attr('style', '-webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%);');
                //$('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; -webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%);');
                ////$('#tmadde').attr('style', '-webkit-filter: grayscale(100%) invert(100%); filter: grayscale(100%);');
                //$('#tmadde').css('opacity', '0.75');
                //$('#tmadde').css('mix-blend-mode', '');
                //$('#tmadde').css('-webkit-filter', 'grayscale(100%) invert(100%)');
                //$('#tmadde').css('filter', 'grayscale(100%)');                
                break;
            case 'SEN':
                $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair; filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                //$('#tmadde').attr('style', 'filter: sepia(1);-webkit-filter: sepia(1) grayscale(100%); -moz-filter: sepia(1); -o-filter: sepia(1); -ms-filter: sepia(1);');
                $('#tmadde').css('-webkit-filter', 'sepia(1) grayscale(100%)');
                $('#tmadde').css('filter', 'sepia(1)');
                $('#tmadde').css('-moz-filter', 'sepia(1)');
                $('#tmadde').css('-o-filter', 'sepia(1)');
                $('#tmadde').css('-ms-filter', 'sepia(1)');
                break;
            default:
                break;
        }

    }

    function ImageActive()
    {
        jQuery('#DurumK').val(null);
        $('#XKordinat').val(null);
        $('#YKordinat').val(null);
        $('#alsiktablo').attr('style', 'display:none');
        $('#tiklama').remove(); 
    }   

    function defaultImage() {
        $('#Resim1').removeAttr('style');
        $('#rsmx').attr('style', 'height: 620px;');
        $('#Resim1').attr('style', 'width: 820px; height: 615px; position: absolute; cursor:crosshair;');
        $('#tmadde').css('mix-blend-mode', 'multiply');
        $('#tmadde').css('-webkit-filter', '');
        $('#tmadde').css('filter', '');
        $('#tmadde').css('-moz-filter', '');
        $('#tmadde').css('-o-filter', '');
        $('#tmadde').css('-ms-filter', '');
        $('#tmadde').css('opacity', '');
    }

    function Kapat()
    {
        window.close();
    }
</script>