﻿@model Tip_Sorular
@{
    HaveakTurEntities Entity = (HaveakTurEntities)ViewBag.entity;
    //int personel = AktifKullanici.Aktif.User_Ref;
    string check = "";
    //string altCheck = string.Empty;

    int personel = AktifKullanici.Aktif.User_Ref;
    int sorunumara = (int)ViewBag.Soruno;
    int soruIndex = (int)ViewBag.SoruIndex;
    string soruTipi = "";
    int tipSinavNo = 0;
    int per_sinav = 0;
    double olcek = 0;
    double payda = 8.50;
    string sonuclar = "1";
    string opaGelen = "1";
    int? cevapx = 0;
    int? cevapy = 0;
    bool? secim = false;
    int basladi = 0;
    int id = 0;
    int sorukontrolSonuc = sorunumara;
    if (sorukontrolSonuc != 0)
    {
        soruTipi = Model.UniteSorular.SinavTipi.Baslik;
        ViewBag.SoruTipi = soruTipi;
        tipSinavNo = Model.TipSinavlar_Ref;
        var snc = Entity.Personel_TIP.Where(r => r.Personel_Ref == personel && r.TipSinavlar_Ref == tipSinavNo && r.Bitti == 0).Select(t => new { t.ID, t.Basladi }).FirstOrDefault();
        per_sinav = snc.ID;
        basladi = snc.Basladi.Value;

        olcek = Convert.ToDouble(Model.UniteSorular.TMOlcek == null ? 100 : Model.UniteSorular.TMOlcek.Value);
        try
        {
            sonuclar = (olcek / payda).ToString().Substring(0, 4).Replace('.', ',');
        }
        catch
        {
            sonuclar = (olcek / payda).ToString().Replace('.', ',');
        }

        opaGelen = Convert.ToDouble((Model.UniteSorular.TMSaydamlik == null ? 1 : Model.UniteSorular.TMSaydamlik == 1 ? 1 : (Model.UniteSorular.TMSaydamlik.Value / 100))).ToString();
        var cevaplar = Entity.TipCevaplars.Where(m => m.Personel_TIP.Personel_Ref == personel && m.Tip_Sorular_Ref == Model.ID).Select(t => new { t.CevapResimX, t.CevapResimY }).FirstOrDefault();
        if (cevaplar != null)
        {
            cevapx = cevaplar.CevapResimX;
            cevapy = cevaplar.CevapResimY;
        }
        secim = Model.TipCevaplars.Select(y => y.KoordinatSecim).FirstOrDefault();
        id = Model.ID;
    }

}

<style type="text/css">
    .light-svg {
        display: block;
    }

    .dark-svg {
        display: none;
    }

    /* Change button class (and SVG color) for IE and Edge only */
    _:-ms-lang(x), .light-svg {
        display: none;
    }

    _:-ms-lang(x), .dark-svg {
        display: block;
    }
</style>

@using Haveak_Pro.Models;

<style type="text/css">
    .thumbnail {
        position: relative;
        height: 615px;
        overflow: hidden;
        img

    {
        width: 820px;
        max-width: 820px;
        max-height: 620px;
        position: absolute;
        left: 50%;
        margin-left: -460px;
    }

    }
</style>



    <div class="col-md-6">
        <div id="rsmx" class="thumbnail" style="height: 630px; width:830px; visibility: hidden; background-color: white;">
            @if (sorunumara != 0)
            {
                <img id="Resim1" style="position: absolute; width: 820px; max-width:820px; max-height:615px; height:615px; cursor:crosshair; background-size: cover;" src="~/@(Model.UniteSorular.SBagajlar.Resim)" />
                if (Model.UniteSorular.SBMaddeResimler != null)
                {
                    <img id="tmaddeTip" src="~/@(Model.UniteSorular.SBMaddeResimler.Resim)" alt="" style="cursor:crosshair; margin-left: @(Convert.ToInt32(Model.UniteSorular.XKordinat))px; margin-top: @(Convert.ToInt32(Model.UniteSorular.YKordinat))px; mix-blend-mode: multiply; background-blend-mode:multiply; -webkit-transform: rotate(@(Convert.ToInt32(Model.UniteSorular.TMVektor))deg); opacity:@opaGelen; width:@(sonuclar)%;" />
                    <input type="hidden" id="XKordinat" value="" />
                    <input type="hidden" id="YKordinat" value="" />
                    <input type="hidden" id="Pointerxx" value="" />
                    <input type="hidden" id="Pointeryy" value="" />
                }
                <input id="DurumK" value="" type="hidden" />
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            @* <div class="panel-heading ui-draggable-handle">
                    <h3 class="panel-title">İÇERİK</h3>
                </div>*@
            <div class="panel-body">
                - GIS, Soru : <span class="badge badge-inverse"><b>@(sorunumara == 0 ? "-" : soruIndex.ToString())</b></span><br />
                -
                <label style="font-weight: bold; font-size: 14px">@(Model == null ? "Bitti" : Model.UniteSorular.Soru)</label><br />

                <table style="width: 100%; font-weight: bold; font-size: 14px" class="table table-bordered " id="soruSikkiAlt">
                    @if (sorunumara != 0)
                    {
                        foreach (var itemx in Model.UniteSorular.SoruSiklaris.Where(r => r.IsActive == true))
                        {
                            //int countAlt = Model.UniteSorular.AltSiklars.Count();
                            <tr>
                                <td style="width: 4%">
                                   

                                    <input id="cvp_@itemx.ID" type="checkbox" @check onclick="AltsikGoster('@itemx.UniteSorular_Ref','@itemx.ID')" />
                                    <input type="hidden" id="SoruSik_@itemx.ID" value="@itemx.SoruSikki" />
                                  
                                </td>
                                <td>
                                    @itemx.SoruSikki @itemx.CevapIcerik
                                    <input type="hidden" id="Sik_@itemx.ID" value="@itemx.ID" />
                                </td>
                            </tr>
                        }
                    }
                </table>
                @*<table class="table table-bordered" id="alsiktablo">
                        <tbody>
                            @{
                                int cvp = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar_Ref == per_sinav).Count();
                                if (cvp > 0)
                                {
                                    foreach (var item in Model.UniteSorular.AltSiklars.Where(t => t.IsActive == true).Select((x, i) => new { Index = i, Data = x }))
                                    {
                                        <tr>
                                            @if (item.Data.ID == Model.TipCevaplars.Where(m => m.AltCevap == item.Data.ID && m.Personel_Sinavlar_Ref == per_sinav).Select(t => t.AltCevap).FirstOrDefault())
                                            {
                                                altCheck = "checked = checked";
                                            }
                                            else
                                            {
                                                altCheck = "";
                                            }
                                            <td style="width: 4%">
                                                <input id="altcvp_@(item.Data.ID)" type="checkbox" @altCheck onclick="CheckboxControlAlt2('@item.Data.ID    ')">
                                            </td>
                                            <td>
                                                @item.Data.AltSoruSikki  @item.Data.AltCevapIcerik
                                                <input type="Hidden" id="AltSik_@item.Data.ID" value="@item.Data.ID" />
                                                <input type="Hidden" id="AltSoruSik_@(item.Data.ID)" value="@(item.Data.AltSoruSikki)" />
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>*@
            </div>
            <div class="panel-footer">
                <div id="pulsate-regular2" style="font-size: large; font-weight: bold; color: black"></div>
                @*var soruDurum = Entity.SinavCevaplars.Where(t => t.Sınav_Sorular_Ref == Model.ID && t.Personel_Sinavlar.Sinif_Ogrenci.Personel_Ref == personel).Select(r => r.ID).Count() == 0 ? "Onayla" : "Güncelle";*@
                @if (sorunumara != 0)
                {
                    <input type="button" class="btn btn-primary pull-right" id="Ssoru" onclick="GetTipSoruDetay('@Model.TipSinavlar_Ref', '@sorunumara', 'true');" value="Sonraki Soru" />
                }
            </div>
        </div>

        <input id="Button1" type="button" class="btn btn-danger btn-large" value="TESTİ BİTİR" onclick="SinavBitir();" />
    </div>



<script>

    GetirIlk();

    function GetirIlk()
    {
        $('#tiklama').remove();
        $('#Ssoru').attr('disabled', 'disabled');       
        if ('@sorunumara' != 0) {
            var myInterval = setInterval(function () {
                defaultImage();               
                var wth = $('#tmaddeTip').width();
                var hgt = $('#tmaddeTip').height();
                  $('#Pointerxx').val(wth);
                  $('#Pointeryy').val(hgt);
                  $('#rsmx').attr('style', 'visibility: hidden;');
                  PointerSize();
                  OpacityControl();
                  var time2 = setInterval(function () {
                      defaultImage();
                      clearInterval(time2);
                  },500);
                  clearInterval(myInterval);
                  $('#kontrolEkran').css('display', 'block');
              },2500);
          }
    }


    function AltsikGoster(id,checkx)
    {
        CheckboxControlAlt(checkx);
        var isChecked = $('#cvp_'+checkx).is(":checked");
        if (isChecked) {
            $.ajax({
                url: "/SINAV/Home/AltSiklarGetir",
                data: { 'id': id },
                success: function (data)
                {
                    $('#alsiktablo').attr('style', 'display:block');
                    $('#alsiktablo tbody').find('tr').remove();
                    for (var i = 0; i < data.length; i++)
                    {
                        var newRow = '<tr><td style="width: 4%"><input id="altcvp_'+data[i].ID+'" type="checkbox" onclick="CheckboxControlAlt2('+data[i].ID+')"></td>' +
             '<td>' + data[i].AltSoruSikki + ' ' + data[i].AltCevapIcerik + '<input type="Hidden" id="AltSik_'+data[i].ID+'" value="'+data[i].ID+'" /><input type="Hidden" id="AltSoruSik_'+data[i].ID+'" value="'+data[i].AltSoruSikki+'" /></td></tr>';
                        $('#alsiktablo tbody').append(newRow);
                    }
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });
        }

    }

    function CheckboxControlAlt(id) {
        $('#Ssoru').removeAttr('disabled');

        var selectCheck = $('#cvp_' + id).is(':checked') ? "checked" : "";
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {
            $(trx).find("td").eq(0).find("input").removeAttr('checked');
        });
        $('#cvp_' + id).prop('checked', true);

        var ccont = $('#SoruSik_'+id).val();
        if (ccont == "a)") {
            ImageActive();
        }
        else {

            $("#Resim1").click(function (e) {

                $('#tiklama').remove();
                var control = $(this).attr('id');
                if (control == "Resim1")
                {
                    var x = e.pageX;
                    var y = e.pageY;
                    var relativeX = x -10;
                    var relativeY = y -10;
                    $('#DurumK').val(false);
                    var img = $('<img id="tiklama" src="/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
                    var div = $('<div>').css({
                        "position": "absolute"
                    });
                    div.append(img);
                    $(document.body).append(div);
                    $('#XKordinat').val(relativeX);
                    $('#YKordinat').val(relativeY);
                }
            });
            $("#tmaddeTip").click(function (e) {
                $('#DurumK').val(null);
                $('#XKordinat').val(null);
                $('#YKordinat').val(null);
                $('#tiklama').remove();
                var control = $(this).attr('id');
                if (control == "tmaddeTip")
                {
                    var x = e.pageX;
                    var y = e.pageY;
                    var relativeX = x -10;
                    var relativeY = y -10;
                    $('#DurumK').val(true);
                    var x = relativeX - 10;
                    var y = relativeY - 10;
                    var img = $('<img id="tiklama" src="/img/selected.jpg" alt="Tıklandı" style="position:absolute; margin-left: ' + relativeX + 'px; margin-top: ' + relativeY + 'px"  />');
                    var div = $('<div>').css({
                        "position": "absolute"
                    });
                    div.append(img);
                    $(document.body).append(div);
                    $('#XKordinat').val(relativeX);
                    $('#YKordinat').val(relativeY);
                }
            });
        }
    }

    //function CheckboxControlAlt2(id) {

    //    var selectCheck = $('#altcvp_' + id).is(':checked') ? "checked" : "";
    //    $('#alsiktablo').find('tr').each(function (ix, trx) {
    //        $(trx).find("td").eq(0).find("input").removeAttr('checked');
    //    });
    //    $('#altcvp_' + id).prop('checked', true);
    //}
    function PointerSize() {        
        var glnx = '@olcek';
        var wth = $('#Pointerxx').val();
        var hgt = $('#Pointeryy').val();
        var byt = parseFloat(glnx) / 95;
        var sonucx = wth * byt;
        var sonucy = hgt * byt;
        $('#tmaddeTip').css('width', sonucx + 'px');
    }

    function OpacityControl() {
        var dgr = '@opaGelen'.replace(',','.');
        $('#tmaddeTip').css('opacity', dgr);
    }

    function resetTime()
    {
        var b = 1;
        saniye = setInterval(function () {
            var a = 25;
            var difference = a - b;
            var sonuc = "";
            if (difference > 9) {
                sonuc = "" + difference;
            }
            else {
                sonuc = "0" + difference;
            }
            $('#pulsate-regular').html("00:00:" + sonuc);
            if (difference == 0) {
                clearInterval(saniye);
                $('#devamet').click();
            }
            b++;
        }, 1000);
    }

    function CevapKaydet(saniye)
    {        
        clearInterval(saniye);
        $('#SoruIcerik').css('display', 'none');
        $('#Ssoru').attr('disabled', 'disabled');
        $('#Ssoru').val("İşlem Sürüyor...");
        var Personel_TipRef = '@per_sinav'
        var Sinav_SoruRef = '@id';
        var CevapResimX = parseInt($('#XKordinat').val());
        var CevapResimY = parseInt($('#YKordinat').val());
        var Girilen_Cevap = "";
        //var AltCevap = 0;
        var soruSikki= 0;
        var cevapSikki ="";
        var durum = jQuery('#DurumK').val();
        if (typeof durum == "undefined")
        {
            durum =null;
        }
        $('#soruSikkiAlt').find('tr').each(function (ix, trx) {
            soruSikki = $(trx).find("td").eq(0).find("input").is(":checked");
            if (soruSikki) {
                Girilen_Cevap = $(trx).find("td").eq(1).find("input[type=hidden]").val();
            }
        });
        var soruS = $('#SoruSik_' + Girilen_Cevap).val();
        
        $.ajax({
            type: 'POST',
            url: "/SINAV/TipSinav/TipSinavCevap",
            data: { 'Personel_TipRef': Personel_TipRef, 'TipSoruRef': Sinav_SoruRef, 'Cevap': Girilen_Cevap, 'xkordinat':CevapResimX, 'ykordinat':CevapResimY, 'koordinatSecim': durum  },
            success: function (data)
            {
                if (data == "Tamam") {
                    
                    $('#Cevap_' + Sinav_SoruRef).html("<span class='label label-success' style='font-size:12px'> " + soruS + "</span>");

                    $.ajax({
                          type: 'POST',
                          url: "@Url.Action("_TSoruDetay", "TipSinav", new { area = "SINAV" })",
                          data: { 'Tip_Ref': '@tipSinavNo', 'idx': Sinav_SoruRef },
                          success: function (data) {
                              $("#seciliSoruIcerik").html(data);   
                              var reset = setInterval(function () {                                  
                                  resetTime();
                                  clearInterval(reset);    
                                  $('#SoruIcerik').css('display', 'block');
                              }, 2500);
                          },
                          error: function (hata) {
                              alert(hata.responseText);
                          }
                     });
                }
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });
    }

    function CevapKaydetNull()
    {
        $('#SoruIcerik').css('display', 'none');
        $('#Ssoru').val("İşlem Sürüyor...");
        var Personel_TipRef = '@per_sinav'
        var Sinav_SoruRef = '@id';
        var CevapResimX = 0;
        var CevapResimY = 0;
        var Girilen_Cevap = "";
        var AltCevap = 0;
        var soruSikki= 0;
        var cevapSikki ="";
        var durum = jQuery('#DurumK').val();
        if (typeof durum == "undefined") {
            durum =null;
        }
        if ('@tipSinavNo' == '0') {
            TestBitirManuel();
        }
        else {
            $.ajax({
                url: "/SINAV/TipSinav/TipSinavCevap",
                data: { 'Personel_TipRef': Personel_TipRef, 'TipSoruRef': Sinav_SoruRef, 'Cevap': Girilen_Cevap, 'AltCevap': AltCevap, 'xkordinat':CevapResimX, 'ykordinat':CevapResimY, 'koordinatSecim': durum  },
                success: function (data)
                {
                    $('#Cevap_' + Sinav_SoruRef).html("<span class='label label-danger' style='font-size:12px'> NULL </span>");
                     $.ajax({
                          type: 'POST',
                          url: "@Url.Action("_TSoruDetay", "TipSinav", new { area = "SINAV" })",
                          data: { 'Tip_Ref': '@tipSinavNo', 'idx': Sinav_SoruRef },
                          success: function (data) {
                              $("#seciliSoruIcerik").html(data); 
                              var reset = setInterval(function () {                                 
                                  resetTime();
                                  clearInterval(reset);
                                  $('#SoruIcerik').css('display', 'block');
                              }, 2500);
                          },
                          error: function (hata) {
                              alert(hata.responseText);
                          }
                     });
                 
                },
                error: function (hata) {
                    alert(hata.responseText);
                }
            });

        }
    }

    function ImageActive()
    {
        $('#DurumK').val(null);
        $('#XKordinat').val(null);
        $('#YKordinat').val(null);
        $('#alsiktablo').attr('style', 'display:none');
        $('#tiklama').remove();
        //$('#Resim1').attr('id', 'ResimYok');
        //$('#tmaddeTip').attr('id', 'tmaddeTipYok');
    }

    function SinavBitir()
    {
        $('#kapatma').click();
    }



</script>




