﻿@model List<TipCevaplar>
@{
    HaveakTurEntities entity = new HaveakTurEntities();  
    int index = 0;
    int index2 = 0;
    int sinavNo = Model.Select(r=>r.Personel_TIP.TipSinavlar_Ref).FirstOrDefault();
    var sinavSorular = entity.Tip_Sorular.Where(r => r.TipSinavlar_Ref == sinavNo).Count();
}
@using Haveak_Pro.Models;


@if (Model.Count > 0)
{
<table class="table">
    <thead>
        <tr>           
            <th>GIS SORULAR</th>
        </tr>
    </thead>
    <tbody>
        <tr>           
            <td>
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Soru</th>
                            <th>Doğru Şık</th>
                            <th>Cevap</th>
                           @* <th>Alt Cevap</th>*@
                            <th>Koordinat</th>
                            <th>Sonuç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index++;               
                            <tr>
                                <td>@index</td>
                                <td>
                                    @item.Tip_Sorular.UniteSorular.Soru                                    
                                </td>
                                <td>
                                    @item.Tip_Sorular.UniteSorular.SoruSiklaris.Where(t => t.DogruSecenek == true && t.IsActive == true && t.IsDelete == false).Select(e => e.SoruSikki).FirstOrDefault()
                                </td>
                                <td>
                                    @(entity.SoruSiklaris.Where(t => t.ID == item.GirilenCevap).Select(r => r.SoruSikki).FirstOrDefault() ?? "BOŞ")
                                </td>
                               @* <td>
                                    @(entity.AltSiklars.Where(t => t.ID == item.AltCevap).Select(r => r.AltSoruSikki).FirstOrDefault() ?? "YOK")
                                </td>*@
                                <td>
                                    @(item.KoordinatSecim == true ? "Doğru" : item.KoordinatSecim == false ? "Yanlış" : "YOK")
                                </td>
                                <td style="font-weight:bold">
                                  <span class="label label-@(item.Netice == true ? "success": "danger")">  @(item.Netice == true ? "Doğru" : "Yanlış")</span>
                                </td>
                            </tr>                           
                        }
                         @if (index < sinavSorular && Model.Count < sinavSorular)
                            {
                                index2++;   
                            }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
   
}
else
{
    <div class="alert alert-danger" role="alert">                               
                                <strong>DUYURU </strong> Bu sınava ait hiç cevap şıkkı işaretlenmedi!
     </div>
}
