﻿@model List<TipSinavlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMenu.cshtml";
    int index = 0;
    int index2 = 0;
    int index3 = 0;
    int user = AktifKullanici.Aktif.User_Ref;
    var personelTIP = (List<Personel_TIP>)ViewBag.PersonelTIP;
    var perEgitimTest = (List<TipEgitimSinavlar>)ViewBag.TipEgitimTest;
    var aktifKontrol = (int)ViewBag.aktifKontrol;
    //var data = Model.Where(r => r.SoruSayisi == Model.Count).Count();
    bool? tstx = (bool?)ViewBag.Test;
    string aktifilk = (tstx == null ? "class=active" : "");
    string aktifson = (tstx != null ? "class=active" : "");
}
@using Haveak_Pro.Models;

<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li class="active">TIP</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>GİS TEST HİZMETLERİ</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="panel panel-default tabs">
                    <ul class="nav nav-tabs nav-justified">
                        <li @aktifilk><a href="#tab3" data-toggle="tab" style="background-color: lightblue; color: white">GİS EĞİTİM TESTLERİ</a></li>
                        <li><a href="#tab1" data-toggle="tab" style="background-color: green; color: white">GİS TESTLER</a></li>
                        <li @aktifson><a href="#tab2" data-toggle="tab" style="background-color: maroon; color: white;">GİRİLEN GİS TESTLER</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane @(tstx != null ? "active" : "")" id="tab1">
                            <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th>Sıra</th>
                                        <th>Gis No</th>
                                        <th>Soru Adet</th>
                                        <th>Açıklama</th>
                                        <th>Toplam Süre</th>
                                        <th>Kalan Sınav Hakkı</th>
                                        <th>Durum</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderByDescending(t => t.ID))
                                    {
                                        int soruSayisi = item.Tip_Sorular.Where(t => t.IsActive == true && t.IsDelete == false).Count();
                                        if (item.SoruSayisi == soruSayisi)
                                        {
                                            var girisBilgi = item.Personel_TIP.Where(e => e.IsActive == true && e.IsDelete == false && e.Bitti == 0 && e.Personel_Ref == user).Select(e => new { e.GirisSaati, e.Basladi, e.Bitti }).FirstOrDefault();
                                            TimeSpan sure = TimeSpan.FromMinutes(item.Sure);
                                            TimeSpan bitisSuresi = girisBilgi == null ? TimeSpan.Zero : girisBilgi.GirisSaati.Value.Add(sure);
                                            TimeSpan Suan = DateTime.Now.TimeOfDay;

                                            string baslik = "Basla";

                                            if (bitisSuresi > Suan && girisBilgi.Basladi == 1 && girisBilgi.Bitti == 0)
                                            {
                                                baslik = "Devam";
                                            }
                                            string aktif = "success";
                                            index++;
                                        <tr class="success">
                                            <td>@index</td>
                                            <td>@item.TipNo</td>
                                            <td>@item.SoruSayisi</td>
                                            <td>@item.Aciklama</td>
                                            <td>@item.Sure Dakika</td>
                                            <td>@{
                                            var girilen = personelTIP.Where(w => w.TipSinavlar_Ref == item.ID).Select(e => e.ID).Count();
                                            int sinavHakki = 10;
                                            int kalan = sinavHakki - girilen;
                                            string durum = "green";
                                            string kaydetme = "";
                                            string buton = "success";
                                            if (kalan <= 0)
                                            {
                                                durum = "maroon";
                                                kaydetme = "disabled=disabled";
                                                buton = "default";
                                            }
                                            string sonuc = string.Format("{0} kere Sinava Girdiniz kalan: {1}", girilen, kalan);  
                                            }
                                                <label style="color:@durum">@sonuc</label>
                                            </td>
                                            <td>
                                                @{
                                            string durumu = "Aktif sınav yok!";
                                            TimeSpan kalandk = bitisSuresi - Suan;
                                            if (bitisSuresi > Suan && girisBilgi.Basladi == 1 && girisBilgi.Bitti == 0)
                                            {
                                                durumu = kalandk.Minutes.ToString() + " dakika";
                                            }
                                                                              
                                                }
                                                @durumu
                                            </td>
                                            <td>
                                                @if (aktifKontrol != 0)
                                                {
                                                    kaydetme = "disabled=disabled";

                                                    if (aktifKontrol == item.ID)
                                                    {
                                                        if (baslik == "Devam")
                                                        {
                                                            kaydetme = "";
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    kaydetme = "";
                                                }
                                                @if (kalan <= 0)
                                                {
                                                    kaydetme = "disabled=disabled";
                                                }
                                                <input id="btnBasla" type="button" class="btn btn-@buton btn-rounded" value="@baslik" onclick="TipSinavaBasla('@item.ID');" @kaydetme />
                                            </td>
                                        </tr>     
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <div class="date">
                                                <span class="label label-primary">Toplam Sistemdeki Gis Sınavı : @Model.Count Adet</span>
                                            </div>
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                        <div class="tab-pane" id="tab2">
                            @if (personelTIP.Count > 0)
                            {
                                <table id="dtable" class="table table-striped" style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Gis Adi
                                            </th>
                                            <th>Gis Test No
                                            </th>
                                            <th>Gis Notu
                                            </th>
                                            <th>Giriş Tarihi</th>
                                            <th>Başlama Saati </th>
                                            <th>Bitirme Saati</th>
                                            <th>Testte Kalma Süresi</th>
                                            <th>Soru Sayısı</th>
                                            <th>Doğru Sayısı</th>
                                            <th>Yanlış Sayısı</th>
                                            <th>SONUÇ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in personelTIP.OrderByDescending(r=>r.TipTarihi).ThenByDescending(w=>w.GirisSaati))
                                        {
                                            index2++;
                                            <tr class="danger">
                                                <td>@index2</td>
                                                <td>@item.TipSinavlar.TipNo</td>
                                                <td>@item.TipNo</td>
                                                <td><span style="color: gray"><b>@item.TipNotu</b></span></td>
                                                <td>@item.TipTarihi.Value.ToString("dd/MM/yyyy")</td>
                                                <td>@item.GirisSaati.Value</td>
                                                <td>@(item.CikisSaati == null ? "Devam Ediyor" : item.CikisSaati.Value.ToString())</td>
                                                <td>@{
                                            string sonucs = "";
                                            var cikis = item.CikisSaati == null ? TimeSpan.Zero : item.CikisSaati;
                                            var surec = item.CikisSaati - item.GirisSaati;
                                            if (surec == null)
                                            {
                                                sonucs = "-";
                                            }
                                            else
                                            {
                                                sonucs = surec.Value.ToString();
                                            }
                                                }
                                                    @sonucs
                                                </td>
                                                <td><span style="color: gray">@item.TipSinavlar.Tip_Sorular.Where(r => r.IsActive == true && r.IsDelete == false).Count()</span></td>
                                                <td><span style="color: green"><b>@item.DogruSayisi</b></span></td>
                                                <td><span style="color: black">@item.YanlisSayisi</span></td>
                                                <td>
                                                    @if (item.Netice != null)
                                                    {
                                                        <a class="btn btn-@(item.Netice == "KALDI" ? "danger" : "success") btn-rounded" href="@Url.Action("GisCevaplarPersonel","TipSinav", new { area = "SINAV", id= item.ID})">@(item.Netice)</a>
                                                        @*<input type="button" class="btn btn-@(item.Netice == "KALDI" ? "danger" : "success") btn-rounded" value="@(item.Netice)" data-toggle="modal" data-target="#sonuc_cikti" onclick="SonucDetay('@item.ID')" />*@
                                                        
                                                    }
                                                    else
                                                    {
                                                        <span style="color: orange">Devam Ediyor</span> 
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <strong>DİKKAT</strong> Herhangi bir GİS sınavına girmediniz!
                                </div>
                            }
                        </div>

                        <div class="tab-pane @(tstx == null ? "active" : "")" id="tab3">
                            @if (perEgitimTest.Count > 0)
                            {
                                <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Gis No</th>
                                            <th>Soru Adet</th>
                                            <th>Açıklama</th>
                                            <th>Toplam Süre</th>
                                            <th>İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in perEgitimTest)
                                        {
                                            int soruSayisi = item.TipEgitim_Sorular.Where(t => t.IsActive == true && t.IsDelete == false).Count();
                                            if (item.SoruSayisi == soruSayisi)
                                            {
                                                index3++;
                                            <tr class="info">
                                                <td>@index3</td>
                                                <td>@item.TipEgitimNo</td>
                                                <td>@item.SoruSayisi</td>
                                                <td>@item.Aciklama</td>
                                                <td>@item.Sure Dakika</td>
                                                <td>
                                                    <input id="btnBaslaTst" type="button" class="btn btn-info btn-rounded" value="Başla" onclick="TipEgitimTesteBasla('@item.ID');"/>
                                                </td>
                                            </tr>     
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <div class="date">
                                                    <span class="label label-primary">Toplam Sistemdeki GİS Eğitim Testi : @perEgitimTest.Count Adet</span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-warning" role="alert">
                                    <strong>DİKKAT</strong> Herhangi bir GİS eğitim testi yayında bulunmamaktadır!
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">GİS Sınav Sonuç Duyurusu</h4>
            </div>
            <div class="modal-body" id="Cevaplar">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>*@
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@

@section scripts{
<script type="text/javascript">
    $('#dtable').dataTable();
    function TipSinavaBasla(id) {          
        window.location.href = '/SINAV/TipSinav/TipTesteBasla/'+id;
    }
    function TipEgitimTesteBasla(id) {  
        $.ajax({
            url: '/SIMULATOR/MaddeInceleme/LogYaz',
            data: { 'islemTur': 1, 'simulatorRef': 4 },
            success: function () { }
        });
        window.location.href = '/SINAV/TipEgitimTest/TipEgitimTesteBasla/'+id;
    }

    

    $(function () {  
        setInterval(function () {                
            window.location.href ="/SINAV/TipSinav/Index";
        }, 60000);
    });

    @*function SonucDetay(idx)
    {
        var yukleniyor = '<div class="progress">'+
                                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>'+
                                    '</div>"';
        $("#Cevaplar").html(yukleniyor);
        $.get('@Url.Action("_TipCevaplar", "TipSinav")', { id : idx}, function (data) {
            $("#Cevaplar").html(data);
        });
    }*@

   

</script>
    }