﻿@model List<SBagajlar>
    @{ 
        int? sbagajId = (int?)TempData["bagajId"];
    }

@using Haveak_Pro.Models;

<select id="SBagajlar_Ref" class="form-control select" data-live-search="true" onchange="SbagajlarResimGetir();">
    <option value="0">Sinav Soru Resmi Seçiniz</option>
    @foreach (var item in Model)
    {
        if (sbagajId.HasValue && sbagajId.Value == item.ID)
        {
            <option style="color:blue;" selected value="@item.ID,@item.Resim">
                @item.Isim
            </option>
        }
        else
        {
            <option style="color:blue;" value="@item.ID,@item.Resim">
                @item.Isim
            </option>
        }
    }
</select>
<input type="hidden" id="SbgjRef" name="SBagajlarData" value="" />

