﻿@model List<Personel_Sinavlar>
@{
    //Dictionary diclist = new Dictionary();
    //var kategori = diclist.SoruKategori();
    HaveakTurEntities Entity = new HaveakTurEntities();
    int index = 0; 
}
@using Haveak_Pro.Areas.PANEL.Models;
@using Haveak_Pro.Models;

@if (Model.Count() > 0)
{   
    <table class="table text-center" id="Personeller">
        <thead>
            <tr>
                <th style="width: 8px;">
                    @*   <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />*@

                </th>
                <th clas="text-center">Sıra</th>
                <th clas="text-center">SınavNo</th>
                <th clas="text-center">Katılımcı</th>
                <th clas="text-center">Sınav Durum</th>
                <th clas="text-center">Sınav Tarihi</th>
                <th clas="text-center">Başlama Saati</th>
                <th clas="text-center">Bitiş Bitiş Saati</th>
                <th clas="text-center">Süre</th>
            </tr>
        </thead>
        <tbody>
            @{ 
    foreach (var item in Model.Where(t => t.IsActive == true))
    {
        index++;                   
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" value="1" /></td>
                    <td>@index
                        <input type="hidden" id="PS_ID@(index)" value="@item.ID" />
                    </td>
                    <td>@item.Sinavlar.SinavNo</td>
                    <td>
                        @item.Sinif_Ogrenci.Personel.Adi @item.Sinif_Ogrenci.Personel.Soyadi
                    </td>
                    <td>@(item.SinavAciklama == true ? "Açıklandı": "Bekleniyor!")</td>
                    <td>@item.SinavTarihi.Value.ToShortDateString()</td>
                    <td>@item.BaslamaSaati.Value</td>
                    <td>@item.BitisSaati.Value</td>
                    <td>@item.SinavSuresi</td>
                </tr>										     
    }
            }
        </tbody>
    </table>   
    <br />
    <button type="button" class="btn btn-danger" onclick="PersonelIslem();">Seçili Personelleri çıkar</button>
    <br />
    <br />
}
else
{
    <div class="alert alert-danger" role="alert">
                                <strong>SINAVA ATANMIŞ PERSONEL YOK!</strong> Yukarıdan Personel Seçerek personel ataması yapınız.
                            </div>
}
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@
<script>
       
   
    $(function () {            
        $('#Personeller').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
        //$('.checkboxes').iCheck({
        //    checkboxClass: 'icheckbox_minimal-grey'
        //});
        //$('.icheckbox_minimal-grey').change();
    });

    function PersonelIslem(id) {
        
        var ii = 0;
        var durum = confirm("Seçili Kayıt silinsinmi?");
        if (durum == true)
        {
            
            $('#Personeller tbody').find('tr').each(function (ix, trx) {
                var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
                if (isCheck) { 
                    var id = $(trx).find("td").eq(1).find("input").val();
                    $.ajax({
                        url: "@Url.Action("SPsil", "SinavIslemler")",
                        data: { 'id': id },
                        async: false,
                        success: function (result) {
                            
                            if (result) {
                            ii = +1; 
                            }                                                       
                        }
                    });
                }
            });
            //if (ii > 0) {
            alert("Seçili Kayıt-lar silme işlemi tamamdır. 'NOT: Sinava giren personel silinmemiştir!'");
            GetSinavPersoneller();
            //}
            //else {
            //    alert("Herhangi bi kayıt silinemedi tekrar deneyin.");
            //}
        }
    }
</script>
