﻿@model List<Unite>

@using Haveak_Pro.Models;

<label class="control-label">Ünite</label>
<div class="controls">
    <select id="UniteSorular_Ref" class="form-control select" tabindex="1" data-live-search="true" onchange="GetUniteSorular();">
        <option value="0">Ünite Seçin</option>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <option value="@item.ID" style="background-color:red; color:white; font-weight:bold">@item.UniteAdi &nbsp;&nbsp; +</option>
            }
        }
    </select>
</div>
