﻿@model List<SinifPersonelView>
@{
    int index = 0;
}
@using Haveak_Pro.Models;
@using Haveak_Pro.Areas.PANEL.Models;

<table id="Ogrenciler" class="table table-bordered text-center" >
    <thead>
        <tr>
            <th class="text-center">Seç <input id="ch_full" type="checkbox" style="cursor:pointer"/></th>
            <th class="text-center">Sıra</th>
            <th class="text-center">Resim</th>
            <th class="text-center">Adı Soyadı</th>
            <th class="text-center">TCNo</th>
            <th class="text-center">Sınıf</th>
        </tr>
    </thead>
    <tbody>    
        @foreach (var item in Model)
            {
                index++;
                <tr>
                    <td>
                        <div style="display:block" id="chkTyp@(item.personel_id)" class="">
                            <input id="ch_@(item.sinif_ogrenci_id)" name="PrsDatax" type="checkbox" value="1" style="cursor:pointer" />
                        </div>
                    </td>
                    <td>
                        @(index)
                        <input type="hidden" id="SOgrenciID@(index)" value="@item.sinif_ogrenci_id" />
                    </td>
                    <td>
                        <div class="col-md-2 col-xs-2">
                            <a href="#" class="friend">
                                <img src="~/DocumentFiles/Personel/@(item.resim)" style="height:73px; width:73px;">
                            </a>
                        </div>
                    </td>
                    <td>@item.adi @item.soyadi</td>
                    <td>
                        @item.tcno
                </td>
                <td>@item.sinif</td>
                </tr>               
            }
        
    </tbody>
</table>
<div style="clear: both;"></div>
<script>
    $(function () {

        $('#Ogrenciler').dataTable({
            "scrollY": "800px",           
            "paging": false
        });
        //$('#Ogrenciler tbody tr input').iCheck({
        //    checkboxClass: 'icheckbox_minimal-grey'
        //});
        var idx = $('#Sinavlar').val();
        $.ajax({
            url: '/PANEL/SinavIslemler/AtanmisPersonelCikarma',
            data: { 'sinavID': idx },
            success: function (result) {
                for (var i = 0; i < result.length; i++) {

                    var idz = result[i];
                    $('#chkTyp' + idz).attr('style', 'display:none');
                }
                //$('#Ogrenciler tbody tr input').iCheck({
                //    checkboxClass: 'icheckbox_minimal-grey'
                //});
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

        $('#ch_full').click(function () {
            
            var checked = $(this).prop('checked');
            if (!checked) {
                $('input[name=PrsDatax]').prop('checked', checked);
            }
            else {
                //$('#Ogrenciler tbody').find('tr').each(function (ix, trx) {
                    
                    //var durum = $(trx).find("td").eq(0).find("div").attr('style');
                    //if (durum == "display:block") {
                    $('input[name=PrsDatax]').prop('checked', checked);
                    //}
                //});
            }
            //$('input[name=PrsDatax]').iCheck({
            //    checkboxClass: 'icheckbox_minimal-grey'
            //});
        });

    });


</script>
