﻿@model List<sp_UniteSorular_Result>
@{
    int tipi = (int)ViewBag.Tip;
    var uniteTumSorular = (List<UniteSorular>)ViewBag.uniteTumSorular;
    var sorusiklari = (List<SoruSiklari>)ViewBag.sorusiklari;
    var altsiklar = (List<AltSiklar>)ViewBag.altsiklar;
    var sinavsorular = (List<Sinav_Sorular>)ViewBag.sinavsorular;
    var uniteler = (List<Unite>)ViewBag.uniteler;
    int sinavTipi = (int)ViewBag.sinavtipi;
    int indexsoru = 0;
}
@using Haveak_Pro.Models;

@if (Model.Count() > 0)
{
    <table class="table table-bordered" id="sample_4">
        <thead>
            <tr>
                <th style="width: 8px;"></th>
                <th>Sıra</th>
                <th>Kategori</th>
                <th>Bagaj</th>
                <th>Yasaklı Madde</th>
                <th>Ünite</th>
                <th>Derece</th>
                <th>Soru</th>
                <th>Şıklar</th>
                <th>Alt Şıklar</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    if (sinavsorular.Where(r => r.UniteSorular_Ref == item.ID).FirstOrDefault() == null)
                    {
                        var uniteSoru = uniteTumSorular.Where(t => t.ID == item.ID).First();
                        string sbagaj = string.Empty;
                        string sbmadde = string.Empty;
                        string sbtmaddeKategori = "YOK";
                        int mkategoriID = 0;
                        if (uniteSoru.SBagajlar_Ref != null)
                        {
                            sbagaj = uniteSoru.SBagajlar.Resim;
                            if (uniteSoru.STM_Ref != null)
                            {
                                sbmadde = uniteSoru.SBMaddeResimler.Resim;
                                sbtmaddeKategori = uniteSoru.SBMaddeResimler.SBTehlikeliMKategori.Isim;
                                mkategoriID = uniteSoru.SBMaddeResimler.SBTM_Ref;
                            }
                        }

                        indexsoru++;
                        <tr>
                            <td>
                                <input type="checkbox" id="scm_@indexsoru" value="1" name="ssecenek" />
                            </td>
                            <td>
                                @indexsoru
                                <input type="hidden" id="UniteSorular_Ref@(item.ID)" value="@item.ID" />
                            </td>
                            <td>
                                @uniteSoru.SinavTipi.Baslik
                                <br />
                                Atandığı Sınav Adedi: @item.SSoruAdet <br />
                                Bulunma Oranı: <span style='color:black'>@(item.OranSonuc == null ? 0 : item.OranSonuc)</span>
                            </td>
                            <td>
                                @if (tipi != 2)
                                {
                                <div id="Gorsel@(indexsoru)" style="width: 132px;height:100px">
                                    <img id="Resim@(indexsoru)" style="width:128px; height:96px;" src="~/@(uniteSoru.SBagajlar_Ref == null ? "Content/img/RYokBagaj.jpg" : sbagaj)" />
                                    @if (uniteSoru.STM_Ref != null)
                                    {
                                        <img id="pointerResim@(indexsoru)" src="~/@(sbmadde)" alt="Tıklandı" style="margin-left: @((uniteSoru.XKordinat / 8).ToString().Replace(',', '.'))px; margin-top: @((uniteSoru.YKordinat / 8).ToString().Replace(',', '.'))px; mix-blend-mode: multiply; -webkit-transform: rotate(@((uniteSoru.TMVektor).ToString().Replace(',', '.'))deg); width:@((uniteSoru.TMOlcek.Value / 10).ToString().Replace(',', '.'))%;" />
                                    }
                                </div>
                                }
                                else
                                {
                                    <label>-</label>
                                }
                            </td>
                            <td>
                                @sbtmaddeKategori
                                <input type="hidden" id="mk_@indexsoru" name="maddekategori" value="@mkategoriID" />
                            </td>
                            <td>@uniteSoru.Unite.UniteAdi</td>
                            <td>
                                @uniteSoru.SoruKategori.Kategori
                                <input type="hidden" id="sv_@indexsoru" name="seviye" value="@uniteSoru.SoruKategori_Ref" />
                            </td>
                            <td class="hidden-phone">@uniteSoru.Soru</td>
                            <td class="hidden-phone">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Şık</td>
                                        <td>İçerik</td>
                                        <td>Doğru Seçenek</td>
                                    </tr>
                                    @{
                                        var list = sorusiklari.Where(t => t.UniteSorular_Ref == item.ID).ToList();
                                        foreach (var itemSoru in list)
                                        {
                                            string cls = "";
                                            if (itemSoru.DogruSecenek)
                                            {
                                                cls = "danger";
                                            }
                                            <tr class="@cls">
                                                <td>@itemSoru.SoruSikki</td>
                                                <td>@itemSoru.CevapIcerik</td>
                                                <td>
                                                    @{
                                                        string cevaps = "";
                                                        if (itemSoru.DogruSecenek == true)
                                                        {
                                                            cevaps = "Evet";
                                                        }
                                                    }
                                                    @cevaps
                                                </td>
                                            </tr>

                                                        }
                                    }
                                </table>
                            </td>
                            <td class="center hidden-phone">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>Şık</td>
                                        <td>İçerik</td>
                                        <td>Doğru Seçenek</td>
                                    </tr>
                                    @{
                                        var listAlt = altsiklar.Where(t => t.UniteSorular_Ref == item.ID).ToList();
                                        foreach (var itemAltSoru in listAlt)
                                        {
                                            string cls = "";
                                            if (itemAltSoru.AltDogruSecenek)
                                            {
                                                cls = "danger";
                                            }
                                            <tr class="@cls">
                                                <td>@itemAltSoru.AltSoruSikki</td>
                                                <td>@itemAltSoru.AltCevapIcerik</td>
                                                <td>
                                                    @{
                                                        string cevap = "";
                                                        if (itemAltSoru.AltDogruSecenek == true)
                                                        {
                                                            cevap = "Evet";
                                                        }
                                                    }
                                                    @cevap
                                                </td>
                                            </tr>
                                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                                                            }

                                                        }
            }
        </tbody>
    </table>
    <br />
    <button id="soruekle" type="button" class="btn btn-primary" onclick="SorularEkle();">Seçili Soruları Ata</button>
    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#otomatiksoruata">Otomatik Sınav Soruları Ata</button>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-danger" role="alert">
                                                                <strong>Soru Yok!</strong> Üniteye atanmış Soru bulunmamaktadır!!!
                                                            </div>
                                                        }

<script>
    var onay = 0;
    var hata = 0
    function SorularEkle() {
        $('#soruekle').prop("disabled", true);
        $('#soruekle').attr('disabled', 'disabled');
        $('#soruekle').val("İşlem Sürüyor...");
        var ckkontrol = false;
        $("input[name=ssecenek]:Checked").each(function () {
            ckkontrol = true;
        });

        if (ckkontrol) {
            
            onay = 0;
            hata = 0
            $('#sample_4 tbody').find('tr').each(function (ix, trx)
            {
                var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
                if (isCheck) {
                    var idx = (ix + 1);
                    var UniteSorular_Ref = $(trx).find("td").eq(1).find("input").val();

                    if ('@sinavTipi' == 3) {
                        var TestNox = $('#TestNo').val();
                        $.ajax({
                            url: "@Url.Action("TestSoruKaydet", "SinavIslemler")",
                            data: { 'Test_Ref': TestNox, 'UniteSorular_Ref': UniteSorular_Ref },
                            async: false,
                            success: function (result) {
                                if (result) {
                                    onay = onay + 1;
                                }
                                else {
                                    hata = hata + 1;
                                }
                            }
                        });
                        $('#soruekle').prop("disabled", false);
                    }
                    else {
                        var SinavNox = $('#SinavNo').val();
                        var SinavTipi_Ref = $('#SinavTipi_Ref').val();
                        $.ajax({
                            url: "@Url.Action("SinavSoruKaydet", "SinavIslemler")",
                            data: { 'SinavTipi_Ref': SinavTipi_Ref, 'UniteSorular_Ref': UniteSorular_Ref, 'Sinavlar_Ref': SinavNox },
                            async: false,
                            success: function (result) {
                                if (result) {
                                    onay = onay + 1;
                                }
                                else {
                                    hata = hata + 1;
                                }
                            }
                        });
                        $('#soruekle').prop("disabled", false);
                    }
                }
            });
            if (onay != 0 && hata == 0) {
                $('#onay').click();
            }
            if (onay != 0 && hata != 0) {
                $('#uyari').click();
            }
        }
        else {
            $('#uyari2').click();
        }
    }

    $('#sample_4').dataTable({
        "scrollY": "800px",
        "scrollCollapse": true,
        "paging": false
    });

    //$('#sample_4 tbody tr input').iCheck({
    //    checkboxClass: 'icheckbox_minimal-grey'
    //});

    @*function getData(page) {
        var yukleniyor = '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
        $("#questions").html(yukleniyor);
          var sinavId = '@sinavNoGl';
        var idx = $('#UniteSorular_Ref').val();
        var tipIx = '@tipi';
        if (tipIx == 0 || idx == 0) {
            $('#uyari').click();
            return;
        }
        $.get('@Url.Action("_USorular", "SinavIslemler", new { area = "PANEL" })', { page: page, id: idx, tip: tipIx, sinavno: sinavId }, function (result) {
            $("#questions").html(result);
        });
    }*@

    @*function Refresh(tip)
    {
        if (tip == "3")
        {
            window.location.href = '/PANEL/SinavIslemler/TestSorular?id=@item.&UniteModul_Ref=@sinavNoGl.ToString()';
        }
        else
        {
            window.location.href = '/PANEL/SinavIslemler/SinavSorular/@sinavNoGl.ToString()';
        }
    } *@

</script>


