﻿@{
    ViewBag.Title = "PersonelSinav";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";

    var sinav = (List<Sinavlar>)ViewBag.Sinavlar;
    var siniflar = (List<Sinif>)ViewBag.Sinif;
    ViewBag.Sayfa = "Sinav";

}

@using Haveak_Pro.Models;

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINAV ATAMA</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>PERSONEL SINAV TANIMLAMA İŞLEMLERİ </strong>Güncelleme ve diğer işlemler</h3>
        </div>
        <div class="panel-body">
            @*<p>Sınava katılacak Öğrencilerin belirlendiği yer.</p>*@
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Sınav No :</label>
                <div class="col-md-9 col-xs-12" style="z-index: 5">
                    <div class="input-group">
                        <table style="z-index: 5">
                            <tr>
                                <td>
                                    <select id="Sinif" class="form-control select" onchange="SinifPersoneller();" data-live-search="true" style="z-index: 5">
                                        <option value="0">Sınıf Seçiniz</option>
                                        @foreach (var item in siniflar)
                                    {
                                        <option value="@item.ID">@item.SinifAdi (@(item.Firmalar == null ? "Yönetim Sınıf" : item.Firmalar.FirmaAdi))</option>
                                    }
                                    </select>
                                </td>
                                <td id="SinavKontrol" style="visibility: hidden">
                                    <select id="Sinavlar" class="form-control select" onchange="GetSinavPersoneller();" data-live-search="true" style="z-index: 5;">
                                        <option value="0">Sınav ve Sınıf</option>
                                        @foreach (var item in sinav)
                                    {
                                        string sinavTipler = "";
                                        string uygulama = item.Sinav_Sorular.Where(e => e.SinavTipi_Ref == 1).Count() > 0 ? "(UYG)" : "";
                                        string teorik = item.Sinav_Sorular.Where(e => e.SinavTipi_Ref == 2).Count() > 0 ? "(TEO)" : "";
                                        sinavTipler = uygulama + " " + teorik;
                                        <option value="@item.ID">@item.SinavNo @sinavTipler</option>
                                    }
                                    </select>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Sınav Tarihi :</label>
                <div class="col-md-9 col-xs-12">
                    <div class="input-group">
                        <input id="SinavTarihi" type="text" class="form-control datepicker" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Başlama Saati :</label>
                <div class="col-md-9 col-xs-12">
                    <div class="input-group">
                        <input id="BaslamaSaati" type="text" class="form-control timepicker24" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-xs-12 control-label">Bitiş Saati :</label>
                <div class="col-md-9 col-xs-12">
                    <div class="input-group">
                        <input id="BitisSaati" type="text" class="form-control timepicker24" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">SINIF ÖĞRENCİLER</a></li>
            <li><a href="#tab-second" role="tab" data-toggle="tab">SINAVA ATANAN PERSONELLER</a></li>
        </ul>
        <div class="panel-body tab-content">
            <div class="tab-pane active" id="tab-first">
                <div id="SinifOgrenciler">
                    <div class="alert alert-warning" role="alert">
                        <strong>SINIF SEÇİNİZ</strong> Sınıfa kayıtlı personeleri görmek için yukarıdan sınıf seciniz!.
                    </div>
                </div>
                <div>
                    <button class="btn btn-default">Temizle</button>
                    <input id="btnSinavata" type="button" value="Sınavlara Personel Ata" class="btn btn-danger" onclick="SinavaPersoneAta();" />
                </div>

            </div>
            <div class="tab-pane" id="tab-second">
                <div id="personeller" class="panel-body">
                    <div class="alert alert-warning" role="alert">
                        <strong>SINAV BİLGİSİ SEÇİNİZ</strong> Atanmış personelleri görmek için yukarıdan seçim yapınız.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<button type="button" id="onay" data-box="#message-box-success" style="visibility: hidden"></button>
<button type="button" id="onay2" data-box="#message-box-success2" style="visibility: hidden"></button>

<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>Sınav Sonuç Duyurusu personellere bildirilmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>Sınav Değerlemesi yapılan Sonuçlar, Personellere bildirilmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>

    function GetSinavPersoneller() {
        var yukleniyor = '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
        $("#personeller").html(yukleniyor);

        $('#Ogrenciler tbody tr td').find('div').attr('style', 'display.block');
        var idx = $('#Sinavlar').val();
        //$('#Sinavlar option[value="0"]').remove();
        $.ajax({
            url: '/PANEL/SinavIslemler/AtanmisPersonelCikarma',
            data: { 'sinavID': idx },
            success: function (result) {

                //$('#Personeller tbody').find('tr').each(function (ix, trx) {
                //    $(trx).find("td").eq(0).find("div").attr("style", "display:block");
                //});
                for (var i = 0; i < result.length; i++) {
                    var idz = result[i];
                    //$('#ch_' + idz).attr('style', 'backgroud-color:red');
                    $('#chkTyp' + idz).attr('style', 'display:none');
                }
                //$('#Ogrenciler tbody tr input').iCheck({
                //    checkboxClass: 'icheckbox_minimal-grey'
                //});
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

        $.get('@Url.Action("_SinavaAtananPersonel", "SinavIslemler")', { id: idx }, function (data) {
            $("#personeller").html(data);
        });
    }

    function SinifPersoneller() {
        var yukleniyor = '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
        $("#SinifOgrenciler").html(yukleniyor);
        var idx = $('#Sinif').val();
        //$('#Sinif option[value="0"]').remove();
        $('#SinavKontrol').css('visibility', 'visible');
        $.get('@Url.Action("_SinifOgrenci", "SinavIslemler")', { sinifID: idx }, function (data) {
            $("#SinifOgrenciler").html(data);
        });
    }


    function SinavaPersoneAta()
    {       
        let SinavIDx = parseInt($('#Sinavlar').val());
        let SinavTarihi = $('#SinavTarihi').val();
        let BaslamaSaati = $('#BaslamaSaati').val();
        let BitisSaati = $('#BitisSaati').val();
        let checkKontrol = 0;

        if (SinavIDx == 0) {
            alert('Lütfen Sınav bilgisini seçiniz');
            return;
        }

        var today = new Date();
        var bugun = today;
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        if (SinavTarihi < today) {
            alert('Sınav tarihi bugünden önce olamaz!');
            return;
        }

        var saat = bugun.getHours() + ":" + bugun.getMinutes() + ":" + bugun.getSeconds();
        var diff = (new Date("1970-1-1 " + saat) - new Date("1970-1-1 " + BaslamaSaati)) / 1000 / 60 / 60;

        if (SinavTarihi <= today && diff > 0) {
            alert('Sınav tarih ve saati mevcut zaman diliminden (şuan) sonra olmalı!');
            return;
        }
        $('#btnSinavata').attr('disabled', 'disabled');
        $('#btnSinavata').val("İşlem Sürüyor...");
        var idler = new Array();
        var index = 0;
        var control = $('#Ogrenciler tbody').find('tr').each(function (ix, trx) {
            var isCheck = $(trx).find("td").eq(0).find("input").is(":checked");
            if (isCheck) {

                var sinif_Ogrenci = $(trx).find("td").eq(1).find("input").val();
                idler[index] = sinif_Ogrenci;
                index++;
            }
        });       
        $.ajax({
            type: 'POST',
            url: "/PANEL/SinavIslemler/SPKaydetData",
            data: { 'SOgrenciID': idler, 'SinavID': SinavIDx, 'SinavTarih': SinavTarihi, 'BaslamaSaati': BaslamaSaati, 'BitisSaati': BitisSaati },
            traditional: true,
            success: function (result) {
                GetSinavPersoneller();
                if (result =="Kayıt ekleme Hatalı") {
                    alert(result + '. Personel atama yapılmadı!');
                }
                else {
                    alert(result + " " + index + ' Adet Personel Sinava Atanmıştır');
                }
                $('#btnSinavata').prop("disabled", false);
                $('#btnSinavata').val("Sınavlara Personel Ata");
            }
        });

    }
</script>
