﻿@model List<Personel_Sinavlar>
@{
    ViewBag.Title = "SinavCevaplama";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var Sinavlar = (List<Sinavlar>)ViewBag.Sinavlar;
    int sinavID = (int)ViewBag.SinavID;
    DateTime tarih = DateTime.Now.Date;
    TimeSpan saat = DateTime.Now.TimeOfDay;
}
@using Haveak_Pro.Models;
@*<script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>*@
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "PANEL" })">Panel Giriş</a></li>
    <li class="active">SINAV CEVAPLAR</li>
</ul>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>SINAV CEVAPLANDIRMA İŞLEMLERİ </strong>Sınav cevaplama bildirme</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sınavların cevaplandırıldığı ve Öğrencilere bildirimi yapıldığı yer.</p>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Sınav No :</label>
                            <div class="col-md-9 col-xs-12">
                                <div class="input-group">
                                    <select class="form-control select" onchange="SinavGetir();" id="sinavID" data-live-search="true">
                                        <option value="0">Sınav Adı Seçiniz</option>
                                        @foreach (var item in Sinavlar)
                                        {
                                            string sinavTipler = "";
                                            string uygulama = item.Sinav_Sorular.Where(e => e.SinavTipi_Ref == 1).Count() > 0 ? "(UYG)" : "";
                                            string teorik = item.Sinav_Sorular.Where(e => e.SinavTipi_Ref == 2).Count() > 0 ? "(TEO)" : "";
                                            sinavTipler = uygulama + " " + teorik;
                                            <option value="@item.ID" @(item.ID == sinavID ? "selected" : "")>@item.SinavNo @sinavTipler</option>
                                        }
                                    </select>
                                </div>
                                <span class="help-block">Sınav no girişi</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Sınavlar</h3>
                                @* <ul class="panel-controls">
                                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    </ul>*@
                            </div>
                            <div class="panel-body">
                                @if (Model.Count > 0)
                                {
                                    <table id="SinavPersoneller" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="btn-group btn-group-circle">
                                                        <button type="button" class="btn btn-success">Seç</button>
                                                        <button type="button" class="btn btn-circle-right btn-success dropdown-toggle m-r-20" data-toggle="dropdown">
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a href="javascript:SelectedData(1);">Hepsi</a>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li>
                                                                <a href="javascript:SelectedData(5);">Seçim İptal</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </th>
                                                <th>Sıra</th>
                                                <th class="hidden-phone">Sınav No</th>
                                                <th class="hidden-phone">Tarih</th>
                                                <th class="hidden-phone">TCNo</th>
                                                <th class="hidden-phone">Personel</th>
                                                <th class="hidden-phone">Bidirim</th>
                                                <th class="hidden-phone">D.S.Uygulama</th>
                                                <th class="hidden-phone">Y.S.Uyglama</th>
                                                <th class="hidden-phone">U.Boş</th>
                                                <th class="hidden-phone">D.S.Teorik</th>
                                                <th class="hidden-phone">Y.S.Teorik</th>
                                                <th class="hidden-phone">T.Boş</th>
                                                <th class="hidden-phone">S.Notu Uygulama</th>
                                                <th class="hidden-phone">S.Notu Teorik</th>
                                                <th class="hidden-phone">Netice</th>
                                                <th class="hidden-phone">Sınava</th>
                                                <th class="hidden-phone">Cevap Anahtarı</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
                                            {
                                                string Durumu = "KATILMADI!";
                                                string isaret = "-default";
                                                if (item.Data.Basladi == 1)
                                                {
                                                    Durumu = "KATILDI";
                                                    isaret = "-primary";
                                                }
                                                var tarihFark = tarih.Subtract(item.Data.SinavTarihi.Value).TotalSeconds > 0 ? true : false;
                                                bool saatfarki = saat.Subtract(item.Data.BitisSaati.Value).TotalSeconds > 0 ? true : false;
                                                <tr>
                                                    <td>
                                                        @if (!item.Data.SinavAciklama)
                                                        {
                                                            if (item.Data.Durum == "KALDI")
                                                            {
                                                                <input type="checkbox" class="icheckbox" value="1" data-id="3" />
                                                            }
                                                            else if (item.Data.Durum == "GEÇTİ")
                                                            {
                                                                <input type="checkbox" class="icheckbox" value="1" data-id="2" />
                                                            }
                                                            else
                                                            {
                                                                if (item.Data.Basladi != 0)
                                                                {
                                                                    <input type="checkbox" class="icheckbox" value="1" data-id="9" />
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @(item.Index + 1)
                                                        <input type="hidden" id="PSinav_@item.Data.ID" value="@item.Data.ID" />
                                                    </td>
                                                    <td>@item.Data.Sinavlar.SinavNo</td>
                                                    <td>@item.Data.SinavTarihi.Value.ToShortDateString()</td>
                                                    <td>
                                                        @item.Data.Sinif_Ogrenci.Personel.TCNo
                                                    </td>
                                                    <td>
                                                        @item.Data.Sinif_Ogrenci.Personel.Adi @item.Data.Sinif_Ogrenci.Personel.Soyadi
                                                    </td>
                                                    <td>
                                                        @if (item.Data.Basladi == 1)
                                                        {
                                                            @Html.CheckBox("SinavAciklama", item.Data.SinavAciklama, new { id = "SinavAciklama" + (item.Index + 1), @class = "icheckbox" })
                                                        }
                                                    </td>
                                                    <td>@item.Data.DogruSayisiUygulama</td>
                                                    <td>@item.Data.YanlisSayisiUgulama</td>
                                                    <td>@item.Data.UygulamaBos</td>
                                                    <td>@item.Data.DogruSayisiTeorik</td>
                                                    <td>@item.Data.YanlisSayisiTeorik</td>
                                                    <td>@item.Data.TeorikBos</td>
                                                    <td>@item.Data.SinavNotuUygulama</td>
                                                    <td>@item.Data.SinavNotuTeorik</td>
                                                    <td>
                                                        @if (item.Data.Durum == "KALDI")
                                                        {
                                                            <span class="label label-danger">@item.Data.Durum </span>
                                                        }
                                                        else if (item.Data.Durum == "GEÇTİ")
                                                        {
                                                            <span class="label label-success">@item.Data.Durum </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-info">@item.Data.Durum </span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span class="label label@(isaret)">@Durumu </span>

                                                    </td>
                                                    <td>
                                                        @{
                                                            string durumu = "";
                                                            if (item.Data.Durum == "KALDI")
                                                            {
                                                                durumu = "danger";
                                                            }
                                                            else if (item.Data.Durum == "AÇIKLANMADI")
                                                            {
                                                                durumu = "primary";
                                                                <span class="label label-@durumu"><b>@item.Data.Durum</b></span>
                                                            }
                                                            else
                                                            {
                                                                durumu = "success";
                                                            }
                                                            if (item.Data.Durum != "AÇIKLANMADI")
                                                            {
                                                                <a class="btn btn-default" onclick="SonucDetay('@item.Data.ID')"><span class="label label-@durumu"><b>@item.Data.Durum</b></span></a>
                                                                if (item.Data.Basladi == 0 && item.Data.Bitti == 0)
                                                                {
                                                                    <a href="#" onclick="CiktiAl('@item.Data.ID')">Çıktı</a>
                                                                }
                                                            }
                                                        }

                                                    </td>
                                                </tr>            }
                                        </tbody>
                                    </table>
                                                            }
                                                            else
                                                            {
                                                                <div id="personeller" class="panel-body">
                                                                    <div class="alert alert-warning" role="alert">
                                                                        <strong>SINAV BİLGİSİ SEÇİNİZ</strong> Atanmış personelleri görmek için yukarıdan seçim yapınız.
                                                                    </div>
                                                                </div>
                                                            }

                                <br />
                                <br />

                            </div>
                        </div>

                    </div>
                    @if (Model.Count > 0)
                    {
                        <div class="panel-footer">
                            <button class="btn btn-default">Temizle</button>
                            <input type="button" class="btn btn-success" onclick="SinavDegerlendirme();" value="Değerlendirme İşlemi Başlat" />
                            <input type="button" class="btn btn-danger" onclick="IslemDegerleme();" value="Sınav Sonucu Bildir" />
                            <button type="button" class="btn btn-warning" onclick="ExportToExcel()">Excel Çıktısı Al</button>
                            @*<input type="button" id="KaydetBtn" class="btn btn-primary" value="Kaydet" onclick="Ekle();" />
                                <input type="button" id="GuncelleBtn" class="btn btn-danger" style="visibility: hidden" value="Güncelle" onclick="Guncelle();" />*@
                        </div>
                    }
                </div>
            </form>

        </div>
    </div>

</div>
<!-- END PAGE CONTENT WRAPPER -->

<button id="onay" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head" style="visibility: hidden"></button>
<button id="onay2" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head2" style="visibility: hidden"></button>
<button id="onay3" class="btn btn-default" data-toggle="modal" data-target="#modal_no_head3" style="visibility: hidden"></button>
<button id="uyari" class="btn btn-default" data-toggle="modal" data-target="#modal_basic" style="visibility: hidden"></button>
<div class="modal" id="modal_no_head" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>İşlem Onayı</h3>
                <p>Sınav Değerlendirme işlemi başarı ile gerçekleşti</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Refresh2();">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_no_head2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>İşlem Onayı</h3>
                <p>Sınav Değerlemesi yapılan Sonuçlar, Personellere bildirilmiştir.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Refresh2();">Tamam</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_no_head3" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Boş Personel</h3>
                <p>Lütfen Personel Seçiniz!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Dikkat</h4>
            </div>
            <div class="modal-body">
                Sınav Sonuçları Personellere bildirilecektir! Eminmisiniz!

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DuyuruGunder();">Tamam</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal" id="sonuc_cikti" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Sınav Sonuç Duyurusu</h4>
                </div>
                <div class="modal-body" id="Cevaplar">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>*@
@*<script type="text/javascript" src="~/js/plugins/jquery/jquery.min.js"></script>*@

@section scripts{
    <script type="text/javascript">
    $('#SinavPersoneller').dataTable({
        "columnDefs": [{
            "targets": 0,
            "orderable": false
        }],
        "bPaginate": false
    });

        function ExportToExcel() {
            var reportName = "SinifPersonelRapor_";
            var day = @DateTime.Now.Day;
            var month = @DateTime.Now.Month;
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#SinavPersoneller").table2excel({
                filename: rname
            });
        }

    function SelectedData(idx) {

        $('#SinavPersoneller > tbody > tr').each(function (ix, trx) {

            var seciliPersonel = $(trx).find("td").eq(0).find("input").data("id");
            if (seciliPersonel != null) {               

                 if (seciliPersonel == idx || idx == 1) {
                    $(trx).find("td").eq(0).find("input").prop("checked", true);
                    $(trx).find("td").eq(4).find("input").prop("checked", true);
                    $(trx).find("td").eq(0).find("input").iCheck({ checkboxClass: 'icheckbox_minimal-grey' });
                    $(trx).find("td").eq(4).find("input").iCheck({ checkboxClass: 'icheckbox_minimal-grey' });
                }
                //else if (seciliPersonel == if;
                }
            });
    }


    @*function ExportToExcel(tableID, filename = '')
    {
            var reportName = "SinavCevapRaporu_";
            var day = @DateTime.Now.Day;
            var month = @(DateTime.Now.Month + 1);
            var year = @DateTime.Now.Year;
            var hour = @DateTime.Now.Hour;
            var mins = @DateTime.Now.Minute;
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var a = document.createElement('a');
            var data_type = 'data:application/vnd.ms-excel;charset=utf-8';
            var table_html = $('#SinavPersoneller')[0].outerHTML;
            while (table_html.indexOf('ç') != -1) table_html = table_html.replace('ç', '&ccedil;');
            while (table_html.indexOf('ğ') != -1) table_html = table_html.replace('ğ', '&#287;');
            while (table_html.indexOf('ı') != -1) table_html = table_html.replace('ı', '&#305;');
            while (table_html.indexOf('ö') != -1) table_html = table_html.replace('ö', '&ouml;');
            while (table_html.indexOf('ş') != -1) table_html = table_html.replace('ş', '&#351;');
            while (table_html.indexOf('ü') != -1) table_html = table_html.replace('ü', '&uuml;');
            while (table_html.indexOf('Ç') != -1) table_html = table_html.replace('Ç', '&Ccedil;');
            while (table_html.indexOf('Ğ') != -1) table_html = table_html.replace('Ğ', '&#286;');
            while (table_html.indexOf('İ') != -1) table_html = table_html.replace('İ', '&#304;');
            while (table_html.indexOf('Ö') != -1) table_html = table_html.replace('Ö', '&Ouml;');
            while (table_html.indexOf('Ş') != -1) table_html = table_html.replace('Ş', '&#350;');
                while (table_html.indexOf('Ü') != -1) table_html = table_html.replace('Ü', '&Uuml;');

            table_html = table_html.replace(/<tfoot[\s\S.]*tfoot>/gmi, '');
            var css_html = '<style>td {border: 0.5pt solid #c0c0c0} .tRight { text-align:right} .tLeft { text-align:left} </style>';
            a.href = data_type + ',' + encodeURIComponent('<html><head>' + css_html + '</' + 'head><body>' + table_html + '</body></html>');
            a.download = reportName + postfix + '.xls';
            a.click();
        }*@

    function SinavGetir() {
        var sinavId = $('#sinavID').val();
        if (sinavId != 0) {
            window.location.href = '/PANEL/SinavIslemler/SinavCevaplama?sinavID=' + sinavId;
        }

    }

    function IslemDegerleme() {
        $('#uyari').click();
    }

    function SonucDetay(idx) {
        window.open('/PANEL/SinavIslemler/SinavCevaplar/' + idx,'_blank');
    }

    @*function SonucDetay(idx) {
        var yukleniyor = '<div class="progress">' +
                                        '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
                                    '</div>';
        $("#Cevaplar").html(yukleniyor);
        $.get('@Url.Action("_SinavCevaplar", "SinavIslemler", new { area = "PANEL" })', { id: idx }, function (data) {
            $("#Cevaplar").html(data);
        });
    }*@

    function SinavDegerlendirme() {
        var sayilar = new Array();
        var index = 0;
        $('#SinavPersoneller > tbody > tr').each(function (ix, trx) {

            var seciliPersonel = $(trx).find("td").eq(0).find("input").is(":checked");
            if (seciliPersonel) {
                var pId = $(trx).find("td").eq(1).find("input").val();
                sayilar[index] = pId;
                index++;
            }
        });
        if (index == 0) {
            $('#onay3').click();
            return;
        }
        $.ajax({
            url: "/Panel/SinavIslemler/SinavSonuclandirma",
            data: { 'postData': sayilar },
            traditional: true,
            success: function (result) {
                if (result) {
                    $('#onay').click();
                }

            }
        });
    }



        function DuyuruGunder() {
            var sinavID = $('#sinavID').val();
            var sayilar = new Array();
            var index = 0;
            $('#SinavPersoneller > tbody > tr').each(function (ix, trx) {

                var seciliPersonel = $(trx).find("td").eq(0).find("input").is(":checked");
                if (seciliPersonel) {
                    
                    var pId = $(trx).find("td").eq(1).find("input").val();
                    sayilar[index] = pId;
                    index++;
                }
            });
            if (index == 0) {
                $('#onay3').click();
                return;
            }
        $.ajax({
            url: "/Panel/SinavIslemler/DuyuruGonder",
            data: { 'sinavID': sinavID, 'idler': sayilar },
            traditional: true,
            success: function (result) {
                if (result) {
                    $('#onay2').click();
                }
            }
        });
    }

    function Refresh() {
        window.location.href = '@Url.Action("SinavCevaplama", "SinavIslemler", new { area = "PANEL" })';
    }
    function Refresh2() {
        var sinavId = $('#sinavID').val();
        window.location.href = '/PANEL/SinavIslemler/SinavCevaplama?sinavID=' + sinavId;
    }

    </script>
}
@*<script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/actions.js"></script>*@
