﻿@model List<Sinav_Sorular>
@{
    ViewBag.Title = "SinavSorular";
    Layout = "~/Areas/PANEL/Views/Shared/_LPanel.cshtml";
    var sinavTip = (List<SinavTipi>)ViewData["SinavTipi"];
    var sorukategori = (List<SoruKategori>)ViewData["SoruKategori"];
    int kdelici = 0, silah = 0, duzenek = 0, tmaddeler = 0, sivilar = 0, duzKargo = 0, diger = 0, toplam = 0, temiz = 0;
    string sinavNo = (string)ViewBag.SinavNo;
    int sinavID = (int)ViewBag.SinavID;
}

@using Haveak_Pro.Models;


<ul class="breadcrumb push-down-0">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Ana Sayfa</a></li>
    <li class="active">TANIMLI SORULAR</li>
</ul>

<div class="content-frame">

    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span>SINAVA ATANMIŞ SORULAR</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-8">
                    <h4>
                        <p class="text-danger">Tanımlı Sorular</p>
                    </h4>

                    <div class="panel-body">
                        <table class="table table-bordered datatable">
                            <thead>
                                <tr>
                                    @* <th style="width: 8px;">A/P</th>*@
                                    <th>Sıra</th>
                                    <th>Madde Kategori</th>
                                    <th>Resim</th>
                                    <th>Ünite</th>
                                    <th>Derece</th>
                                    <th>Soru</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    foreach (var item in Model.Select((x, i) => new { Index = i, Data = x }))
                                    {
                                        if (item.Data.SinavTipi_Ref != 2)
                                        {
                                            if (item.Data.UniteSorular.SBMaddeResimler == null)
                                            {
                                                temiz += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 7) //Diğer
                                            {
                                                diger += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 3) //Düzenek
                                            {
                                                duzenek += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 2) //Kesici Delici
                                            {
                                                kdelici += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 1) // Silah
                                            {
                                                silah += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 4) // T Madddeler
                                            {
                                                tmaddeler += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 5) // Sıvılar
                                            {
                                                sivilar += 1;
                                            }
                                            else if (item.Data.UniteSorular.SBMaddeResimler.SBTM_Ref == 6) // Düzenek Kargo
                                            {
                                                duzKargo += 1;
                                            }
                                        }
                                        <tr>

                                            <td>
                                                <span class="badge badge-inverse">@(item.Index + 1)</span>
                                                <input type="hidden" id="souID@(item.Index + 1)" value="@item.Data.UniteSorular_Ref" />
                                            </td>
                                            <td>
                                                @(item.Data.UniteSorular.SBMaddeResimler == null ? "-" : item.Data.UniteSorular.SBMaddeResimler.SBTehlikeliMKategori.Isim)
                                            </td>
                                            <td>
                                                <div id="Gorsel@(item.Index + 1)" style="width: 132px; height:100px">
                                                    <img id="Resim@(item.Index + 1)" style="width:128px;height:96px; position: absolute;" src="~/@(item.Data.UniteSorular.SBagajlar == null ? "Content/img/RYokBagaj.jpg" : item.Data.UniteSorular.SBagajlar.Resim)" />
                                                    @if (item.Data.UniteSorular.SBMaddeResimler != null)
                                                    {
                                                        <img id="pointerResim@(item.Index + 1)" src="~/@item.Data.UniteSorular.SBMaddeResimler.Resim" alt="Tıklandı" style="margin-left: @((item.Data.UniteSorular.XKordinat / 8).ToString().Replace(',', '.'))px; margin-top: @((item.Data.UniteSorular.YKordinat / 8).ToString().Replace(',', '.'))px; mix-blend-mode: multiply; -webkit-transform: rotate(@((item.Data.UniteSorular.TMVektor).ToString().Replace(',', '.')))deg); width:@((item.Data.UniteSorular.TMOlcek.Value / 10).ToString().Replace(',', '.'))%;" />
                                                    }
                                                </div>
                                            </td>
                                            <td>@item.Data.UniteSorular.Unite.UniteAdi</td>
                                            <td>@item.Data.UniteSorular.SoruKategori.Kategori</td>
                                            <td class="hidden-phone">@item.Data.UniteSorular.Soru</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="Guncelle(@item.Data.ID)">Sil</button>
                                            </td>
                                        </tr>            }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-4">
                    <h4>
                        <p class="text-danger">Yeni Soru Tanımlama (Bilgiler)</p>
                    </h4>
                    <div class="panel-body">
                        <form action="@Url.Action("SinavKaydet", "SinavIslemler", new { area = "Panel" })" class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label">Sınav Tipi</label>
                                <div class="controls">
                                    <select class="form-control select" tabindex="1" id="SinavTipi_Ref">
                                        <option value="0">Sınav Tipi Seçin</option>
                                        @foreach (var item in sinavTip.Where(r => r.ID != 3))
                                        {
                                            //Testler Gelmiyecek
                                            <option value="@item.ID">@item.Baslik</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="control-group" id="uniteler">
                               
                            </div>
                            <div class="control-group">
                                <label class="control-label">Sınav No</label>
                                <div class="controls">
                                    <h5>@sinavNo</h5>
                                    <input type="hidden" value="@sinavID" id="SinavNo" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Soru Oranlar</label>
                                <div class="controls">
                                    @{
                                        toplam = silah + duzenek + kdelici + tmaddeler + sivilar + duzKargo + diger + temiz;
                                        if (toplam == 0)
                                        {
                                            toplam = 1;
                                        }
                                    }
                                    @if (silah != 0)
                                    {
                                        decimal oranSilah = (Convert.ToDecimal(silah) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Silahlar :</label>
                                        <h5><b>@silah - %@Math.Round(oranSilah, 2)</b></h5>
                                    }
                                    @if (duzenek != 0)
                                    {
                                        decimal oranDuzenek = (Convert.ToDecimal(duzenek) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Düzenek  : </label>
                                        <h5><b>@duzenek - %@Math.Round(oranDuzenek, 2)</b></h5>
                                    }
                                    @if (kdelici != 0)
                                    {
                                        decimal orankdelici = (Convert.ToDecimal(kdelici) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Kesici Delici :</label>
                                        <h5><b>@kdelici - %@Math.Round(orankdelici, 2)</b></h5>
                                    }
                                    @if (tmaddeler != 0)
                                    {
                                        decimal orantmadde = (Convert.ToDecimal(tmaddeler) / Convert.ToDecimal(toplam)) * 100;
                                        <label>T.Madde  : </label>
                                        <h5><b>@tmaddeler - %@Math.Round(orantmadde, 2)</b></h5>
                                    }
                                    @if (sivilar != 0)
                                    {
                                        decimal oransivilar = (Convert.ToDecimal(sivilar) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Sıvı Madde :</label>
                                        <h5>@sivilar - %@Math.Round(oransivilar, 2)</h5>
                                    }
                                    @if (duzKargo != 0)
                                    {
                                        decimal oranduzKargo = (Convert.ToDecimal(duzKargo) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Düzenek Kargo EDS :</label>
                                        <h5><b>@duzKargo - %@Math.Round(oranduzKargo, 2)</b></h5>
                                    }
                                    @if (diger != 0)
                                    {
                                        decimal orandiger = (Convert.ToDecimal(diger) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Diğer : </label>
                                        <h5><b>@diger - %@Math.Round(orandiger, 2)</b></h5>
                                    }
                                    @if (temiz != 0)
                                    {
                                        decimal orantemiz = (Convert.ToDecimal(temiz) / Convert.ToDecimal(toplam)) * 100;
                                        <label>Temiz : </label>
                                        <h5><b>@temiz - %@Math.Round(orantemiz, 2)</b></h5>
                                    }
                                    <label>Uygulama Soru Adedi : </label>
                                    <h5><b>@Model.Where(w => w.SinavTipi_Ref == 1 && w.IsActive == true && w.IsDelete == false).Count()</b></h5>
                                    <label>Teorik Soru Adedi : </label>
                                    <h5><b>@Model.Where(w => w.SinavTipi_Ref == 2 && w.IsActive == true && w.IsDelete == false).Count()</b></h5>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="col-md-12">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">SORULAR</h3>
                        </div>
                        <div class="panel-body">
                            <div id="questions">
                                <div class="progress">
                                    @*<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @* <div class="alert alert-danger" role="alert">
                    <strong>Üzügünüz!</strong> Hesabına atanmış aktif bir Kurs Eğitimi Bulunmamaktadır!!!
                </div>*@

        </div>
    </div>
</div>


<input type="hidden" id="ID" value="" />
<button type="button" id="uyari" class="btn btn-warning mb-control" data-box="#message-box-warning" style="visibility: hidden"></button>
<button type="button" id="uyari2" class="btn btn-warning mb-control" data-box="#message-box-warning2" style="visibility: hidden"></button>
<button type="button" id="uyari3" class="btn btn-warning mb-control" data-box="#message-box-warning3" style="visibility: hidden"></button>
<button type="button" id="onay" class="btn btn-info mb-control" data-box="#message-box-info" style="visibility: hidden"></button>
<button type="button" id="silme" class="btn btn-danger mb-control" data-box="#message-box-sound-2" style="visibility: hidden"></button>

<div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Lütfen Tip ve Ünite bilgisini seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Sınava atamak İçin Lütfen Soru Seçiniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-warning animated fadeIn" id="message-box-warning3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-warning"></span>Dikkat</div>
            <div class="mb-content">
                <p>Eklemeye çalıştığınız sorulardan sinavda ekli olanlar bulunmakta, kontrol ediniz!</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-info animated fadeIn" id="message-box-info">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-info"></span>İşlem Onayı</div>
            <div class="mb-content">
                <p>İşleminiz Başarı ile gerçekleşmiştir.</p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onclick="Refresh();">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span>Dikkat!</div>
            <div class="mb-content">
                <p>Seçili soru sistemden kaldırılacaktır Eminmisiniz? </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-danger btn-lg pull-right mb-control-close" onclick="Sil();">Evet</button>
                <button class="btn btn-default btn-lg pull-right mb-control-close">Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="otomatiksoruata" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defModalHead">OTOMATİK SORU SEÇME (HAZIRLAMA)</h4>
            </div>
            <div class="modal-body">
                <label>Soru Sayısı</label>
                <input type="text" class="form-control" id="sorusayi" /><br />
                <label>Soru Seviye</label>
                <select class="form-control select" id="sorukategoriId">
                    @foreach (var item in sorukategori)
                    {
                        <option value="@item.ID">@item.Kategori</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SorulariSec();" class="btn btn-info" data-dismiss="modal">Uygula</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        var secilensorular = [];
        function SorulariSec() {

            $.each(secilensorular, function (i, data) {
                $('#scm_' + data).prop('checked', false);
            });
            let soruadet = $('#sorusayi').val();
            let soruseviye = $('#sorukategoriId').val();
            let uniteId = $('#UniteSorular_Ref').val();
            if (soruadet == "" || uniteId =="0") {
                alert("Lütfen sinav soru adedi veya Unite bilgisi giriniz!");
                return;
            }

            var seviyesoruindex = [];
            var duzenekKategoriIndex = [];
            var seviyesoruadet = 0;
            $('input[name=seviye]').each(function () {
                let seviyeRef = $(this).val();
                if (soruseviye == seviyeRef) {
                    seviyesoruadet += 1;
                    let refID = $(this).attr('id');
                    let indexRef = refID.split('_')[1];
                    let dkategoriId = $('#mk_' + indexRef).val();
                    seviyesoruindex.push({ index: indexRef, dkategori: dkategoriId });
                    duzenekKategoriIndex.push(dkategoriId);                    
                }
            });
            
            if (parseInt(soruadet) > seviyesoruadet) {
                alert("Seçilecek soru sayısı kadar unite içinde tanımlı soru bulunmamaktadır!");
                return;
            }
            secilensorular = [];
            $.post('@Url.Action("OtomatikSoruListe", "SinavIslemler",new { area ="PANEL"})', { 'soruadet': soruadet, 'uniteId': uniteId  }, function (result) {
                $.each(result, function (i, data) {
                    
                       //let index = i + 1;
                       let adet = data.adet;
                       //let yuzde = data.yuzde;
                       //let madde = data.madde;
                       let madde_Id = data.madde_Id;                      
                       var maddeKategorIndexListe = seviyesoruindex.filter(function (obj) {
                           if (parseInt(obj.dkategori) === madde_Id) {
                               return obj.index;
                           }
                       });
                    
                       for (var i = 1; i <= adet; i++) {
                           var rndItem = maddeKategorIndexListe[Math.floor(Math.random() * maddeKategorIndexListe.length)];
                           if (!secilensorular.includes(rndItem)) {
                               secilensorular.push(rndItem);
                           }
                           else {
                               var rndItemRpt = maddeKategorIndexListe[Math.floor(Math.random() * maddeKategorIndexListe.length)];
                               if (!secilensorular.includes(rndItemRpt)) {
                                   secilensorular.push(rndItemRpt);
                               }
                               else {
                                   var rndItemRpt2 = maddeKategorIndexListe[Math.floor(Math.random() * maddeKategorIndexListe.length)];
                                   if (!secilensorular.includes(rndItemRpt2)) {
                                       secilensorular.push(rndItemRpt2);
                                   }
                               }
                           }
                       }
                   });
                
                var secilensoruadet = 0;
                $.each(secilensorular, function (i, data) {
                                        
                    if (data != undefined) {
                        $('#scm_' + data.index).prop('checked', true);
                        secilensoruadet++;
                    }                    
                });
                alert(secilensoruadet);
            });


        }


    function GetUniteSorular(id) {
       var yukleniyor =  '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Yükleniyor..</div>' +
            '</div>';
       $("#questions").html(yukleniyor);

        var sinavId = '@sinavID';
        var idx = $('#UniteSorular_Ref').val();
        var tipIx = $('#SinavTipi_Ref').val();
        if (tipIx == 0 || idx == 0) {
            $('#uyari').click();
            return;
        }
        $.get('@Url.Action("_USorular", "SinavIslemler")', { id: idx, tip: tipIx, sinavno: sinavId }, function (data) {
            $("#questions").html(data);
        });
        }

        $('#SinavTipi_Ref').on('change', function (result) {
            var id = $(this).val();
            if (id == "0") {
                return;
            }
            $.post("@Url.Action("_GetSinavTipSorular", "SinavIslemler",new { area ="PANEL" })", { 'stipiref': id }, function (data) {
                $('#uniteler').html(data);
            });
        });

    function Guncelle(id) {
        $('#ID').val(id);
        $('#silme').click();
    }

    function Sil() {
        var id = $("#ID").val();
        $.ajax({
            url: "/PANEL/SinavIslemler/TanimliSoruGuncelle",
            data: { 'id': id },
            success: function (data) {
                if (data) {
                    $('#onay').click();
                    Refresh();
                }
            },
            error: function (hata) {
                alert(hata.responseText);
            }
        });

    }

    function Refresh() {
        window.location.href = '/PANEL/SinavIslemler/SinavSorular/@sinavID';
    }
    </script>
}