﻿@model List<SBMaddeResimler>
@{
    int index = 0;
    }
@using Haveak_Pro.Models;

<form action="#" role="form" class="form-horizontal">
    @foreach (var item in Model)
    {
        index++;      
        <div class="form-group">
            <label class="col-md-4 control-label text-left">
                <img id="Resim" src="~/@item.Resim" class="img-text" width="117" style="margin-left:5px"></label>
            <div class="col-md-3">
                <label class="switch">
                    <input type="radio" name="switch" id="@item.ID" />
                    <span></span>
                </label>
            </div>
            <div class="col-md-5">
                <span class="help-block">@(index)) @item.SBTehlikeliMKategori.Isim</span>
            </div>
        </div>        
    }
</form>
